<div class="container">
  <div class="container__left">
    <div class="row__info">
      <h1>Career Fair</h1>
      <p>
        Career Fair is a free online job and internship clearing-house. Its primary goal is to reduce the effects of frictional unemployment through means of faster and more effective search processes, centralization of the application process, and the mitigation of necessary work required for simultaneous application submissions and mass application handling.
      </p>
      <a mat-button disableRipple="true" routerLink="/login">Read More</a>
    </div>
    <div class="row__copyright">
      <span>©2019 <a href="#">yourcareerfair.com</a> | Cookies, Privacy and Terms</span>
    </div>
  </div>
  <div class="container__right">
    <div class="row__user_roles">
      <span class="user_role" [class.active]="checkUserRole('applicant')" (click)="switchRole('applicant')">I’M AN APPLICANT<div class="active-border"></div></span>
      <span class="user_role" [class.active]="checkUserRole('recruiter')" (click)="switchRole('recruiter')">I’M A RECRUITER<div class="active-border"></div></span>
    </div>
    <div class="row__form first">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <mat-icon matPrefix>person_outline</mat-icon>
        <input matInput placeholder="First Name" type="text" [formControl]="first_name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <mat-icon matSuffix *ngIf="first_name.valid && last_name.valid">done</mat-icon>
        <mat-icon matSuffix class="error-field" *ngIf="(!first_name.valid || !last_name.valid) && (first_name.touched && last_name.touched)">close</mat-icon>

        <input matInput placeholder="Last Name" type="text" [formControl]="last_name">
      </mat-form-field>
    </div>
    <div class="row__form">
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <mat-icon matPrefix>mail_outline</mat-icon>
        <input matInput placeholder="Email Address" type="email" [formControl]="emailAddress">
        <mat-icon matSuffix *ngIf="emailAddress.valid">done</mat-icon>
        <mat-icon matSuffix class="error-field" *ngIf="!emailAddress.valid && emailAddress.touched">close</mat-icon>
      </mat-form-field>
    </div>
    <div class="row__form last">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input matInput placeholder="Password" type="password" [formControl]="password">
        <span matSuffix *ngIf="password.valid" [class.weak]="passwordStrength==='weak'" [class.medium]="passwordStrength==='medium'">{{passwordStrength}}</span>
        <mat-icon matSuffix class="error-field" *ngIf="!emailAddress.valid && emailAddress.touched">close</mat-icon>
      </mat-form-field>
    </div>
    <div class="row__checkbox">
      <round-checkbox id="agree-term" title="I Agree Careerfair's Terms & Conditions" [checked]="isAgreeTerm" (statusChange)="toggleAgreeTerm($event)"></round-checkbox>
    </div>
    <div class="row__buttons">
      <action-button type="stroked" title="Login" (click)="navigateToLogin()"></action-button>
      <action-button type="flat" title="Create Account" color="primary" (click)="signUp()"></action-button>
    </div>
    <p>Or you can join with</p>
    <div class="row__social_icons">
      <img src="assets/icons/ic_google_circle.svg">
      <img src="assets/icons/ic_facebook_circle.svg">
      <img src="assets/icons/ic_twitter_circle.svg">
    </div>
    <div class="row__copyright">
      <span>©2019 <a href="#">yourcareerfair.com</a> | Cookies, Privacy and Terms</span>
    </div>
  </div>
</div>