<div class="container">
  <div class="container__left">
    <div class="row__info">
      <h1>Welcome to yourCareerFair</h1>
      <p>
        yourCareerFair offers unparalleled, free, search and screening functionality for both applicants and recruiters. Using standardized user inputs as well as proprietary machine learning and AI algorithms, this platform is capable of comprehensively assessing the estimated compatibility of any user and position pair in real time for users to see. In addition, yourCareerFair leverages this algorithm in its search process, allowing for applicants and recruiters to search for positions and applicants based on, in part, qualification level estimates and other pertinent metrics. For those who prefer a more traditional search, yourCareerFair also allows for searches filtered on other variables such as required skills, education, and title. Our hope is that these utilities are effective at attenuating the pernicious effects of labor market inefficiency and helping all people to find appropriate, interesting, and compatible employment.
      </p>
      <a mat-button disableRipple="true" routerLink="/login">Read More</a>
    </div>
    <div class="row__copyright">
      <span>©2019 <a href="#">yourcareerfair.com</a> | Cookies, Privacy and Terms</span>
    </div>
  </div>
  <div class="container__right" [formGroup]="registrationForm">
    <div class="row__user_roles">
      <span class="user_role" [class.active]="checkUserRole('applicant')" (click)="switchRole('applicant')">I’M AN APPLICANT<div class="active-border"></div></span>
      <span class="user_role" [class.active]="checkUserRole('recruiter')" (click)="switchRole('recruiter')">I’M A RECRUITER<div class="active-border"></div></span>
    </div>
    <div class="row__form first">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <mat-icon matPrefix>person_outline</mat-icon>
        <input matInput placeholder="First Name" type="text" [formControl]="registrationForm.controls.first_name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <mat-icon matSuffix *ngIf="registrationForm.controls.first_name.valid && registrationForm.controls.last_name.valid">done</mat-icon>
        <mat-icon matSuffix class="error-field" *ngIf="(!registrationForm.controls.first_name.valid || !registrationForm.controls.last_name.valid) && (registrationForm.controls.first_name.touched && registrationForm.controls.last_name.touched)">close</mat-icon>

        <input matInput placeholder="Last Name" type="text" [formControl]="registrationForm.controls.last_name">
      </mat-form-field>
    </div>
    <div class="row__form">
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <mat-icon matPrefix>mail_outline</mat-icon>
        <input matInput placeholder="Email Address" type="email" [formControl]="registrationForm.controls.emailAddress">
        <mat-icon matSuffix *ngIf="registrationForm.controls.emailAddress.valid">done</mat-icon>
        <mat-icon matSuffix class="error-field" *ngIf="!registrationForm.controls.emailAddress.valid && registrationForm.controls.emailAddress.touched">close</mat-icon>
      </mat-form-field>
    </div>
    <div class="row__form last">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input matInput placeholder="Password" type="password" [formControl]="registrationForm.controls.password">
        <span matSuffix *ngIf="registrationForm.controls.password.valid" [class.weak]="passwordStrength==='weak'" [class.medium]="passwordStrength==='medium'">{{passwordStrength}}</span>
        <mat-icon matSuffix class="error-field" *ngIf="!registrationForm.controls.emailAddress.valid && registrationForm.controls.emailAddress.touched">close</mat-icon>
      </mat-form-field>
    </div>
    <div class="row__checkbox">
      <round-checkbox id="agree-term" title="I Agree to CareerFair's Terms & Conditions" [checked]="isAgreeTerm" (statusChange)="toggleAgreeTerm($event)"></round-checkbox>
    </div>
    <div class="row__buttons">
      <action-button type="stroked" title="Login" (click)="navigateToLogin()"></action-button>
      <action-button type="flat" title="Create Account" color="primary" (click)="signUp()" [disabled]="!(registrationForm.valid && isAgreeTerm)"></action-button>
    </div>
    <div class="row__copyright">
      <span>©2019 <a href="#">yourcareerfair.com</a> | Cookies, Privacy and Terms</span>
    </div>
  </div>
</div>