<div class="application-edit-template">
  <div class="edit-title">
    <a (click)="onClickEdit()">Edit Template</a>
  </div>
  <h1 class="title">Application Template</h1>
  <p>Note that no individual may view this application template other than yourself and the recruiters managing
    positions you've applied to. Please fill these forms out in order to apply to positions on this site. Once
    completed you will not be asked for this information again.<br><br></p>

  <div *ngIf="workAuth" class="row">
    <h3>Work Authorization</h3>
    <p>Are you authorized to work in the United States</p>
    <p class="response">{{workAuth.work_auth === 1 ? 'Yes' : 'No'}}</p>
    <p>What type of authorization do you maintain (if applicable)?</p>
    <p class="response">{{workAuth.proof_auth ? workAuth.proof_auth : 'None'}}</p>
    <p>Will you ever require support to acquire a work visa or a U.S citizenship?</p>
    <p class="response">{{workAuth.visa_support === 1 ? 'Yes' : 'No'}}</p>
  </div>

  <div *ngIf="militaryService && militaryService.military_status" class="row">
    <h3>Military Service</h3>
    <ng-container *ngIf="true; let short_desc">
      <p *ngIf="short_desc" class="short-desc">Veteran Form:<br><br>
        the Vietnam Era Veterans’ Readjustment Assistance Act of 1974, as amended by the Jobs for Veterans Act of
        2002, 38 U.S.C. 4212 (VEVRAA), which requires government contractors to take affirmative action to employ and
        advance in employment: (1) disabled veterans; (2) recently separated veterans; (3) active duty wartime or
        campaign badge veterans; and (4) Armed Forces service medal veterans. ...</p>
      <p *ngIf="!short_desc">Veteran Form:<br><br>
        the Vietnam Era Veterans’ Readjustment Assistance Act of 1974, as amended by the Jobs for Veterans Act of
        2002, 38 U.S.C. 4212 (VEVRAA), which requires government contractors to take affirmative action to employ and
        advance in employment: (1) disabled veterans; (2) recently separated veterans; (3) active duty wartime or
        campaign badge veterans; and (4) Armed Forces service medal veterans. These classifications are defined as
        follows and are hereafter referred to all together as "protected veterans": A "disabled veteran" is one of the
        following: a veteran of the U.S. military, ground, naval or air service who is entitled to compensation (or
        who but for the receipt of military retired pay would be entitled to compensation) under laws administered by
        the Secretary of Veterans Affairs; or a person who was discharged or released from active duty because of a
        service-connected disability.<br><br>
        A "recently separated veteran" means any veteran during the three-year period beginning on the date of such
        veteran’s discharge or release from active duty in the U.S. military, ground, naval, or air service.<br><br>
        An "active duty wartime or campaign badge veteran" means a veteran who served on active duty in the U.S.
        military, ground, naval or air service during a war, or in a campaign or expedition for which a campaign badge
        has been authorized under the laws administered by the Department of Defense.<br><br>
        An "Armed forces service medal veteran" means a veteran who, while serving on active duty in the U.S.
        military, ground, naval or air service, participated in a United States military operation for which an Armed
        Forces service medal was awarded pursuant to Executive Order 12985.<br><br>
        *If you believe you belong to any of the categories of protected veterans listed above, please indicate by
        checking the appropriate box below. As a Government contractor subject to VEVRAA, we request this information
        in order to measure the effectiveness of the outreach and positive recruitment efforts we undertake pursuant
        to VEVRAA.<br><br>
        Submission of this information is voluntary and refusal to provide it will not subject you to any adverse
        treatment. The information provided will be used only in ways that are not inconsistent with VEVRAA as
        amended. We are an equal opportunity employer. We do not discriminate in hiring or employment against any
        individual on the basis of race, color, gender, national origin, ancestry, religion, physical or mental
        disability, age, veteran status, sexual orientation, gender identity or expression, marital status, pregnancy,
        citizenship, or any other factor protected by anti-discrimination laws.</p>
      <a (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
    </ng-container>
    <p>Response</p>
    <p class="response">{{militaryService.military_status}}</p>
  </div>

  <div *ngIf="criminalHistories" class="row">
    <h3>Criminal History</h3>
    <p>If you have ever been convicted of a misdemeanor or felony offense please provide the following information.
      Infractions may be excluded. If you have never been convicted of such an offense, please leave this section
      blank.</p>

    <ng-container *ngIf="criminalHistories.length > 0">
      <ul class="criminal">
        <li *ngFor="let history of criminalHistories; let i = index;">
          <div class="editor-container">
            <div class="detail-info name-field">
              <h4 *ngIf="history.charge" class="detail-info__left-top">{{history.charge}}</h4>
              <small *ngIf="history.arrest_date" class="detail-info__left-bottom">Arrested on
                {{helperService.convertToFormattedString(history.arrest_date, 'll')}}</small>
            </div>
          </div>
          <ng-container *ngIf="true; let short_desc">
            <p *ngIf="history.explanation"
              [class.short-desc]="short_desc && history.explanation.length > helperService.shortDescLength">
              {{short_desc ? helperService.shortDescription(history.explanation) : history.explanation}}</p>
            <a *ngIf="history.explanation && history.explanation.length > helperService.shortDescLength"
              (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
          </ng-container>
        </li>
      </ul>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>
