@import '../../../../styles/variables';
$profile-form-field-mt: 30px;

a {
  text-decoration: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

:host {
  .career-main {
    background-color: $bg-color-1;
    height: 100%;
    width:100%;
    display: table;
  }

  .positions-main-container {
    background-color: $bg-color-1;
    width: 94%;
    margin: 0 auto;

    .templates-list-container {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;

      h1.title {
        font-family: 'Poppins-Semibold', sans-serif;
        font-size: 30px;
        line-height: 1.15;
        font-weight: 600;
        margin-top: 40px;
        margin-bottom: 20px;
        color: rgba(map-get($md-cfaccent, 500), .84);
      }

      .row {
        background: $white;
        padding: 15px 20px;
        margin-bottom: 10px;
        border-radius: 5px;

        .header-container {
          width: 100%;
          box-sizing: border-box;
          display: inline-flex;
          flex-wrap: wrap;
          align-items: center;
          .template-detail {
            display: inline-flex;
            flex: 1;
            h1 {
              font-family: 'Poppins', sans-serif;
              font-size: 30px;
              line-height: 1.15;
              font-weight: 600;
              margin: 0;
              margin-bottom: 5px;
              color: rgba(map-get($md-cfaccent, 500), .84);
            }
          }
          .template-select {
            @include flex(column, flex-end, space-between);
            margin-left: 20px;
          }
        }
        .sub-container {
          width: 100%;
          box-sizing: border-box;
          display: inline-flex;
          flex-wrap: wrap;
          border: solid 1px #F0F0F0;
          border-radius: 5px;
          max-width: 1100px;
          margin-top: 20px;
          .template-info {
            width: calc(100% / 3);
            border: solid 1px #F0F0F0;
            padding: 15px;
            box-sizing: border-box;
            @include flex(column, flex-start, flex-start);
            label {
              font-family: 'Poppins-Regular', sans-serif;
              font-size: 14px;
              line-height: 1.5;
              font-style: normal;
              font-weight: 400;
              color: rgba(map-get($md-cfaccent, 500), .44);
            }
            p {
              margin: 0;
              font-family: 'Roboto', sans-serif;
              font-size: 16px;
              line-height: 1.375;
              font-style: normal;
              font-weight: 500;
              color: rgba(map-get($md-cfaccent, 500), .84);
            }
          }
          & > :first-child {
            border-top-left-radius: 5px;
          }
          & > :last-child {
            border-bottom-right-radius: 5px;
          }
          & > :nth-child(3) {
            border-top-right-radius: 5px;
          }
          & > :nth-child(4) {
            border-bottom-left-radius: 5px;
          }
        }
        p.description {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          line-height: 1.5;
          margin-top: 20px;
          margin-bottom: 0;
          color: rgba(map-get($md-cfaccent, 500), .74);
          &.short-desc {
            color: rgba(map-get($md-cfaccent, 500), 0.54);
          }
        }
        .show-more {
          width: 100%;
          margin-top: 15px;
          text-align: center;
          a {
            font-size: 14px;
            line-height: 1.5;
            color: map-get($md-cfprimary, 500);
            text-decoration: none;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  :host {
    .career-main {
      .positions-main-container {
        .templates-list-container {
          
        }
      }
    }
  }
}

@media only screen and (max-width: $max-mobile-breakpoint) {
  :host {
    .career-main {
      .positions-main-container {
        padding-bottom: 100px;
        .templates-list-container {
          h1.title {
            font-size: 25px;
            margin-top: 30px;
            margin-bottom: 20px;
          }
          .row {
            padding: 15px;
            .header-container {
              flex-direction: column;
              align-items: center;
              .template-detail {
                margin: 10px 0;
                h1 {
                  text-align: center;
                }
              }
              .template-select {
                flex-direction: column;
                align-items: center;
                margin-left: 0;
                & > * {
                  margin: 5px;
                }
              }
            }
            .sub-container {
              .template-info {
                width: 50%;
              }
              & > :nth-child(2) {
                border-top-right-radius: 5px;
              }
              & > :nth-child(3) {
                border-top-right-radius: 0;
              }
              & > :nth-child(4) {
                border-bottom-left-radius: 0;
              }
              & > :nth-child(7) {
                border-bottom-left-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  :host {
    .career-main {
      .positions-main-container {
        .templates-list-container {

          .row {
            .sub-container {
              .template-info {
                width: 100%;
              }
              & > :first-child {
                border-top-right-radius: 5px;
              }
              & > :last-child {
                border-bottom-left-radius: 5px;
              }
              & > :nth-child(2) {
                border-top-right-radius: 0px;
              }
              & > :nth-child(7) {
                border-bottom-left-radius: 0px;
              }
            }
          }
        }
      }
    }
  }
}
