@import "../../../../../styles/variables.scss";
$profile-form-field-mt: 30px;

:host {
  .application-page {
    background-color: $bg-color-1;
    height: 100%;
    width: 100%;
    display: table;

    .application-detail-header {
      overflow: hidden;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      padding: 20px 40px;
      & .application-detail-heading {
        float: left;
        width: 36%;
        h2 {
          color: #001d40;
          font-size: 30px;
          font-weight: 600;
          line-height: 34px;
          opacity: 0.84;
          margin: 13px auto 5px;
          font-family: "Poppins", sans-serif;
        }
      }
      & .application-header-btn-style {
        float: right;
        .application-header-choice {
          background-color: rgba(49, 139, 214, 0.1);
          padding: 10px 20px;
          border-radius: 40px;
          display: inline-block;
          width: 344px;
          margin-right: 10px;
          & simple-tag.top-choices-tag {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
          & .cancel {
            color: rgb(219, 218, 218);
            cursor: pointer;
            vertical-align: middle;
            margin-right: 10px;
            margin-top: 1px;
          }
        }
        & .application-header-review {
          background-color: rgba(221, 198, 30, 0.15);
          padding: 10px 20px;
          border-radius: 40px;
          display: inline-block;
          width: 344px;
          & .top-choice-content {
            p {
              line-height: 21px;
              font-weight: 500;
              font-size: 14px;
              font-family: "Poppins", sans-serif;
              color: #318bd6;
            }
          }
          &.rejectStatus {
            .top-choice-content {
              p.rejected {
                line-height: 21px;
                font-weight: 500;
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                color: red;
                border: none;
              }
            }
          }

          &.acceptStatus {
            .top-choice-content {
              p.accepted {
                line-height: 21px;
                font-weight: 500;
                font-size: 14px;
                font-family: "Poppins", sans-serif;
                color: rgb(64, 211, 28);
                border: none;
              }
            }
          }
          & .application-action {
            float: right;
            width: 39%;
          }
        }
        & .top-choice-content {
          width: 55%;
          vertical-align: middle;
          display: inline-block;

          span {
            font-size: 14px;
            line-height: 21px;
            color: rgba(0, 29, 64, 0.34);
            font-weight: 400;
            vertical-align: middle;
            font-family: "Poppins", sans-serif;
          }
          p {
            font-size: 16px;
            line-height: 21px;
            color: rgba(0, 29, 64, 0.84);
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            margin: 0;
          }
        }
      }
    }
    .application-main-container {
      background-color: $bg-color-1;
      display: table;
      width: 94%;
      margin: 25px auto 0;
    }
  }

  .loading {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    @include flex(column, center, center);
  }
}

@media only screen and (min-width: $min-mini-desktop-breakpoint) and (max-width: $max-mini-desktop-breakpoint) {
  :host {
    .application-page {
      .comman_search_filter {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0 auto 12px;
        background-color: $white;

        .postion-search-header {
          display: block;
          border: none;
          width: 560px;
          margin: 0 auto;
          position: relative;

          mat-form-field {
            width: 100%;

            mat-icon {
              cursor: pointer;
            }
          }
        }

        .filter-data {
          float: left;
          background-color: $white;
          margin-top: 20px;
          margin-left: 28px;

          & .filter_icon {
            display: block;
            cursor: pointer;
          }
        }
      }
      .application-main-container {
        width: 96%;

        & .container__header {
          &.tablet {
            position: absolute;
            width: 100%;
            top: -1000%;
            left: 0;
            border-bottom: none;
            @include flex(column, center, center);
            background-color: $white;
            padding-top: $profile-form-field-mt;
            padding-bottom: $profile-form-field-mt;
            box-sizing: border-box;
            transition: top 0.5s;
            transition-timing-function: ease;
            z-index: 1;

            &.open {
              top: 140px;
              transition: top 0.5s;
              transition-timing-function: ease;
              background-color: #f2f2f2;
              padding-top: 0;
            }
          }

          &.filter-container {
            height: auto;
            width: 100%;
            float: none;
            margin: 0 auto;
            padding: 0 10px;
            clear: both;
          }
          & .nav-title {
            width: 100%;
          }
          & .filter-card {
            width: 97%;
          }
        }
      }
      .application-detail-header {
        padding: 20px 20px;
        .application-detail-heading {
          width: 28%;
          h2 {
            font-size: 24px;
          }
        }
        .application-header-btn-style {
          .application-header-choice {
            simple-tag {
              &.top-choices-tag {
                margin-right: 7px;
              }
            }
          }
          .top-choice-content {
            width: 46%;
            p {
              font-size: 12px;
            }
            span {
              font-size: 12px;
            }
          }
          .application-header-choice {
            width: 304px;
            padding: 10px;
          }
          .application-header-review {
            width: 304px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $min-tablet-breakpoint) and (max-width: $max-tablet-breakpoint) {
  :host {
    .application-page {
      .comman_search_filter {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0 auto 12px;
        background-color: $white;

        .postion-search-header {
          display: block;
          border: none;
          width: 450px;
          margin: 0 auto;
          position: relative;

          mat-form-field {
            width: 100%;

            mat-icon {
              cursor: pointer;
            }
          }
        }

        .filter-data {
          float: left;
          background-color: $white;
          margin-top: 20px;
          margin-left: 28px;

          & .filter_icon {
            display: block;
            cursor: pointer;
          }
        }
      }
      .application-main-container {
        width: 100%;

        & .container__header {
          &.tablet {
            position: absolute;
            width: 100%;
            top: -1000%;
            left: 0;
            border-bottom: none;
            @include flex(column, center, center);
            background-color: $white;
            padding-top: $profile-form-field-mt;
            padding-bottom: $profile-form-field-mt;
            box-sizing: border-box;
            transition: top 0.5s;
            transition-timing-function: ease;
            z-index: 1;

            &.open {
              top: 140px;
              transition: top 0.5s;
              transition-timing-function: ease;
              background-color: #f2f2f2;
              padding-top: 0;
            }
          }
          &.filter-container {
            height: auto;
            width: 100%;
            float: none;
            margin: 0 auto;
            padding: 0 10px;
            clear: both;
          }
          & .nav-title {
            width: 100%;
          }
          & .filter-card {
            width: 95%;
          }
        }
      }
      .application-detail-header {
        padding: 50px 30px 20px;
        .application-detail-heading {
          float: none;
          width: 100%;
          text-align: center;
          h2 {
            font-size: 28px;
          }
        }
        .application-header-btn-style {
          float: none;
          margin: 20px auto 0;
          text-align: center;
          .top-choice-content {
            width: 44%;
            text-align: left;
            p {
              font-size: 11px;
            }
            span {
              font-size: 11px;
            }
          }
          .application-header-choice {
            width: 304px;
            simple-tag {
              &.top-choices-tag {
                margin-right: 7px;
              }
            }
          }
          .application-header-review {
            width: 304px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $min-mobile-breakpoint) and (max-width: $max-mobile-breakpoint) {
  :host {
    .application-page {
      display: block;
      .comman_search_filter {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0 auto 12px;
        background-color: $white;

        .postion-search-header {
          display: inline-block;
          border: none;
          width: 76%;
          margin-bottom: 0;
          position: relative;

          mat-form-field {
            width: 100%;

            mat-icon {
              cursor: pointer;
            }
          }
        }

        .filter-data {
          float: left;
          background-color: $white;
          margin-top: 20px;
          margin-left: 14px;

          & .filter_icon {
            display: block;
          }
        }
      }
      .application-main-container {
        width: 100%;
        padding-bottom: 100px;
        margin: 10px auto 0;

        & .container__header {
          &.tablet {
            position: absolute;
            width: 100%;
            top: -1000%;
            left: 0;
            border-bottom: none;
            @include flex(column, center, center);
            background-color: $white;
            padding-top: $profile-form-field-mt;
            padding-bottom: $profile-form-field-mt;
            box-sizing: border-box;
            transition: top 0.5s;
            transition-timing-function: ease;
            z-index: 1;

            &.open {
              top: 140px;
              transition: top 0.5s;
              transition-timing-function: ease;
              background-color: #f2f2f2;
              padding-top: 0;
            }
          }
          &.filter-container {
            height: auto;
            width: 100%;
            float: none;
            margin: 0 auto;
            padding: 0 10px;
            clear: both;
          }
          & .nav-title {
            width: 100%;
          }
          & .filter-card {
            width: 90%;
          }
        }
      }
      .application-detail-header {
        padding: 50px 10px 20px;
        .application-detail-heading {
          float: none;
          width: 100%;
          h2 {
            text-align: center;
          }
        }
        .application-header-btn-style {
          float: none;
          margin: 0 auto;
          width: 300px;
          .application-header-choice {
            padding: 10px 10px;
            width: 94%;
            margin-right: auto;
            margin-top: 20px;
            display: block;
          }
          .application-header-review {
            width: 87%;
            margin: 20px auto 0;
            display: block;
          }
          .top-choice-content {
            p {
              font-size: 11px;
            }
            span {
              font-size: 11px;
            }
          }
          .application-header-choice {
            simple-tag {
              &.top-choices-tag {
                margin-right: 3px;
              }
            }
          }
          .top-choice-content {
            width: 47%;
          }
        }
      }
    }
  }
}
