<ng-container>

  <div class="edit-title">
  </div>

  <h1 class="title">Application Template</h1>
  <p>Note that no individual may view this application template other than yourself and the recruiters managing positions you've applied to. Please fill these forms out in order to apply to positions on this site. Once completed you will not be asked for this information again.</p>

  <div class="row">
    <h3>Work Authorization</h3>
    <p>Are you authorized to work in the United States</p>
    <p>What type of authorization do you maintain (if applicable)?</p>
    <p>Will you ever require support to acquire a work visa or a U.S citizenship?</p>
  </div>
  <div class="row">
    <h3>Military Service</h3>
    <p>Veteran Form:<br><br>
    the Vietnam Era Veterans’ Readjustment Assistance Act of 1974, as amended by the Jobs for Veterans Act of 2002, 38 U.S.C. 4212 (VEVRAA), which requires government contractors to take affirmative action to employ and advance in employment: (1) disabled veterans; (2) recently separated veterans; (3) active duty wartime or campaign badge veterans; and (4) Armed Forces service medal veterans. These classifications are defined as follows and are hereafter referred to all together as "protected veterans": A "disabled veteran" is one of the following: a veteran of the U.S. military, ground, naval or air service who is entitled to compensation (or who but for the receipt of military retired pay would be entitled to compensation) under laws administered by the Secretary of Veterans Affairs; or a person who was discharged or released from active duty because of a service-connected disability.<br><br>
    A "recently separated veteran" means any veteran during the three-year period beginning on the date of such veteran’s discharge or release from active duty in the U.S. military, ground, naval, or air service.<br><br>
    An "active duty wartime or campaign badge veteran" means a veteran who served on active duty in the U.S. military, ground, naval or air service during a war, or in a campaign or expedition for which a campaign badge has been authorized under the laws administered by the Department of Defense.<br><br>
    An "Armed forces service medal veteran" means a veteran who, while serving on active duty in the U.S. military, ground, naval or air service, participated in a United States military operation for which an Armed Forces service medal was awarded pursuant to Executive Order 12985.<br><br>
    *If you believe you belong to any of the categories of protected veterans listed above, please indicate by checking the appropriate box below. As a Government contractor subject to VEVRAA, we request this information in order to measure the effectiveness of the outreach and positive recruitment efforts we undertake pursuant to VEVRAA.<br><br>
    Submission of this information is voluntary and refusal to provide it will not subject you to any adverse treatment. The information provided will be used only in ways that are not inconsistent with VEVRAA as amended. We are an equal opportunity employer. We do not discriminate in hiring or employment against any individual on the basis of race, color, gender, national origin, ancestry, religion, physical or mental disability, age, veteran status, sexual orientation, gender identity or expression, marital status, pregnancy, citizenship, or any other factor protected by anti-discrimination laws.</p>
  </div>

  <div class="row">
    <h3>Disability Self-Identification</h3>
    <p>Why are you being asked to complete this form? Because company’s you apply to may do business with the government, as such said companies must reach out to, hire, and provide equal opportunity to qualified people with disabilities.[1] To help us measure how well we and our partner companies are doing, we are asking you to tell us if you have a disability or if you ever had a disability. Completing this form is voluntary, but we hope that you will choose to fill it out. If you are applying for a job, any answer you give will be kept private and will not be used against you in any way.<br><br>
    If you already work for us, your answer will not be used against you in any way. Because a person may become disabled at any time, we are required to ask all of our employees to update their information every five years. You may voluntarily self-identify as having a disability on this form without fear of any punishment because you did not identify as having a disability earlier.<br><br>
    How do I know if I have a disability?<br>
    You are considered to have a disability if you have a physical or mental impairment or medical condition that substantially limits a major life activity, or if you have a history or record of such an impairment or medical condition.
    </p>
    <span>Disabilities include, but are not limited to:</span>
    <ul>
      <li>Blindness</li>
      <li>Deafness</li>
      <li>Cancer</li>
      <li>Diabetes</li>
      <li>Epilepsy</li>
      <li>Autism</li>
      <li>Cerebral palsy</li>
      <li>HIV/AIDS</li>
      <li>Schizophrenia</li>
      <li>Muscular dystrophy</li>
      <li>Bipolar disorder</li>
      <li>Major depression</li>
      <li>Multiple sclerosis (MS)</li>
      <li>Missing limbs or partially missing limbs</li>
      <li>Post-traumatic stress disorder (PTSD)</li>
      <li>Obsessive compulsive disorder</li>
      <li>Impairments requiring the use of a wheelchair</li>
      <li>Intellectual disability (previously called mental retardation)</li>
    </ul>
  </div>

  <div class="row">
    <h3>Reasonable Accommodation Notice</h3>
    <p>Federal law requires employers to provide reasonable accommodations to qualified individuals with disabilities. Please tell us if you require a reasonable accommodation to apply for a job or to perform your job. Examples of reasonable accommodation include making a change to the application process or work procedures, providing documents in an alternate format, using a sign language interpreter, or using specialized equipment.<br><br>
    [1] Section 503 of the Rehabilitation Act of 1973, as amended. For more information about this form or the equal employment obligations of Federal contractors, visit the U.S. Department of Labor’s Office of Federal Contract Compliance Programs (OFCCP) website at www.dol.gov/ofccp.<br><br>
    PUBLIC BURDEN STATEMENT: According to the Paperwork Reduction Act of 1995 no persons are required to respond to a collection of information unless such collection displays a valid OMB control number. This survey should take about 5 minutes to complete.</p>
  </div>

  <div class="row">
    <h3>Terms and Conditions</h3>
    <h4>Your Privacy Rights</h4>
    <p>This Privacy Notice describes your privacy rights regarding the collection, use, storage, sharing and protection of your personal information by yourCareerfair or its affiliates (“yourCareerfair”). It applies to the collection of your personal information via our career placement websites and services linked to this Notice (the “Site”).</p>
    <h4>Scope and Consent</h4>
    <p>By using this Site, you expressly consent to our collection, storage, use, transfer, and disclosure of your personal information, including any sensitive information you elect to submit. By providing personal information via this Site, you expressly consent to the terms of this Privacy Notice.<br><br>
    We may amend this Notice at any time by posting a revised version on our Site. The revised version will be effective as of the published effective date. In addition, if the revised version includes a substantial change, we will provide you with 30 days’ prior notice by posting notice of the change on this Site. After this 30-day notice period, you will be considered as having expressly consented to all amendments to this Privacy Notice. If you do not agree to the changes, please contact us to deactivate your account.</p>
    <h4>Collection of Personal Information</h4>
    <p>We collect the following types of personal information when you visit or use the Site:<br><br>
    Information we collect automatically: When you visit the Site, we (including service providers working on our behalf (“service providers”)) may collect information sent to us by your computer, mobile phone or other access device. The information sent to us includes, but is not limited to, the following: data about the pages you access, your computer IP address, device identifiers, the type of operating system you’re using, your location, mobile network information, standard web log data and other information. Web log data includes the browser type you’re using and traffic to and from our site. When you visit the Site, we also collect information about your activities.<br><br>
    Information you provide to us: We (including service providers) may collect and store any information you provide us when you use the Site, including when you submit an application. When you use the Site to submit an application, you will be required to submit personal information, otherwise you may not be able to access certain parts of the Site and we will not be able to process your application. This information includes:</p>
    <ul>
      <li>Contact information, such as your name, address, phone, email, and other similar information</li>
      <li>Resume or CV, cover letter, previous work experience, education, and transcripts</li>
      <li>Desired salary, relevant work experience, type of employment sought, date available, employee referral</li>
      <li>yourCareerfair account ID</li>
    </ul>
    <p>Information from Other Sources: We also may obtain information about you from other sources, to the extent permitted by applicable law, such as through your contact with us, including your interactions with members of the yourCareerfair corporate family, or from third parties such as employment research firms, identity verification services, and other websites on the Internet (subject to such third party’s privacy policies).<br><br>
    For example, you may choose to provide us with access to certain personal information stored by third parties such as social media sites (e.g., LinkedIn). The information we may receive varies by site and is controlled by that site. By authorizing yourCareerfair to have access to this information, you agree that yourCareerfair may collect, store and use this information in accordance with this Privacy Notice.<br><br>
    Using Your Mobile Device: We may offer you the ability to access the Site using a mobile device via a mobile optimized website. The provisions of this Privacy Notice apply to all such mobile access.<br><br>
    When you access one of our mobile optimized sites, we (including service providers) may receive information about your location and your mobile device, including a unique identifier for your device. We may use this information to provide you with location-based services and other personalized content. Most mobile devices allow you to control or disable location services in the device’s settings menu. If you have questions about how to disable your device’s location services, we recommend you contact your mobile service carrier or the manufacturer of your particular device.</p>
    <h4>How We Use the Personal Information We Collect</h4>
    <p>Our primary purpose in collecting personal information is to provide you with a smooth and efficient experience in applying for a job with our registered companies. Your submitted application and any additional personal information will be used to:</p>
    <ul>
      <li>assess your skills and interest in career opportunities at and hosted by yourCareerfair</li>
      <li>verify your identity, including during account creation and password reset processes</li>
      <li>provide customer service, dispute resolution, and Site troubleshooting</li>
      <li>customize, measure, and report on our Site and career service operations</li>
      <li>process your application and send notices to you about our open positions</li>
      <li>contact you by placing a voice call or through text (SMS) or email messaging</li>
      <li>compare information for accuracy and verify it with third parties</li>
      <li>conduct background checks (as permitted by applicable law), which may include verification of skill proficiency, criminal history, financial</li>
      <li>history and other information that may be necessary for determining your qualifications for an open position at yourCareerfair.</li>
      <li>conduct labor economic and policy research using anonymous data collected from your account</li>
      <li></li>
    </ul>
    <p>If you accept employment with a company you apply to through yourCareerfair, the information collected on this Site will become part of your employment record and will be used for employment purposes.<br><br>
    How We Share Personal Information with Other Third Parties<br>
    The Company will not sell or rent your personal information to third parties for their marketing purposes without your explicit consent.<br><br>
    We may share your personal information with service providers, and they will be obligated to protect your personal information consistently with the terms of this Privacy Notice. We may share your personal information with members of the yourCareerfair corporate family to assess your skills for job openings. Access to your personal information will be limited to those employees or agents of companies you apply to and yourCareerfair agents who have a business need to access such personal information.<br><br>
    We may share your personal information with companies that we plan to merge with or are acquired by, or in connection with any other partial or total sale of the Company or its assets. (Should such a combination occur, we will require that the new combined entity follow this Privacy Notice with respect to your personal information. If your personal information could be used contrary to this Privacy Notice, you will receive prior notice.)<br><br>
    To the extent permitted by applicable law, we may also disclose your personal information when we believe that the disclosure is necessary to:</p>
    <ul>
      <li>protect the legal rights, privacy or safety the company or its employees, agents and contractors; to protect the safety and security of visitors to our web sites or other properties;</li>
      <li>protect against fraud or other illegal activity or for risk management purposes; respond to inquiries or requests from public authorities;</li>
      <li>enforce our User Agreement;</li>
      <li>permit us to pursue available remedies or limit the damages that we may sustain;</li>
      <li>or comply with the law or a legal process.</li>
    </ul>
    <h4>How We Use Cookies and Similar Technologies</h4>
    <p>When you access our Site, we (including companies we work with) may place small data files on your computer or other device. These data files may be traditional cookies, pixel tags, "Flash cookies," or other local storage provided by your browser or associated applications(collectively "Cookies"). We use these technologies to: recognize you as an applicant; provide and customize the Site and our services; measure the Site’s effectiveness; help ensure that your account security is not compromised; mitigate risk and prevent fraud; and to promote trust and safety across our sites.<br><br>
    We use both session and persistent Cookies. Session Cookies expire and no longer have any effect when you log out of your account or close your browser. Persistent Cookies remain on your device until you erase them or they expire.<br><br>
    You are free to decline our Cookies if your browser or browser add-on permits, but doing so may interfere with your use of our Site. Refer to the help section of your browser, browser extensions, or installed applications for instructions on blocking, deleting, or disabling Cookies.<br><br>
    For browser-specific information on how to adjust cookie configurations on the following browsers, please click on the relevant link below:<br><br>
    Internet Explorer:<br>
    Internet Explorer 5<br>
    Internet Explorer 6<br>
    Internet Explorer 7<br>
    Internet Explorer 8<br>
    Internet Explorer 9<br>
    Firefox<br>
    Chrome<br>
    Safari: OSX/Mac OS<br>
    Safari: iOS<br><br>
    Refer to the help section of your browser, browser extensions, or installed applications for additional instructions on blocking, deleting, or disabling Cookies.<br><br>
    For more detailed information on how we (and third parties we work with) may use Cookies to collect data on the Site and across other sites over time, please see our yourCareerfair Applicant Notice on Cookies, Web Beacons, and Similar Technologies.<br><br>
    Do Not Track: Do Not Track (DNT) is an optional browser setting that allows you to express your preferences regarding tracking by advertisers and other third-parties. We do not currently respond to DNT signals. We do, however, provide you notice of the tracking by advertisers and other third parties in our Privacy and Cookies policies.
    </p>
    <h4>How We Protect and Store Personal Information</h4>
    <p>Throughout this Notice, we use the term "personal information" to describe information that can be associated with a specific person and can be used to identify that person. We do not consider personal information to include information that has been made anonymous so that it cannot be used, whether in combination with other information or otherwise, to identify a specific user.<br><br>
    We store and process your personal information on our computers in North America, Asia, Europe and elsewhere in the world where our facilities are located. We use physical, technical and organizational security controls commensurate with the amount and sensitivity of the personal information to prevent unauthorized processing, including but not limited to, unauthorized access to, acquisition and use of, loss, destruction, or damage to personal information. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls.<br><br>
    </p>
    <h4>Cross Border Transfers of Personal Information</h4>
    <p>yourCareerfair is committed to adequately protecting your personal information regardless of where the data resides and to providing appropriate protection for your personal information where such data is transferred across borders.</p>
    <h4>How You Can Access or Change Your Personal Information</h4>
    <p>You can review and edit your personal information at any time by logging in to your account and reviewing your account settings and profile. You can access, review, and change most of your personal information by logging into the Site. You must promptly update your personal information if it changes or is inaccurate. Upon your request, we will deactivate or remove your personal information from our active databases, although some information may be retained as permitted or required by applicable law.<br><br>
    To the extent permitted by applicable law, we may delete your personal information at any time (including your CV/resume), without any reason. Therefore, please retain your own copy of the personal information provided to us.
    </p>
    <h4>Permitted Site Uses</h4>
    <p>yourCareerFair makes the Site and Site Services available for Users to find one another and enter into service relationships. While we try to ensure that any information we post is both timely and accurate, errors may appear from time to time. We do not make any representations or warranties with respect to any information that is posted on the Site by us or anyone else. In no event should any content be relied on or construed as tax or legal advice or otherwise. You should independently verify the accuracy of any content.</p>
    <h4>Prohibited Site Uses</h4>
    <p>You may not use, or encourage, promote, facilitate, instruct or induce others to use, yourCareerFair or Site Services for any activities that violate any law, statute, ordinance or regulation; for any other illegal or fraudulent purpose or any purpose that is harmful to others; or to transmit, store, display, distribute or otherwise make available content that is illegal, fraudulent or harmful to others.</p>
    <h4>How You Can Contact Us about Privacy Questions</h4>
    <p>If you have questions or concerns regarding this Privacy Notice, you should contact us by using our company’s contact information.</p>
  </div>
</ng-container>
  