@import '../../../../styles/variables';

$primary-font-color: map-get($md-cfaccent, 500);

:host {
  @include flex(row, center, center);
  align-items: unset;
  padding-top: 15vh;
  min-height: calc(100vh - 70px);
  box-sizing: border-box;
  background-color: $bg-color-1;
  @media only screen and (max-height: 750px) {
    padding-top: 5vh;
  }
}

.container {
  @include flex(column, center, flex-start);
  h2.title {
    text-align: center;
    font-family: "Poppins-Semibold", sans-serif;
    font-size: 30px;
    line-height: 1.5;
    color: rgba($primary-font-color, .84);
    margin-top: 10px;
  }
  .form.password-reset {
    width: 75%;
    max-width: 615px;
    padding: 60px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    @include flex(column, center, flex-start);
    .row {
      &__field {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        border: solid 1px $mat-form-border-color;
        border-radius: 5px;
        overflow: hidden;
        .mat-form-field {
          width: 100%;
        }
      }
    }
  }
  .btn-wrapper {
    width: 100%;
    @include flex(row, center, center);
    margin-top: 30px;
    margin-bottom: 30px;
    action-button {
      margin: 10px;
    }
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .container {
    padding: 0 30px;
    h2.title {
      font-size: 25px;
    }
    .form.password-reset {
      width: 80%;
      padding: 40px 30px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .container {
    padding: 0 20px;
    h2.title {
      font-size: 20px;
    }
    .form.password-reset {
      width: 95%;
      padding: 35px 20px;
    }
    .btn-wrapper {
      margin-top: 25px;
      action-button {
        margin: 5px;
      }
    }
  }
}
