<h1>h1. Heading</h1>
<h2>h2. Heading</h2>
<h3>h3. Heading</h3>
<h4>h4. Heading</h4>
<h5>h5. Heading</h5>
<h6>h6. Heading</h6>

<p>
  Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<br><br>

<div class="container">
  <img src="assets/icons/ic_employees.svg">
  <img src="assets/icons/ic_website.svg">
  <img src="assets/icons/ic_checked.svg">
  <img src="assets/icons/ic_permissions.svg">
  <img src="assets/icons/ic_permissions_inactive.svg">
  <img src="assets/icons/ic_university.svg">
</div>

<br><br>

<div class="container">
  <img src="assets/icons/ic_twitter.svg">
  <img src="assets/icons/ic_facebook.svg">
  <img src="assets/icons/ic_google.svg">
  <img src="assets/icons/ic_linkedin.svg">
  <img src="assets/icons/ic_google_circle.svg">
  <img src="assets/icons/ic_facebook_circle.svg">
  <img src="assets/icons/ic_twitter_circle.svg">
</div>

<br><br>

<div class="container">
  <img src="assets/icons/ic_heart.svg">
  <img src="assets/icons/ic_heart_circle.svg">
  <img src="assets/icons/ic_more.svg">
  <img src="assets/icons/ic_more_vertical.svg">
  <img src="assets/icons/ic_checkbox_empty.svg">
  <img src="assets/icons/ic_checkbox_checked.svg">
  <img src="assets/icons/ic_checkbox_indeterminate.svg">
  <img src="assets/icons/ic_search.svg">
  <img src="assets/icons/ic_question.svg">
</div>

<br><br>

<div class="container">
  <img src="assets/icons/ic_company.svg">
  <img src="assets/icons/ic_location.svg">
  <img src="assets/icons/ic_clock.svg">
  <img src="assets/icons/ic_birthday-cake.svg">
  <img src="assets/icons/ic_male.svg">
  <img src="assets/icons/ic_female.svg">
  <img src="assets/icons/ic_arrow_down.svg">
  <img src="assets/icons/ic_arrow_right.svg">
  <img src="assets/icons/ic_paperclip.svg">
</div>

<br><br>
<div class="container__gray">
  <img src="assets/icons/ic_cv.svg">
  <img src="assets/icons/ic_cf_logo.svg">
  <img src="assets/icons/ic_camera.svg">
</div>
<br><br>
<action-button type="raised" title="Primary Button"></action-button>
<action-button type="raised" title="Primary Button" color="primary"></action-button>
<action-button type="raised" title="Accent Button" color="accent"></action-button>
<action-button type="raised" title="Warn Button" color="warn"></action-button>
<br><br>
<action-button type="stroked" title="Secondary Button"></action-button>
<action-button type="stroked" title="Primary Button" color="primary"></action-button>
<action-button type="stroked" title="Accent Button" color="accent"></action-button>
<action-button type="stroked" title="Warn Button" color="warn"></action-button>
<br><br>
<action-button type="text" title="Text Button"></action-button>
<action-button type="text" title="Primary Button" color="primary"></action-button>
<action-button type="text" title="Accent Button" color="accent"></action-button>
<action-button type="text" title="Warn Button" color="warn"></action-button>
<br><br>
<action-button title="Apply Button"></action-button>
<action-button title="Primary Button" color="primary"></action-button>
<action-button title="Accent Button" color="accent"></action-button>
<action-button title="Warn Button" color="warn"></action-button>
<br><br>

<round-checkbox id="test" indeterminate="true" title="Check Box"></round-checkbox>

<br><br>

<mat-form-field appearance="fill">
  <mat-label>Email Address</mat-label>
  <mat-icon matPrefix>mail_outline</mat-icon>
  <input matInput placeholder="Email Address">
</mat-form-field>

<br><br>
<simple-tag type="green" title="matched"></simple-tag>
<simple-tag type="red" title="missing"></simple-tag>
<simple-tag type="gray" title="normal"></simple-tag>
<simple-tag title="required"></simple-tag>
<br><br>
<simple-tag type="green" title="Looking For Job" onlineTag="true"></simple-tag>
<simple-tag type="red" title="Looking For Job" onlineTag="true"></simple-tag>
<simple-tag type="gray" title="Looking For Job" onlineTag="true"></simple-tag>
<simple-tag title="Looking For Job" onlineTag="true"></simple-tag>
<br><br>
<simple-tag type="green" title="Skill With Proficieny" ellipseTag="true" value="6"></simple-tag>
<simple-tag type="red" title="Skill With Proficieny" ellipseTag="true" value="1"></simple-tag>
<simple-tag type="gray" title="Skill With Proficieny" ellipseTag="true" value="4"></simple-tag>
<simple-tag title="Skill With Proficieny" ellipseTag="true" value="5"></simple-tag>
<br><br>