@import './../../../styles/variables.scss';

:host {
  display: inline-block;
  padding: 50px;
  box-sizing: border-box;
}

.container {
  @include flex(row, center, flex-start);
  &__gray {
    @include flex(row, center, flex-start);
    background-color: rgba(map-get($md-cfaccent, 500), 0.2);
  }
}

action-button,
simple-tag,
img {
  display: inline-block;
  margin: 8px;
}
