@import '../../../../styles/variables';
$profile-form-field-mt: 30px;

:host {
    .career-main {
        background-color: $bg-color-1;
        height: 100%;
        width:100%;
        display: table;

        .comman_search_filter {
            .postion-search-header {
                background-color: $white;
                border: 1px solid #ddd;
                padding: 12px 10px;
                text-align: center;
                margin-bottom: 20px;
                position: relative;
                z-index: 1;
                left: 0;

                & mat-form-field {
                    width: 560px;
                    border-radius: 50px;
                    background-color: $bg-color-1;
                    font-style: italic;
                    font-size: 14px;
                    line-height: 21px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                }

                & .mat-icon {
                    top: -13px;
                    right: 0;
                    cursor: pointer;
                    font-size: 26px;
                    position: absolute;
                    color: rgba(map-get($md-cfaccent, 500), .34);
                }

            }

            .filter-data {
                & .filter_icon {
                    display: none;
                }

            }
        }

        .position-main-container {
            background-color: $bg-color-1;
            display: table;
            width: 94%;
            margin: 0 auto;


            .position-list-container {

                float: right;
                width: 70.3%;
                padding-bottom: 80px;

                & .select-style {
                    overflow: hidden;
                    margin-bottom: 9px;

                    & .sort-item {
                        color: rgba(map-get($md-cfaccent, 500), .44);
                        font-size: 14px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;

                        & mat-form-field {
                            margin-top: -10px;
                            margin-bottom: 5px;
                            width: 123px;
                            font-family: "Poppins", sans-serif;
                            font-weight: 400;

                        }
                    }

                    & .selectall {
                        float: left;
                        width: 70%;

                        & round-checkbox {
                            display: inline;
                            margin-right: 22px;

                        }
                        & .drop-buttons{
                            display: none;
                        }
                    }

                    & action-button {
                        @include inline-block-btn;
                        margin-right: 2%;
                    }
                }

                & .sort-item {
                    float: right;
                }

                .row {
                    background: $white;
                    padding: 10px 18px;
                    border-bottom: 1px solid map-get($md-cfaccent, 50);
                    margin-bottom: 5px;
                    border-radius: 5px;

                    & .qualification-level-m {
                        margin-top: 20px;
                        h5{
                            font-family: 'Helvetica Neue';
                        }
                        p{
                            margin-top: 0px;
                            
                        }
                    }

                    &.selected {
                        background-color: $selected-bg-color;
                    }

                    &.no-job {
                        @include btn-align-center;
                    }

                    & round-checkbox {
                        @include inline-block-btn;
                        vertical-align: middle;
                    }

                    h1 {
                        @include inline-block-btn;
                        vertical-align: middle;
                        margin-bottom: 1px;
                        font-size: 30px;
                        line-height: 46px;
                        color: rgba(map-get($md-cfaccent, 500), .84);
                        margin-top: 0;
                        font-family: "Poppins", sans-serif;
                        cursor: pointer;
                        font-weight: 600;
                    }

                    & .position-right {
                        float: right;

                        & .heart-icon {
                            text-align: center;
                            margin: 0 auto 0;
                            display: inline-block;
                            width: 50px;
                            vertical-align: top;
                            height: 46px;
                            img{
                                &.before-heart-icon{
                                    margin-top: 14px;
                                }
                            }
                        }

                        vertical-align: middle;

                        & .dot-icon{
                            img{
                                margin: 0 0 0 15px;
                            }
                        }
                    }

                    img {
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                }

                & .mat-icon {
                    vertical-align: middle;
                    margin-right: 20px;
                }

                h5 {
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 21px;
                    color: rgba(map-get($md-cfaccent, 500), .34);
                    font-weight: 400;
                    margin-top: 0;
                    font-weight: 400;

                   

                    span {
                        display: inline-block;
                        margin-left: 4px;
                        color: rgba(map-get($md-cfaccent, 500), .84);
                    }
                }

                p {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    max-height: 310px;
                    width: 95%;
                    -webkit-box-orient: vertical;
                    display: block;
                    display: -webkit-box;
                    -webkit-line-clamp: 14;
                    overflow: hidden;
                    /* autoprefixer: ignore next */
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                }

                & .right-align {
                    @include inline-block-btn;

                    vertical-align: middle;
                }

                & .job-top-list {
                    ul {
                        padding: 0;
                        margin-top: 0;
                        margin-bottom: 0px;


                        li {
                            list-style: none;
                            @include inline-block-btn;
                            margin-right: 100px;
                            font-size: 14px;
                            line-height: 16px;
                            vertical-align: middle;
                            font-family: "Poppins", sans-serif;
                            font-weight: 400;

                            a{
                                @include inline-block-btn;
                                vertical-align: middle; 
                                color: rgba(map-get($md-cfaccent, 500), .84); 
                                text-decoration: none; 
                            }

                            span{
                                @include inline-block-btn;
                                vertical-align: middle; 
                                color: rgba(map-get($md-cfaccent, 500), .84); 
                            }

                            img {
                                margin-right: 5px;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                & .main-card {
                    ul {
                        padding: 0;
                        margin: 0;

                        li {
                            list-style: none;
                            @include inline-block-btn;
                            width: 49%;
                            vertical-align: top;
                                ul{
                                    margin-top:0;
                                    li{
                                        font-size: 14px;
                                    }
                                }

                            .skills-preferred-m {
                                @include inline-block-btn;
                                margin: 0 5px 7px 0;
                                & simple-tag{
                                    font-family: "Poppins", sans-serif;
                                    color: rgba(map-get($md-cfaccent, 500), .05);
                                }
                            }

                            & .skil-height-fix {
                                overflow: hidden;
                                max-height: 45px;

                                &.skill-more-height {
                                    max-height: 135px;
                                }
                            }


                        }
                    }
                }

                & .show-button {
                    text-align: center;

                    action-button {
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            position: absolute;
                            right: -47px;
                            color: rgba(0, 29, 64, 0.1);
                            height: 100%;
                            width: 100%;
                            content: "|";
                            top: 20px;
                        }
                        &:last-child::after{
                            display: none;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }

                & .qualification-level-m {
                    & simple-tag {
                        @include inline-block-btn;
                        margin: 12px 5px 22px 0px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                    }

                }

                & .card {
                    margin: 20px 0;
                    & mat-grid-tile{
                        border: 1px solid #f0f0f0;
                        border-right: none;
                        &:last-child{
                            border-right:1px solid #f0f0f0;
                        }
                    }
                    & .card-item {
                        @include inline-block-btn;
                        width: 100%;
                        padding: 9px 15px 9px 15px;
                        vertical-align: middle;
                        

                        span {
                            color: rgba(map-get($md-cfaccent, 500), .44);
                            font-size: 14px;
                            font-family: "Poppins", sans-serif;
                            font-weight: 400;
                        }

                        p {
                            margin: 3px 0 0;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }


            }

            .pagination {
                float: right;

                ul {
                    padding: 3px 10px;
                    border-radius: 50px;
                    background-color: map-get($md-cfgray, 500);
                    ;
                    @include inline-block-btn;

                    li {
                        @include inline-block-btn;
                        height: 15px;
                        width: 15px;
                        font-size: 14px;
                        text-align: center;
                        border-radius: 100%;
                        padding: 8px;
                        overflow: hidden;
                        vertical-align: middle;
                        color: $header-color;
                        cursor: pointer;
                        font-family: "Poppins", sans-serif;
                        font-weight: 500;
                        line-height: 21px;

                        &.active {
                            background-color: $white;
                        }

                        &.large_pagination_button {
                            height: auto;
                            width: auto;
                            margin-top: 4px;
                        }

                        & span {
                            vertical-align: middle;
                            @include inline-block-btn;
                        }

                    }
                }
            }


        }

        .filter-container {
            width: 26%;
            float: left;
            position: sticky;
            position: -webkit-sticky;
            top: 80px;
            overflow-y: scroll;
            height: calc(100vh - 210px);
            &::-webkit-scrollbar{
                width: 0;
                background-color: transparent;
            }
            &::after {
                content: "";
                display: table;
                clear: both;
            }

            &::before {
                content: "";
                display: table;
            }

            .nav-title {
                height: 44px;
                @include flex(row, center, flex-start);

                h3 {
                    font-size: 20px;
                    margin: 0;
                    line-height: 30px;
                    color: rgba(0, 29, 64, 0.24);
                    text-transform: uppercase;
                    padding-bottom: 27px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                }
            }

            .filter-card {
                position: relative;
                padding: 10px 15px;
                height: fit-content;
                background: white;
                border-radius: 5px;
                margin-bottom: 2px;            
                

                & mat-select {
                    font-size: 14px;
                    font-family: "Poppins", sans-serif;
                    line-height: 21px;
                    color: rgba(map-get($md-cfaccent, 500), .34);
                    font-weight: 400;

                   & .mat-form-field-wrapper{
                       & .mat-form-field-flex{
                           & .mat-form-field-infix{
                               border-top:none;
                           }
                        }
                    }

                }

                & simple-tag {
                    @include inline-block-btn;
                    margin: 15px 5px 0px 5px;
                }

                & mat-form-field {
                    font-size: 14px;
                    display: block;
                }
            }

            .side-filter-btn {
                @include btn-align-center;

                & action-button {
                    @include inline-block-btn;
                    margin-top: 10px;
                }
            }
        }
    }

    .loading {
        position: absolute;
        width: 100%;
        height: calc(100% - 70px);
        @include flex(column, center, center);
    }

    
    
}


@media only screen and (min-width:$min-mini-desktop-breakpoint) and (max-width:$max-mini-desktop-breakpoint) {
    :host {
        .career-main {
            .comman_search_filter {
                display: block;
                width: 100%;
                text-align: left;
                margin: 0 auto 12px;
                background-color: $white;

                .postion-search-header {
                    display: block;
                    border: none;
                    width: 560px;
                    margin: 0 auto;
                    position: relative;

                    mat-form-field {
                        width: 100%;

                        mat-icon {
                            cursor: pointer;
                        }
                    }
                }

                .filter-data {
                    float: left;
                    background-color: $white;
                    margin-top: 20px;
                    margin-left: 28px;
    
                    & .filter_icon {
                        display: block;
                        cursor: pointer;
                    }
                }
                    
            }
            .position-main-container {
                width: 100%;

                
                & .container__header {
                    &.tablet {
                        position: absolute;
                        width: 100%;
                        top: -1000%;
                        left: 0;
                        border-bottom: none;
                        @include flex(column, center, center);
                        background-color: $white;
                        padding-top: $profile-form-field-mt;
                        padding-bottom: $profile-form-field-mt;
                        box-sizing: border-box;
                        transition: top 0.5s;
                        transition-timing-function: ease;
                        z-index: 1;

                        &.open {
                            top: 140px;
                            transition: top 0.5s;
                            transition-timing-function: ease;
                            background-color: #f2f2f2;
                            padding-top: 0
                        }
                    }

                &.filter-container {
                    height: auto;
                    width: 100%;
                    float: none;
                    margin: 0 auto;
                    padding: 0 10px;
                    clear: both;
                }
                & .nav-title{
                    width: 100%;
                }
                & .filter-card{
                    width: 97%;
                }
            }
                
                .position-list-container {
                    float: none;
                    width: 95%;
                    margin: 0 auto;
                    padding-top: 10px;

                    & .select-style {
                        & .selectall {
                            width: 64%;

                            & action-button {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    & .row {
                        h1{
                            font-size: 26px;
                        }
                        & .job-top-list {
                            ul {
                                margin-top: 0% li {
                                    margin-right: 70px;
                                }
                            }
                        }

                        & .card {
                            & .card-item {
                                width: 100%;
                            }
                        }

                    }
                }

            }
        }
    }
}



@media only screen and (min-width:$min-tablet-breakpoint) and (max-width:$max-tablet-breakpoint) {
    :host {
        .career-main {
            .comman_search_filter {
                display: block;
                width: 100%;
                text-align: left;
                margin: 0 auto 12px;
                background-color: $white;

                .postion-search-header {
                    display: block;
                    border: none;
                    width: 450px;
                    margin: 0 auto;
                    position: relative;

                    mat-form-field {
                        width: 100%;

                        mat-icon {
                            cursor: pointer;
                        }
                    }
                }

                .filter-data {
                    float: left;
                    background-color: $white;
                    margin-top: 20px;
                    margin-left: 28px;

                    & .filter_icon {
                        display: block;
                        cursor: pointer;
                    }

                    
                }
            }
            .position-main-container {
                width: 100%;

                & .container__header {
                    &.tablet {
                        position: absolute;
                        width: 100%;
                        top: -1000%;
                        left: 0;
                        border-bottom: none;
                        @include flex(column, center, center);
                        background-color: $white;
                        padding-top: $profile-form-field-mt;
                        padding-bottom: $profile-form-field-mt;
                        box-sizing: border-box;
                        transition: top 0.5s;
                        transition-timing-function: ease;
                        z-index: 1;

                        &.open {
                            top: 140px;
                            transition: top 0.5s;
                            transition-timing-function: ease;
                            background-color: #f2f2f2;
                            padding-top: 0
                        }
                    }
                    &.filter-container {
                        height: auto;
                        width: 100%;
                        float: none;
                        margin: 0 auto;
                        padding: 0 10px;
                        clear: both;
                    }
                    & .nav-title{
                        width: 100%;
                    }
                    & .filter-card{
                        width: 95%;
                    }
                }

                .position-list-container {
                    float: none;
                    width: 95%;
                    margin: 0 auto;
                    padding: 0 10px;

                    & .select-style {
                        margin: 9px 0;
                        & .selectall {
                            width: 74%;
                            padding-bottom: 6px;

                            & action-button {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    .row {
                        h1{
                        font-size: 26px;
                    }
                        .card {
                            .card-item {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (min-width:$min-mobile-breakpoint) and (max-width:$max-mobile-breakpoint) {
    :host {
        .career-main {
            .comman_search_filter {
                display: block;
                width: 100%;
                text-align: left;
                margin: 0 auto 12px;
                background-color: $white;

                .postion-search-header {
                    display: inline-block;
                    border: none;
                    width: 76%;
                    margin-bottom: 0;
                    position: relative;

                    mat-form-field {
                        width: 100%;

                        mat-icon {
                            cursor: pointer;
                        }
                    }
                }

                .filter-data {
                    float: left;
                    background-color: $white;
                    margin-top: 20px;
                    margin-left: 14px;

                    & .filter_icon {
                        display: block;
                    }

                    
                }
            }
            .position-main-container {
                width: 100%;
                padding-bottom: 100px;

                & .container__header {
                    &.tablet {
                        position: absolute;
                        width: 100%;
                        top: -1000%;
                        left: 0;
                        border-bottom: none;
                        @include flex(column, center, center);
                        background-color: $white;
                        padding-top: $profile-form-field-mt;
                        padding-bottom: $profile-form-field-mt;
                        box-sizing: border-box;
                        transition: top 0.5s;
                        transition-timing-function: ease;
                        z-index: 1;

                        &.open {
                            top: 140px;
                            transition: top 0.5s;
                            transition-timing-function: ease;
                            background-color: #f2f2f2;
                            padding-top: 0
                        }
                    }
                    &.filter-container {
                        height: auto;
                        width: 100%;
                        float: none;
                        margin: 0 auto;
                        padding: 0 10px;
                        clear: both;
                    }
                    & .nav-title{
                        width: 100%;
                    }
                    & .filter-card{
                        width: 90%;
                    }
                }
                .position-list-container {
                    float: none;
                    width: 92%;
                    margin: auto;
                    padding: 0 10px;

                    & .select-style {
                        & .selectall {
                            float: none;
                            width: 100%;
                            & round-checkbox{
                                margin-right: 13px;
                            }

                            & action-button {
                                margin-bottom: 5px;
                                display: none;
                            }
                            & .drop-buttons{
                                display: inline-block;

                            }
                        }

                        & .sort-item {
                            float: none;
                            margin-left: 30px;

                            & mat-form-field {
                                margin-top: 0px;
                                margin-bottom: 5px;
                                margin-left: 30px;

                            }
                        }
                    }
                    & .right-align{
                        @include inline-block-btn; 
                        text-align: center;
                         & action-button{
                            @include inline-block-btn; 
                         }
                    }

                    & .row {
                        padding: 25px 10px;
                        h1 {
                            font-size: 18px;
                            margin-top: 3px;
                            line-height: 20px;
                            width: 86%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            // margin-bottom: 18px;
                        }

                        & .position-right {
                            margin-left: 10px;
                            float: none;
                            padding-top: 16px;

                            & .heart-icon{
                                margin: 8px auto 0;
                                width: 81px;
                                img{
                                    &.before-heart-icon {
                                        margin-top: 6px;
                                    }
                                    &.after-heart-icon{
                                        margin-top: -8px;
                                    }
                                }
                            }
                        }

                        & .job-top-list {
                            ul {
                                margin: 20px auto 0;
                                 li {
                                    margin-right: auto;
                                    font-size: 13px;
                                    margin-bottom: 6px;
                                    word-wrap: break-word;
                                    display: block;
                                }
                            }
                        }

                        & .card {
                            & .card-item {
                                padding: 18px 5px 12px 5px;
                                min-height: 60px;
                                & span{
                                    font-size: 13px;
                                }
                            }
                        }

                        .main-card {
                            ul {
                                li {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    & .qualification-level-m {
                        & simple-tag {
                            @include inline-block-btn;
                            margin: 0px 5px 7px 0px;
                            font-family: "Poppins", sans-serif;
                            font-weight: 400;
                        }
    
                    }


                }

            }
        }
    }
}
