<div *ngIf="selectedPageIndex>0" class="profile-completion">
  <div class="container">
    <ng-container *ngFor="let page_title of page_titles; let i = index">
      <action-button *ngIf="page_title" class="link-btn" type="text" title="{{page_title}}" (click)="goToPage(i)" [done]="selectedPageIndex > i" [disabled]="selectedPageIndex < i"></action-button>
    </ng-container>
    <span class="progress-label" [class.done]="selectedPageIndex===9">{{progressWidth[selectedPageIndex].label}}%</span>
    <div class="progress-bar" [style.width.%]="progressWidth[selectedPageIndex].width"></div>
  </div>
</div>

<!-- Create_Profile_Choose start -->

<div *ngIf="selectedPageIndex===0" class="container {{profileCreationPages[0]}}">
  <div class="container__full">
    <h1>Choose To Create Profile</h1>
  </div>
  <div class="container__left">
    <div class="option-box">
      <div class="option-box__content">
        <div class="option-box__title">
          <img class="icon-cv" src="assets/icons/ic_cv.svg">
          <h2 class="title">Drop Your Resume Here</h2>
        </div>
        <div class="option-box__description">
          <p>Formats Allowed</p>
          <h3>.PDF, .XML, .TEXT</h3>
        </div>
      </div>
    </div>
    <div class="option-title">
      <h2>Save Your Time</h2>
      <p>By Spending just $2 Per Page</p>
    </div>
    <div class="option-description">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
  <div class="option-text desktop">
    <h1>OR</h1>
  </div>
  <div class="container__right">
    <div class="option-box">
      <div class="option-box__content">
        <action-button type="flat" title="Create Profile" color="primary" (click)="goToCreatProfilePage()"></action-button>
      </div>
    </div>
    <div class="option-title">
      <h2>Save Money</h2>
      <p>Absolutely FREE. It will take few minutes.</p>
    </div>
    <div class="option-description">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
</div>

<!-- Create_Profile_Choose end -->

<!-- Create_Profile_Basic start -->

<div *ngIf="selectedPageIndex===1" class="container {{profileCreationPages[1]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        BASIC INFORMATION
      </h3>
      <div class="profile-form__image">
        <img alt="Profile Image" src="assets/icons/profile-image.svg">
      </div>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Your Location</mat-label>
          <input matInput placeholder="Your Location" type="text" [(ngModel)]="basic_information.location" value="basic_information.location">
        </mat-form-field>
      </div>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Date Of Birth</mat-label>
          <input matInput placeholder="Date Of Birth" type="text" [(ngModel)]="basic_information.birthOfDay" value="basic_information.birthOfDay">
        </mat-form-field>
      </div>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Gender</mat-label>
          <input matInput placeholder="Gender" type="text" [(ngModel)]="basic_information.gender" value="basic_information.gender">
        </mat-form-field>
      </div>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Ethnicity</mat-label>
          <input matInput placeholder="Ethnicity" type="text" [(ngModel)]="basic_information.ethnicity" value="basic_information.ethnicity">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Basic end -->

<!-- Create_Profile_About start -->

<div *ngIf="selectedPageIndex===2" class="container {{profileCreationPages[2]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        ABOUT ME
      </h3>
      <div class="profile-form__field textarea">
        <mat-form-field>
          <textarea matInput placeholder="Explain Brief About Yourself" rows="15" [(ngModel)]="about_me" value="about_me"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_About end -->

<!-- Create_Profile_Education start -->

<div *ngIf="selectedPageIndex===3" class="container {{profileCreationPages[3]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        EDUCATION
      </h3>
      <ng-container *ngFor="let eduction of educations; let i = index">
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Select University</mat-label>
            <input matInput placeholder="Select University" type="text" [(ngModel)]="educations[i].university" value="educations[i].university">
          </mat-form-field>
        </div>
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Degree</mat-label>
            <input matInput placeholder="Degree" type="text" [(ngModel)]="educations[i].degree" value="educations[i].degree">
          </mat-form-field>
        </div>
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Course</mat-label>
            <input matInput placeholder="Course" type="text" [(ngModel)]="educations[i].course" value="educations[i].course">
          </mat-form-field>
        </div>
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Year of Completion</mat-label>
            <input matInput placeholder="Year of Completion" type="text" [(ngModel)]="educations[i].completion" value="educations[i].completion">
          </mat-form-field>
        </div>
        <div class="profile-form__field textarea">
          <mat-form-field>
            <textarea matInput placeholder="Description (Optional)" rows="3" [(ngModel)]="educations[i].description" value="educations[i].description"></textarea>
          </mat-form-field>
        </div>
        <div class="profile-form__field border">
        </div>
      </ng-container>
      <div class="profile-form__field btn">
        <action-button type="stroked" title="Add Another" (click)="addEducation()"></action-button>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Education end -->

<!-- Create_Profile_Work start -->

<div *ngIf="selectedPageIndex===4" class="container {{profileCreationPages[4]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        WORK EXPERIENCE
      </h3>
      <ng-container *ngFor="let experience of work_experiences; let i = index">
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" type="text" [(ngModel)]="work_experiences[i].company_name" value="work_experiences[i].company_name">
          </mat-form-field>
        </div>
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Years Served</mat-label>
            <input matInput placeholder="Years Served" type="text" [(ngModel)]="work_experiences[i].years" value="work_experiences[i].years">
          </mat-form-field>
        </div>
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Designation</mat-label>
            <input matInput placeholder="Designation" type="text" [(ngModel)]="work_experiences[i].designation" value="work_experiences[i].designation">
          </mat-form-field>
        </div>
        <div class="profile-form__field textarea">
          <mat-form-field>
            <textarea matInput placeholder="Description (Optional)" rows="3" [(ngModel)]="work_experiences[i].description" value="work_experiences[i].description"></textarea>
          </mat-form-field>
        </div>
        <div class="profile-form__field search">
          <h3>Skills Trained <span *ngIf="work_experiences[i].skills_trained.length > 0" class="count">{{work_experiences[i].skills_trained.length}}</span></h3>
          <mat-form-field appearance="standard" class="search">
            <mat-icon matSuffix>search</mat-icon>
            <input matInput placeholder="Search skills" type="text" [(ngModel)]="skill_trained[i]" value="skill_trained[i]" (keyup.enter)="addSkillsTrained(i)" (blur)="blurSkillSearchField('skill_trained', i)">
          </mat-form-field>
          <div class="skills" *ngIf="work_experiences[i].skills_trained.length > 0">
            <simple-tag *ngFor="let skill of work_experiences[i].skills_trained; let j = index" type="gray" title="{{skill}}"></simple-tag>
          </div>
        </div>
        <div class="profile-form__field search">
          <h3>Additional Exposure <span *ngIf="work_experiences[i].additional_exposure.length > 0" class="count">{{work_experiences[i].additional_exposure.length}}</span></h3>
          <mat-form-field appearance="standard" class="search">
            <mat-icon matSuffix>search</mat-icon>
            <input matInput placeholder="Search skills" type="text" [(ngModel)]="additional_exposure[i]" value="additional_exposure[i]" (keyup.enter)="addAdditionalExposure(i)" (blur)="blurSkillSearchField('additional_exposure', i)">
          </mat-form-field>
          <div class="skills" *ngIf="work_experiences[i].additional_exposure.length > 0">
            <simple-tag *ngFor="let skill of work_experiences[i].additional_exposure; let j = index" type="gray" title="{{skill}}"></simple-tag>
          </div>
        </div>
        <div class="profile-form__field border">
        </div>
      </ng-container>
      <div class="profile-form__field btn">
        <action-button type="stroked" title="Add Another" (click)="addWorkExperience()"></action-button>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Work end -->

<!-- Create_Profile_Skills start -->

<div *ngIf="selectedPageIndex===5" class="container {{profileCreationPages[5]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        SKILLS & INTERESTS
      </h3>
      <div class="profile-form__field search">
        <h3>Skills <span *ngIf="skills.length > 0" class="count">{{skills.length}}</span></h3>
        <mat-form-field appearance="standard" class="search">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Search skills" type="text" [(ngModel)]="skill.title" value="skill.title" (keyup.enter)="addSkills()" (blur)="blurSkillSearchField('skill')">
        </mat-form-field>
        <div *ngIf="skills.length > 0" class="skills">
          <simple-tag *ngFor="let skill of skills; let i = index" type="gray" title="{{skills[i].title}}" ellipseTag="true" value="{{skills[i].proficieny}}"></simple-tag>
        </div>
      </div>
      <div class="profile-form__field search">
        <h3>Interests <span *ngIf="interests.length > 0" class="count">{{interests.length}}</span></h3>
        <mat-form-field appearance="standard" class="search">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Search skills" type="text" [(ngModel)]="interest" value="interest" (keyup.enter)="addInterests()" (blur)="blurSkillSearchField('interest')">
        </mat-form-field>
        <div *ngIf="interests.length > 0" class="skills">
          <simple-tag *ngFor="let interest of interests; let i = index" type="gray" title="{{interests[i]}}"></simple-tag>
        </div>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Skills end -->

<!-- Create_Profile_Project start -->

<div *ngIf="selectedPageIndex===6" class="container {{profileCreationPages[6]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        PROJECTS
      </h3>
      <ng-container *ngFor="let project of projects; let i = index">
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="Project Name" type="text" [(ngModel)]="projects[i].project_name" value="projects[i].project_name">
          </mat-form-field>
        </div>
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Year of Completion</mat-label>
            <input matInput placeholder="Year of Completion" type="text" [(ngModel)]="projects[i].years" value="projects[i].years">
          </mat-form-field>
        </div>
        <div class="profile-form__field textarea">
          <mat-form-field>
            <textarea matInput placeholder="Description (Optional)" rows="3" [(ngModel)]="projects[i].description" value="projects[i].description"></textarea>
          </mat-form-field>
        </div>
        <div class="profile-form__field border">
        </div>
      </ng-container>
      <div class="profile-form__field btn">
        <action-button type="stroked" title="Add Another" (click)="addProjects()"></action-button>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Project end -->

<!-- Create_Profile_Publication start -->

<div *ngIf="selectedPageIndex===7" class="container {{profileCreationPages[7]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        PUBLICATIONS
      </h3>
      <ng-container *ngFor="let publication of publications; let i = index">
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Publication Name</mat-label>
            <input matInput placeholder="Publication Name" type="text" [(ngModel)]="publications[i].publication_name" value="publications[i].publication_name">
          </mat-form-field>
        </div>
        <div class="profile-form__field">
          <mat-form-field class="bg-transparent" appearance="fill">
            <mat-label>Year of Completion</mat-label>
            <input matInput placeholder="Year of Completion" type="text" [(ngModel)]="publications[i].years" value="publications[i].years">
          </mat-form-field>
        </div>
        <div class="profile-form__field textarea">
          <mat-form-field>
            <textarea matInput placeholder="Description (Optional)" rows="3" [(ngModel)]="publications[i].description" value="publications[i].description"></textarea>
          </mat-form-field>
        </div>
        <div class="profile-form__field border">
        </div>
      </ng-container>
      <div class="profile-form__field btn">
        <action-button type="stroked" title="Add Another" (click)="addPublications()"></action-button>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Publication end -->

<!-- Create_Profile_Links start -->

<div *ngIf="selectedPageIndex===8" class="container {{profileCreationPages[8]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="profile-form__title">
        EXTERNAL LINKS
      </h3>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Twitter (Optional)</mat-label>
          <img matSuffix src="assets/icons/ic_twitter.svg">
          <input matInput placeholder="Paste your link here" type="text" [(ngModel)]="external_links.twitter" value="external_links.twitter">
        </mat-form-field>
      </div>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Facebook (Optional)</mat-label>
          <img matSuffix src="assets/icons/ic_facebook.svg">
          <input matInput placeholder="Paste your link here" type="text" [(ngModel)]="external_links.facebook" value="external_links.facebook">
        </mat-form-field>
      </div>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Google (Optional)</mat-label>
          <img matSuffix src="assets/icons/ic_google.svg">
          <input matInput placeholder="Paste your link here" type="text" [(ngModel)]="external_links.google" value="external_links.google">
        </mat-form-field>
      </div>
      <div class="profile-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Linkedin (Optional)</mat-label>
          <img matSuffix src="assets/icons/ic_linkedin.svg">
          <input matInput placeholder="Paste your link here" type="text" [(ngModel)]="external_links.linkedin" value="external_links.linkedin">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="btn-next" type="flat" title="Finish" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Links end -->

<!-- Create_Profile_Status start -->

<div *ngIf="selectedPageIndex===9" class="container {{profileCreationPages[9]}}">
  <div class="container__full">
    <div class="profile-form">
      <h3 class="status__title">
        SET YOUR STATUS
      </h3>
      <div class="profile-form__field simple-tag">
        <simple-tag *ngFor="let status of statuses; let i = index" class="status" title="{{statuses[i]}}" onlineTag="true" [active]="profile_status === statuses[i]" (click)="setProfileStatus(i)"></simple-tag>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button class="view-profile" type="flat" title="View Profile" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Links end -->
