<!-- Create_Profile_Choose start -->

<div *ngIf="selectedPageIndex===0" class="container {{profileCreationPages[0]}}">
  <div class="container__full">
    <h1>Choose To Create Profile</h1>
  </div>
  <div class="container__left">
    <div class="option-box">
      <div class="option-box__content">
        <div class="option-box__title">
          <img class="icon-cv" src="assets/icons/ic_cv.svg">
          <h2 class="title">Drop Your Resume Here</h2>
        </div>
        <div class="option-box__description">
          <p>Formats Allowed</p>
          <h3>.PDF, .XML, .TEXT</h3>
        </div>
      </div>
    </div>
    <div class="option-title">
      <h2>Save Your Time</h2>
      <p>By Spending just $2 Per Page</p>
    </div>
    <div class="option-description">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
  <div class="option-text desktop">
    <h1>OR</h1>
  </div>
  <div class="container__right">
    <div class="option-box">
      <div class="option-box__content">
        <action-button type="flat" title="Create Profile" color="primary" (click)="goToCreatProfilePage()"></action-button>
      </div>
    </div>
    <div class="option-title">
      <h2>Save Money</h2>
      <p>Absolutely FREE. It will take few minutes.</p>
    </div>
    <div class="option-description">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
  </div>
</div>

<!-- Create_Profile_Choose end -->

<!-- Create_Profile_Basic start -->

<div *ngIf="selectedPageIndex===1" class="container {{profileCreationPages[1]}}">
  <div class="container__full">
    <div class="information-form">
      <h3 class="information-form__title">
        BASIC INFORMATION
      </h3>
      <div class="information-form__image">
        <img alt="Profile Image" src="assets/icons/profile-image.svg">
      </div>
      <div class="information-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Your Location</mat-label>
          <input matInput placeholder="Your Location" type="text">
        </mat-form-field>
      </div>
      <div class="information-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Date Of Birth</mat-label>
          <input matInput placeholder="Date Of Birth" type="date">
        </mat-form-field>
      </div>
      <div class="information-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Gender</mat-label>
          <input matInput placeholder="Gender" type="text">
        </mat-form-field>
      </div>
      <div class="information-form__field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Ethnicity</mat-label>
          <input matInput placeholder="Ethnicity" type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_Basic end -->

<!-- Create_Profile_About start -->

<div *ngIf="selectedPageIndex===2" class="container {{profileCreationPages[2]}}">
  <div class="container__full">
    <div class="about-form">
      <h3 class="about-form__title">
        ABOUT ME
      </h3>
      <div class="about-form__field">
        <mat-form-field>
          <textarea matInput placeholder="Explain Brief About Yourself" rows="15"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container__full">
    <action-button type="flat" title="Next" color="primary" (click)="goToNextPage()"></action-button>
  </div>
</div>

<!-- Create_Profile_About end -->

