@import "../../../styles/variables.scss";
$profile-form-field-mt: 30px;

:host {
  grid-area: main;
  margin: 0 40px 0 0;
  padding-top: 0;
  border-radius: 5px;
  background-color: transparent;
  .profile-form {
    action-button {
      min-width: 150px;
    }
    &__title {
      margin-top: $profile-form-field-mt;
      text-align: center;
    }
    .mat-form-field {
      width: 100%;
    }

    &__field {
      margin-top: $profile-form-field-mt;
      box-sizing: border-box;
      width: 100%;
      max-width: 615px;
      border: solid 1px $mat-form-border-color;
      border-radius: 5px;
      padding: 0;
      &.search {
        border: none;
        padding: 0px 0 0 18px;
        mat-form-field {
          margin-top: 10px;
          background-color: $third-bg-color;
          border-radius: 25px;
        }
      }
    }
  }
  .application-references {
    float: right;
    width: 70.3%;
    h1.title {
      font-family: "Poppins", sans-serif;
      line-height: 23px;
      font-size: 27px;
      color: rgba(map-get($md-cfaccent, 500), 0.84);
    }
    .people-list-container {
      padding-top: 10px;
      width: 100%;
      padding-bottom: 80px;
      max-height: 18vh;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      .row {
        background-color: #f5f8fa;
        padding: 10px 18px;
        margin-bottom: 5px;
        border-radius: 5px;

        .header-container {
          width: 100%;
          margin-bottom: 3px;
          @include flex(row, flex-start, space-between);
          .send-btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            .contact-btn {
              margin: 0 5px;
            }
          }
        }
      }

      .user-info {
        display: block;
        display: grid;
        grid-template: " image info " auto / 60px minmax(min-content, max-content);
        grid-column-gap: 10px;
        background-color: transparent;

        .image {
          grid-area: image;
          display: inline-block;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          vertical-align: middle;
          @include flex(row, center, flex-start);

          & > img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }

          &.secondary {
            & > img {
              width: 56px;
              height: 56px;
              border-radius: 0;
            }
          }
        }

        .info {
          grid-area: info;
          // width: 100%;
          display: inline-block;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          vertical-align: middle;
          @include flex(column, flex-start, center);

          h2.name {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 25px;
            line-height: 43px;
            color: rgba(map-get($md-cfaccent, 500), 0.84);
            margin: 8px;
          }

          h3.title {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: rgba(map-get($md-cfaccent, 500), 0.84);
            margin: 0;
          }

          h4.secondary-title {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 17px;
            color: rgba(map-get($md-cfaccent, 500), 0.84);
            margin: 0;
          }

          h5.secondary-title {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(map-get($md-cfaccent, 500), 0.34);
            margin: 0;
          }
        }
      }
    }
    .people-list-container::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
    &.refer-pop-app {
      width: 100%;
      float: none;
    }
  }
  mat-dialog-container {
    max-height: 65vh;
    overflow: auto;
  }
  .profile-form {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: $min-mobile-breakpoint) and (max-width: $max-mobile-breakpoint) {
  :host {
    //application-references
    .application-references {
      width: 99%;
      padding-top: 10px;
      margin: 0 auto;
      float: none;
      .row {
        .references-detail {
          ul {
            li {
              width: 100%;
              .application-references-content {
                width: calc(100% - 80px);
                padding: 10px 0 10px;
                h6 {
                  font-size: 14px;
                  line-height: 16px;
                }
                p {
                  font-size: 12px;
                  line-height: 14px;
                }
              }
            }
          }
        }
      }
      .people-list-container {
        .user-info {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: $min-mini-desktop-breakpoint) and (max-width: $max-mini-desktop-breakpoint) {
  .application-references {
    width: 96%;
    margin: 0 auto;
    float: none;
    .row {
      .references-detail {
        ul {
          li {
            margin-right: 15px;
            .application-references-img {
              img {
                margin-right: 10px !important;
              }
            }

            .application-references-content {
              width: 73%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $min-tablet-breakpoint) and (max-width: $max-tablet-breakpoint) {
  :host {
    .application-references {
      width: 96%;
      margin: 0 auto;
      float: none;
      .row {
        .references-detail {
          ul {
            li {
              margin-right: 10px;
              width: 48%;
              .application-references-content {
                width: 76%;
              }
            }
          }
        }
      }
    }
  }
}
