<mat-icon class="cancel" (click)="onClose()">cancel</mat-icon>
<h3 mat-dialog-title>{{data.category}}</h3>


<ng-container *ngIf="data.category === 'About Me'" [formGroup]="aboutMeForm">
  <mat-dialog-content>
    <div class="form-field textarea">
      <mat-form-field>
        <textarea matInput placeholder="Briefly introduce yourself" rows="15" formControlName="aboutMe"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <action-button class="update-btn" type="flat" title="Update" color="primary" (click)="updateGeneralInfo()"></action-button>
  </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="data.category === 'Skill Level Description'" >
  <mat-dialog-content>
   <ul type="none" class="skill_level_desc">
     <li *ngFor="let item of skillLevelDescription | keyvalue"><simple-tag class="simpletag" type="gray" ellipseTag="true" value="{{item.key}}">
      </simple-tag> - {{item.value}} <hr></li>
   </ul>
  </mat-dialog-content>

</ng-container>


<ng-container *ngIf="data.category === 'Education'" [formGroup]="educationForm">
  <mat-dialog-content>
    <div class="form-field">
      <mat-form-field class="bg-transparent" appearance="fill">
        <mat-label>School</mat-label>
        <input matInput placeholder="School" type="text" [matAutocomplete]="autocompleteUniversity" formControlName="university">
        <mat-autocomplete #autocompleteUniversity="matAutocomplete" (closed)="onBlurUniversity()">
          <mat-option *ngFor="let autocomplete_university of autocomplete_universities" [value]="autocomplete_university.school_name" (onSelectionChange)="onSelectUniversity(autocomplete_university)">
            <span>{{autocomplete_university.school_name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="bg-transparent" appearance="fill">
        <mat-label>Degree</mat-label>
        <mat-select formControlName="degree">
          <mat-option *ngFor="let degree of degrees" value="{{degree.education_level}}">{{degree.education_level}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="bg-transparent" appearance="fill">
        <mat-label>Major</mat-label>
        <input matInput placeholder="Major" type="text" [matAutocomplete]="autocompleteMajor" formControlName="major">
        <mat-icon matSuffix *ngIf="educationForm.get('major').value && helperService.checkSpacesString(educationForm.get('major').value) && checkMajorValidation(false)">done</mat-icon>
        <mat-icon matSuffix class="error-field" *ngIf="educationForm.get('major').value && helperService.checkSpacesString(educationForm.get('major').value) && !checkMajorValidation(false) && educationForm.get('major').touched">close</mat-icon>
        <mat-autocomplete #autocompleteMajor="matAutocomplete" (closed)="onBlurMajor(false)">
          <mat-option *ngFor="let autocomplete_major of autocomplete_majors" [value]="autocomplete_major.major_name" (onSelectionChange)="onSelectMajor(autocomplete_major, false)">
            <span>{{autocomplete_major.major_name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="bg-transparent" appearance="fill">
        <mat-label>Focus</mat-label>
        <input matInput placeholder="Focus Major" type="text" [matAutocomplete]="autocompleteFocusMajor" formControlName="focus_major">
        <mat-icon matSuffix *ngIf="educationForm.get('focus_major').value &&helperService.checkSpacesString(educationForm.get('focus_major').value) && checkMajorValidation(true)">done</mat-icon>
        <mat-icon matSuffix class="error-field" *ngIf="educationForm.get('focus_major').value && helperService.checkSpacesString(educationForm.get('focus_major').value) && !checkMajorValidation(true) && educationForm.get('focus_major').touched">close</mat-icon>
        <mat-autocomplete #autocompleteFocusMajor="matAutocomplete" (closed)="onBlurMajor(true)">
          <mat-option *ngFor="let autocomplete_focus_major of autocomplete_focus_majors" [value]="autocomplete_focus_major.major_name" (onSelectionChange)="onSelectMajor(autocomplete_focus_major, true)">
            <span>{{autocomplete_focus_major.major_name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="bg-transparent" appearance="fill">
        <mat-label>Start Date</mat-label>
        <input matInput placeholder="YYYY" type="text" formControlName="start_date" pattern="\d{4}">
        <input class="hide" [matDatepicker]="start_date" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #start_date
          startView="multi-year"
          (yearSelected)="onEducationYearSelect($event, true, start_date)"
        >
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-field" *ngIf="educationForm.get('start_date').value">
      <mat-form-field class="bg-transparent" appearance="fill">
        <mat-label>Graduation Date</mat-label>
        <input matInput placeholder="YYYY" type="text" formControlName="graduation_date" pattern="\d{4}">
        <input class="hide" [matDatepicker]="graduation_date" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="graduation_date"></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #graduation_date
          startView="multi-year"
          (yearSelected)="onEducationYearSelect($event, false, graduation_date)"
        >
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="bg-transparent" appearance="fill">
        <mat-label>GPA</mat-label>
        <input matInput placeholder="GPA" formControlName="gpa" type="text">
      </mat-form-field>
    </div>
    <div class="form-field textarea">
      <mat-form-field>
        <textarea matInput placeholder="Description (Optional)" rows="3" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <action-button class="update-btn" type="flat" title="{{data.editIndex === -1 ? 'Add' : 'Update'}}" color="primary" [disabled]="!(educationForm.valid && checkSchoolNameValidation() && checkMajorValidation(true) && checkMajorValidation(false))" (click)="data.editIndex === -1 ? addEducation() : updateEducation()"></action-button>
  </mat-dialog-actions>
</ng-container>


<ng-container *ngIf="data.category === 'Work Experience'" [formGroup]="experienceForm">
    <mat-dialog-content>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Company Name</mat-label>
          <input matInput placeholder="Company Name" type="text" [matAutocomplete]="autocompleteCompany" formControlName="company_name">
          <mat-autocomplete #autocompleteCompany="matAutocomplete" (closed)="onBlurCompany()">
            <mat-option *ngFor="let autocomplete_company of autocomplete_companies" [value]="autocomplete_company.company_name" (onSelectionChange)="onSelectCompany(autocomplete_company)">
              <span>{{autocomplete_company.company_name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput placeholder="MM/YYYY" type="text" formControlName="start_date" pattern="\d{1,2}/\d{4}">
          <input class="hide" [matDatepicker]="experience_start_date" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="experience_start_date"></mat-datepicker-toggle>
          <mat-datepicker
            touchUi
            #experience_start_date
            startView="multi-year"
            (monthSelected)="onExperienceMonthSelect($event, true, experience_start_date)"
          >
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-field" *ngIf="experienceForm.get('start_date').value">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput placeholder="MM/YYYY" type="text" formControlName="end_date" pattern="\d{1,2}/\d{4}">
          <input class="hide" [matDatepicker]="experience_end_date" [min]="minDate" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="experience_end_date"></mat-datepicker-toggle>
          <mat-datepicker
            touchUi
            #experience_end_date
            startView="multi-year"
            (monthSelected)="onExperienceMonthSelect($event, false, experience_end_date)"
          >
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Designation</mat-label>
          <input matInput placeholder="Designation" type="text" formControlName="job">
        </mat-form-field>
      </div>
      <div class="form-field textarea">
        <mat-form-field class="bg-transparent" appearance="fill">
          <textarea matInput placeholder="Description (Optional)" rows="3" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="form-field search">
        <h3>Skills Trained <span *ngIf="skills_trained.length > 0" class="count">{{skills_trained.length}}</span></h3>
        <mat-form-field appearance="standard" class="search">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Search skills" type="text" [matAutocomplete]="autocompleteSkillsTrained" formControlName="skills_trained">
          <mat-autocomplete #autocompleteSkillsTrained="matAutocomplete">
            <mat-option *ngFor="let autocomplete_skill_trained of autocomplete_skills_trained" [value]="autocomplete_skill_trained.skill" (onSelectionChange)="addSkillsTrained(autocomplete_skill_trained)">
              <span>{{autocomplete_skill_trained.skill}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="skills" *ngIf="skills_trained.length > 0">
          <simple-tag *ngFor="let skill of skills_trained; let j = index" type="gray" title="{{skill.skill}}" removeTag="true" (click)="removeSkillsTrained(j, skill)"></simple-tag>
        </div>
      </div>
      <div class="form-field search">
        <h3>Industry Exposure <span *ngIf="additional_industries.length > 0" class="count">{{additional_industries.length}}</span></h3>
        <mat-form-field appearance="standard" class="search">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Search Industries" type="text" [matAutocomplete]="autocompleteAdditionalIndustry" formControlName="additional_industries">
          <mat-autocomplete #autocompleteAdditionalIndustry="matAutocomplete">
            <mat-option *ngFor="let autocomplete_additional_industry of autocomplete_additional_industries" [value]="autocomplete_additional_industry.industry_name" (onSelectionChange)="addAdditionalIndustry(autocomplete_additional_industry)">
              <span>{{autocomplete_additional_industry.industry_name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="skills" *ngIf="additional_industries.length > 0">
          <simple-tag *ngFor="let industry of additional_industries; let j = index" type="gray" title="{{industry.industry_name}}" removeTag="true" (click)="removeAdditionalIndustry(j, industry)"></simple-tag>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <action-button class="update-btn" type="flat" [title]="data.editIndex === -1 ? 'Add' : 'Update'" color="primary" [disabled]="!(experienceForm.valid && checkCompanyNameValidation())" (click)="data.editIndex === -1 ? addExperience() : updateExperience()"></action-button>
    </mat-dialog-actions>
  </ng-container>


  <ng-container *ngIf="data.category === 'Project'" [formGroup]="projectForm">
    <mat-dialog-content>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Project Name</mat-label>
          <input matInput placeholder="Project Name" type="text" formControlName="project_name">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Date of Completion</mat-label>
          <input matInput placeholder="MM/DD/YYYY" type="text" formControlName="date_finished" pattern="\d{1,2}/\d{1,2}/\d{4}">
          <input class="hide" [matDatepicker]="project_finished_date" [max]="maxDate" (dateChange)="onChangeProjectFinishedDate($event)">
          <mat-datepicker-toggle matSuffix [for]="project_finished_date"></mat-datepicker-toggle>
          <mat-datepicker
            touchUi
            #project_finished_date
          >
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Link" type="text" formControlName="href">
        </mat-form-field>
      </div>
      <div class="form-field textarea">
        <mat-form-field>
          <textarea matInput placeholder="Description" rows="3" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <action-button class="update-btn" type="flat" [title]="data.editIndex === -1 ? 'Add' : 'Update'" color="primary" [disabled]="!(projectForm.valid && checkProjectNameValidation())" (click)="data.editIndex === -1 ? addProject() : updateProject()"></action-button>
    </mat-dialog-actions>
  </ng-container>


  <ng-container *ngIf="data.category === 'Publication'" [formGroup]="publicationForm">
    <mat-dialog-content>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Publication Name</mat-label>
          <input matInput placeholder="Publication Name" type="text" formControlName="publication_name">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Date Published</mat-label>
          <input matInput placeholder="MM/DD/YYYY" type="text" formControlName="date_published" pattern="\d{1,2}/\d{1,2}/\d{4}">
          <input class="hide" [matDatepicker]="publication_date_published" [max]="maxDate" (dateChange)="onChangeDatePublished($event)">
          <mat-datepicker-toggle matSuffix [for]="publication_date_published"></mat-datepicker-toggle>
          <mat-datepicker
            touchUi
            #publication_date_published
          >
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Link" type="text" formControlName="href">
        </mat-form-field>
      </div>
      <div class="form-field textarea">
        <mat-form-field>
          <textarea matInput placeholder="Description" rows="3" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <action-button class="update-btn" type="flat" [title]="data.editIndex === -1 ? 'Add' : 'Update'" color="primary" [disabled]="!(publicationForm.valid && checkPublicationNameValidation())" (click)="data.editIndex === -1 ? addPublication() : updatePublication()"></action-button>
    </mat-dialog-actions>
  </ng-container>

  <ng-container *ngIf="data.category === 'External Resources'" [formGroup]="externalResourcesForm">
    <mat-dialog-content>
      <div *ngFor="let resource of externalResources" class="form-field">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>{{resource}}</mat-label>
          <img matSuffix src="assets/icons/ic_{{resource.toLowerCase()}}.svg">
          <input matInput placeholder="{{resource}} Link" type="text" [formControl]="externalResourcesForm.get(resource)">
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <action-button class="update-btn" type="flat" title="Update" color="primary" [disabled]="!externalResourcesForm.valid" (click)="updateExternalResourceData()"></action-button>
    </mat-dialog-actions>
  </ng-container>
