<ng-container>

  <div class="edit-title">
    <a *ngIf="!editMode && !userId" (click)="onClickEdit()">Edit Profile</a>
  </div>

  <div *ngIf="(userGeneralInfo && userGeneralInfo.user_intro) || editMode" class="row" [class.edit-mode]="editMode"
    id="about-me">
    <h3> About Me </h3>
    <ng-container *ngIf="true; let short_desc">
      <p *ngIf="userGeneralInfo.user_intro" class="description"
        [class.short-desc]="short_desc && userGeneralInfo.user_intro.length > helperService.shortDescLength">
        {{short_desc && !editMode ? helperService.shortDescription(userGeneralInfo.user_intro) : userGeneralInfo.user_intro}}
      </p>
      <a *ngIf="userGeneralInfo.user_intro && userGeneralInfo.user_intro.length > helperService.shortDescLength && !editMode"
        (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
    </ng-container>
    <div *ngIf="editMode" class="btn-container">
      <action-button class="edit-btn" type="stroked" color="primary" title="Edit"
        (click)="openDialog('About Me', userGeneralInfo)"></action-button>
    </div>
  </div>

  <div *ngIf="(educationList && educationList.length > 0) || editMode" class="row" [class.edit-mode]="editMode"
    id="education">
    <h3> Education </h3>
    <ng-container *ngFor="let education of educationList; let i = index">
      <div class="editor-container">
        <a *ngIf="education.website" class="name-field" [href]="'//' + education.website"
          target="_blank">{{education.school_id ? education.school_name : education.user_specified_school_name}}</a>
        <a *ngIf="!education.website"
          class="name-field">{{education.school_id ? education.school_name : education.user_specified_school_name}}</a>
        <mat-icon *ngIf="editMode" class="btn-edit" (click)="openDialog('Education', educationList, i)">edit</mat-icon>
        <mat-icon *ngIf="editMode" class="btn-delete" (click)="deleteEducationData(i)">delete</mat-icon>
      </div>
      <div class="detail-info">
        <h4 class="detail-info__left-top">
          {{education.education_level}}{{education.major_name ? ' - ' + education.major_name : ''}}</h4>
        <small *ngIf="education.focus_major" class="detail-info__left-middle">Focused on
          {{education.focus_major_name}}</small>
        <small class="detail-info__left-bottom">{{helperService.convertToFormattedString(education.start_date, 'YYYY')}}
          - {{helperService.convertToFormattedString(education.graduation_date, 'YYYY')}}</small>
        <h4 *ngIf="education.gpa" class="detail-info__right_all">{{education.gpa}} GPA</h4>
      </div>
      <ng-container *ngIf="true; let short_desc">
        <p *ngIf="education.edu_desc" class="description"
          [class.short-desc]="short_desc && education.edu_desc.length > helperService.shortDescLength">
          {{short_desc ? helperService.shortDescription(education.edu_desc) : education.edu_desc}}</p>
        <a *ngIf="education.edu_desc && education.edu_desc.length > helperService.shortDescLength"
          (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
      </ng-container>
      <mat-divider *ngIf="(i < educationList.length - 1) || editMode"></mat-divider>
    </ng-container>
    <div *ngIf="editMode" class="btn-container">
      <action-button class="edit-btn" type="stroked" color="primary" title="Add More"
        (click)="openDialog('Education', educationList)"></action-button>
    </div>
  </div>

  <div *ngIf="(experienceList && experienceList.length > 0) || editMode" class="row" [class.edit-mode]="editMode"
    id="experience">
    <h3> Work Experience </h3>
    <ng-container *ngFor="let experience of experienceList; let i = index;">
      <div class="editor-container">
        <a class="name-field" *ngIf="experience.company_id" [routerLink]="['/company-info/', experience.company_id]">{{experience.company_name }}</a>
        <a class="name-field" *ngIf="!experience.company_id">{{experience.user_specified_company_name}}</a>
        <mat-icon *ngIf="editMode" class="btn-edit" (click)="openDialog('Work Experience', experienceList, i)">edit
        </mat-icon>
        <mat-icon *ngIf="editMode" class="btn-delete" (click)="deleteExperienceData(i)">delete</mat-icon>
      </div>
      <h4>{{experience.job}}</h4>
      <small>{{helperService.convertToFormattedString(experience.start_date, 'MMM, YYYY')}} -
        {{(experience.end_date ? helperService.convertToFormattedString(experience.end_date, 'MMM, YYYY') : 'Present')}}</small>
      <ng-container *ngIf="true; let short_desc">
        <p *ngIf="experience.job_desc" class="description"
          [class.short-desc]="short_desc && experience.job_desc.length > helperService.shortDescLength">
          {{short_desc ? helperService.shortDescription(experience.job_desc) : experience.job_desc }}</p>
        <a *ngIf="experience.job_desc && experience.job_desc.length > helperService.shortDescLength"
          (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
      </ng-container>
      <ng-container *ngIf="experience.skills_trained && experience.skills_trained.length > 0">
        <h5>Skills Trained {{experience.skills_trained.length}}</h5>
        <div class="skills" *ngIf="displayItemsLimit; let limit">
          <ng-container *ngFor="let skill_trained of experience.skills_trained; let i = index;">
            <simple-tag *ngIf="(!editMode && i < limit) || editMode" type="gray" title="{{skill_trained.skill}}">
            </simple-tag>
          </ng-container>
          <img *ngIf="!editMode && limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
            src="assets/icons/ic_see_less.svg" alt="See Less">
          <img *ngIf="!editMode && limit < experience.skills_trained.length" (click)="limit = limit + displayItemsLimit"
            src="assets/icons/ic_see_more.svg" alt="See More">
        </div>
      </ng-container>
      <ng-container *ngIf="experience.industries && experience.industries.length > 0">
        <h5>Company Industries {{experience.industries.length}}</h5>
        <simple-tag *ngFor="let industry of experience.industries" type="gray" title="{{industry.industry_name}}">
        </simple-tag>
      </ng-container>
      <ng-container *ngIf="experience.add_industries && experience.add_industries.length > 0">
        <h5>Industry Exposure {{experience.add_industries.length}}</h5>
        <div class="skills" *ngIf="displayItemsLimit; let limit">
          <ng-container *ngFor="let add_industry of experience.add_industries; let i = index;">
            <simple-tag *ngIf="(!editMode && i < limit) || editMode" type="gray" title="{{add_industry.industry_name}}">
            </simple-tag>
          </ng-container>
          <img *ngIf="!editMode && limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
            src="assets/icons/ic_see_less.svg" alt="See Less">
          <img *ngIf="!editMode && limit < experience.add_industries.length" (click)="limit = limit + displayItemsLimit"
            src="assets/icons/ic_see_more.svg" alt="See More">
        </div>
      </ng-container>
      <mat-divider *ngIf="(i < experienceList.length - 1) || editMode"></mat-divider>
    </ng-container>
    <div *ngIf="editMode" class="btn-container">
      <action-button class="edit-btn" type="stroked" color="primary" title="Add More"
        (click)="openDialog('Work Experience', experienceList)"></action-button>
    </div>
  </div>

  <div *ngIf="(userPublicationsList && userPublicationsList.length > 0) || editMode" class="row"
    [class.edit-mode]="editMode" id="publications">
    <h3> Publications </h3>
    <ng-container *ngFor="let publication of userPublicationsList; let i = index;">
      <div class="editor-container">
        <h4 class="name-field">
          <a *ngIf="publication.href" target="_blank" class="title"
            href="//{{publication.href}}">{{publication.publication_title}}</a>
          <ng-container *ngIf="!publication.href">{{publication.publication_title}}</ng-container>
        </h4>
        <mat-icon *ngIf="editMode" class="btn-edit" (click)="openDialog('Publication', userPublicationsList, i)">edit
        </mat-icon>
        <mat-icon *ngIf="editMode" class="btn-delete" (click)="deletePublicationData(i)">delete</mat-icon>
      </div>
      <small *ngIf="publication.date_published">Published on
        {{helperService.convertToFormattedString(publication.date_published, 'll')}}</small>
      <ng-container *ngIf="true; let short_desc">
        <p *ngIf="publication.description" class="description"
          [class.short-desc]="short_desc && publication.description.length > helperService.shortDescLength">
          {{short_desc ? helperService.shortDescription(publication.description) : publication.description}}</p>
        <a *ngIf="publication.description && publication.description.length > helperService.shortDescLength"
          (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
      </ng-container>
      <mat-divider *ngIf="(i < userPublicationsList.length - 1) || editMode"></mat-divider>
    </ng-container>
    <div *ngIf="editMode" class="btn-container">
      <action-button class="edit-btn" type="stroked" color="primary" title="Add More"
        (click)="openDialog('Publication', userPublicationsList)"></action-button>
    </div>
  </div>

  <div *ngIf="(userProjectsList && userProjectsList.length > 0) || editMode" class="row" [class.edit-mode]="editMode"
    id="projects">
    <h3> Projects </h3>
    <ng-container *ngFor="let project of userProjectsList; let i = index;">
      <div class="editor-container">
        <h4 class="name-field">
          <a *ngIf="project.href" target="_blank" class="title" href="//{{project.href}}">{{project.project_name}}</a>
          <ng-container *ngIf="!project.href">{{project.project_name}}</ng-container>
        </h4>
        <mat-icon *ngIf="editMode" class="btn-edit" (click)="openDialog('Project', userProjectsList, i)">edit</mat-icon>
        <mat-icon *ngIf="editMode" class="btn-delete" (click)="deleteProjectData(i)">delete</mat-icon>
      </div>
      <small *ngIf="project.date_finished">Completed on
        {{helperService.convertToFormattedString(project.date_finished, 'll')}}</small>
      <ng-container *ngIf="true; let short_desc">
        <p *ngIf="project.description" class="description"
          [class.short-desc]="short_desc && project.description.length > helperService.shortDescLength">
          {{short_desc ? helperService.shortDescription(project.description) : project.description}}</p>
        <a *ngIf="project.description && project.description.length > helperService.shortDescLength"
          (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
      </ng-container>
      <mat-divider *ngIf="(i < userProjectsList.length - 1) || editMode"></mat-divider>
    </ng-container>
    <div *ngIf="editMode" class="btn-container">
      <action-button class="edit-btn" type="stroked" color="primary" title="Add More"
        (click)="openDialog('Project', userProjectsList)"></action-button>
    </div>
  </div>

  <div *ngIf="(userSkillsList && userSkillsList.length > 0) || editMode" class="row" [class.edit-mode]="editMode" id="skills">
    <div class="question-container">
      <h3> Skills </h3>
      <img src="assets/icons/ic_question.svg" class="question" *ngIf="editMode" (click)="openSkillDescriptionDialog()">
    </div>

    <div *ngIf="editMode" class="form-field search" [formGroup]="skillsSearchForm" autocomplete="off">
      <mat-form-field appearance="standard" class="search">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="Search skills" type="text" [matAutocomplete]="autocompleteSkills"
          formControlName="skills">
        <mat-autocomplete #autocompleteSkills="matAutocomplete">
          <mat-option *ngFor="let autocomplete_skill of autocomplete_skills" [value]="autocomplete_skill.skill"
            (onSelectionChange)="addSkills(autocomplete_skill)">
            <span>{{autocomplete_skill.skill}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div *ngIf="editMode && temp_skill" class="temp-skill">
      <simple-tag type="gray" title="{{temp_skill.skillItem.skill}}" ellipseTag="true" isControl="true"
        value="{{temp_skill.skillItem.skill_level}}" (levelChanged)="onLevelChanged($event, temp_skill.index)"
        (removeClick)="removeUserSkillsData(temp_skill.index, temp_skill.skillItem)"></simple-tag>
      <mat-icon (click)="editSkillDone()">cancel</mat-icon>
    </div>
    <ng-container *ngIf="!editMode || !temp_skill">
      <h5>Skills {{ userSkillsList ? userSkillsList.length : '0' }}</h5>
      <div class="skills" *ngIf="displayItemsLimit; let limit">
        <ng-container *ngFor="let skill of userSkillsList; let i = index">
          <simple-tag *ngIf="(!editMode && i < limit) || editMode" type="gray" title="{{skill.skill}}" ellipseTag="true"
            value="{{skill.skill_level}}" (levelChanged)="onLevelChanged($event, i)"
            (removeClick)="removeUserSkillsData(i, skill)" [isControl]="editMode"
            [matTooltip]="SkillLevelDescription[skill.skill_level].title + SkillLevelDescription[skill.skill_level].description"
            [matTooltipShowDelay]=500></simple-tag>
        </ng-container>
        <img *ngIf="!editMode && limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
          src="assets/icons/ic_see_less.svg" alt="See Less">
        <img *ngIf="!editMode && limit < userSkillsList.length" (click)="limit = limit + displayItemsLimit"
          src="assets/icons/ic_see_more.svg" alt="See More">
      </div>
    </ng-container>
  </div>

  <div *ngIf="(userInterestsList && userInterestsList.length > 0) || editMode" class="row" [class.edit-mode]="editMode"
    id="interests">
    <h3> Interests </h3>
    <div *ngIf="editMode" class="form-field search" [formGroup]="interestsSearchForm" autocomplete="off">
      <mat-form-field appearance="standard" class="search">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="Search Interests" type="text" [matAutocomplete]="autocompleteInterests"
          formControlName="interests">
        <mat-autocomplete #autocompleteInterests="matAutocomplete">
          <mat-option *ngFor="let autocomplete_interest of autocomplete_interests"
            [value]="autocomplete_interest.interest" (onSelectionChange)="addInterests(autocomplete_interest)">
            <span>{{autocomplete_interest.interest}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <h5>Interests {{ userInterestsList ? userInterestsList.length : '0' }}</h5>
    <div class="skills" *ngIf="displayItemsLimit; let limit">
      <ng-container *ngFor="let interest of userInterestsList; let i = index">
        <simple-tag *ngIf="(!editMode && i < limit) || editMode" type="gray" title="{{interest.interest}}"
          [removeTag]="editMode" (click)="removeUserInteretsData(i, interest)"></simple-tag>
      </ng-container>
      <img *ngIf="!editMode && limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
        src="assets/icons/ic_see_less.svg" alt="See Less">
      <img *ngIf="!editMode && limit < userInterestsList.length" (click)="limit = limit + displayItemsLimit"
        src="assets/icons/ic_see_more.svg" alt="See More">
    </div>
  </div>

  <div *ngIf="(externalResourcesList && externalResourcesList.length > 0) || editMode" class="row"
    [class.edit-mode]="editMode" id="external-resources">
    <h3> External Resources </h3>
    <div>
      <div class="img-tag" *ngFor="let resource of externalResourcesList">
        <img src="assets/icons/ic_{{resource.description.toLowerCase()}}_white.svg">
        <label>{{resource.description}}</label>
        <a href="//{{resource.link}}" target="_blank">{{resource.link}}</a>
      </div>
    </div>
    <div *ngIf="editMode" class="btn-container">
      <action-button class="edit-btn" type="stroked" color="primary" title="Edit"
        (click)="openDialog('External Resources', externalResourcesList)"></action-button>
    </div>
  </div>
</ng-container>
