<ng-container *ngIf="isJobLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>

<div class="application-profile-detail-container">
  <!-- Profile-Data -->
  <div class="user-row" id="gen-info">
    <div>
      <div>
        <img class="user-photo" src="{{generalInfo?.photo ? generalInfo?.photo :'assets/icons/no_photo.png'}}"
          alt="Profile Image">
      </div>
    </div>
    <ng-container>
      <div class="user-detail">
        <div>
          <h1>{{generalInfo?.first_name}} {{generalInfo?.last_name}}</h1>
        </div>
        <div class="profile-info">

          <div class="profile-box">
            <div class="profile-text" *ngIf="generalInfo?.city || generalInfo?.state || generalInfo?.country">
              <img _ngcontent-aag-c11="" src="assets/icons/ic_location.svg">
              <p>
                {{(generalInfo.city ? generalInfo.city : '') + (generalInfo.city && (generalInfo.state || generalInfo.country) ? ', ' : '') + (generalInfo.state ? generalInfo.state : '') + (generalInfo.state && generalInfo.country ? ', ' : '') + (generalInfo.country ? generalInfo.country : '')}}
              </p>
            </div>

            <div class="profile-text" *ngIf="generalInfo?.birthdate">
              <img src="assets/icons/ic_birthday-cake.svg">
              <p>{{helperService.convertToFormattedString(generalInfo.birthdate, 'll')}}
              </p>
            </div>
          </div>

          <div class="profile-box">
            <div class="profile-text" *ngIf="generalInfo?.gender">
              <img src="{{generalInfo.gender === 'Male' ? 'assets/icons/ic_male.svg' : 'assets/icons/ic_female.svg'}}">
              <p>{{generalInfo.gender}}</p>
            </div>

            <div class="profile-text">
              <label>Email Verified</label>
              <img class="valid" src="assets/icons/ic_checkbox_checked.svg">
            </div>
          </div>


        </div>



      </div>
      <div class="user-status">
        <simple-tag [title]="profileStatuses[generalInfo?.is_looking]" onlineTag="true" type="gray"
          [active]="generalInfo?.is_looking === 1"></simple-tag>
      </div>
    </ng-container>
  </div>
  <div class="position-list-container">
    <div>
      <div class="row position-qualification-detail" id="qualification-level">
        <h3>Qualification Level Estimate Breakdown</h3>
        <div class="heading-row">
          <h5>Candidate Qualification Level Estimate</h5>
          <div *ngFor="let level of positionName">
            <simple-tag type="gray"
              title="{{calculateQualificationLevel(level.true_fitscore_info, level.minimum_skills)}}">
            </simple-tag>
          </div>
        </div>
        <div
          *ngIf=" positionName[0]?.minimum_skills?.length > 0 || positionName[0]?.true_fitscore_info?.skills_weight > 0 || positionName[0]?.true_fitscore_info?.education_weight > 0 || positionName[0]?.true_fitscore_info?.experience_weight > 0 || positionName[0]?.true_fitscore_info?.interests_weight > 0 ">
          <h5>Qualification Level Estimate Breakdown</h5>
          <div class="position-qualification-skills" *ngFor="let score of positionName">
            <div>
              <simple-tag *ngIf="score.true_fitscore_info?.skills_weight" type="gray" title="Skills Match"
                ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.skills_fitscore)}}"
                matTooltip="Skills Match: {{(score.true_fitscore_info?.skills_fitscore*100)| number : '2.0' }}%"
                [matTooltipShowDelay]=500>
              </simple-tag>
              <simple-tag *ngIf="score.minimum_skills" type="gray" title="Required Skills Match" ellipseTag="true"
                value="{{mathFloor(6*score.true_fitscore_info?.required_skills_fitscore)}}"
                matTooltip="Required Skills Match: {{(score.true_fitscore_info?.required_skills_fitscore*100) | number : '2.0' }}%"
              [matTooltipShowDelay]=500>
              </simple-tag>
              <simple-tag *ngIf="score.true_fitscore_info?.experience_weight" type="gray" title="Experience Match"
                ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.experience_fitscore)}}"
                matTooltip="Experience Match: {{(score.true_fitscore_info?.experience_fitscore*100)| number : '2.0'}}%"
              [matTooltipShowDelay]=500>
              </simple-tag>
              <simple-tag *ngIf="score.true_fitscore_info?.education_weight" type="gray" title="Education Match"
                ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.education_fitscore)}}"
                matTooltip="Education Match: {{(score.true_fitscore_info?.education_fitscore*100)| number : '2.0'}}%"
                [matTooltipShowDelay]=500>
              </simple-tag>
              <simple-tag *ngIf="score.true_fitscore_info?.interests_weight" type="gray" title="Interests Match"
                ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.interests_fitscore)}}"
                matTooltip="Interests Match: {{(score.true_fitscore_info?.interests_fitscore*100)| number : '2.0'}}%"
              [matTooltipShowDelay]=500>
              </simple-tag>
              <p
                *ngIf="!score.true_fitscore_info ||  (score.true_fitscore_info && !score.true_fitscore_info.skills_weight && !score.true_fitscore_info.experience_weight && !score.true_fitscore_info.education_weight && !score.true_fitscore_info.interests_weight && !score.minimum_skills)">
                N/A
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="matched-skills" *ngIf="matchedSkills?.length > 0 || missingSkills?.length > 0">
        <div class="row position-required-skills-detail main-card">
          <div class="show-button">
            <action-button type="text" title="{{!showMoreFlag ? 'See All' :
                    'See Less'}}" color="primary" (click)="showMoreFlag = !showMoreFlag"
              *ngIf="matchedSkills?.length > 2 || missingSkills?.length > 2"></action-button>
          </div>
          <h3>Matched Skills</h3>
          <ul>
            <li>
              <h5 for="skill_required">Matched Preferred Skills<span
                  *ngIf="matchedSkills?.length > 0">{{ matchedSkills?.length}}</span>
              </h5>
              <div *ngIf="matchedSkills?.length; else noSkill">
                <div class="skil-height-fix" [ngClass]="{'skill-more-height': showMoreFlag}"
                  *ngIf="displayItemsLimit; let limit">
                  <div class="skills-preferred-m green-color-tag"
                    *ngFor="let matchSkill of matchedSkills; let i = index; ">
                    <simple-tag type="green" title="{{matchSkill.skill}}">
                    </simple-tag>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <h5 for="skill_required">Missing/Insufficient Preferred Skills<span
                  *ngIf="missingSkills?.length > 0">{{ missingSkills?.length}}</span>
              </h5>
              <div *ngIf="missingSkills?.length; else noSkill">
                <div class="skil-height-fix" [ngClass]="{'skill-more-height': showMoreFlag}"
                  *ngIf="displayItemsLimit; let limit">
                  <div class="skills-preferred-m red-color-tag" *ngFor="let skill of missingSkills ; let i = index; ">
                    <simple-tag type="red" title="{{skill.skill}}">
                    </simple-tag>
                  </div>
                </div>
              </div>
              <ng-template #noSkill>
                <ul>
                  <li>N/A</li>
                </ul>
              </ng-template>
            </li>
          </ul>
        </div>
      </div>
      <div class="row position-interest-detail" id="matched-interest" *ngIf="matchedInterests?.length > 0">
        <h3>Matched Interests</h3>
        <div class="position-matched">
          <h5 for="skill_required">Matched Interests <span
              *ngIf="matchedInterests?.length > 0">{{ matchedInterests?.length}}</span>
          </h5>
          <div class="skil-height-fix" *ngIf="matchedInterests;">
            <div class="skills-preferred-m" *ngFor="let matched_interest of matchedInterests ">
              <simple-tag type="green" title="{{matched_interest.interest}}">
              </simple-tag>
            </div>
          </div>
        </div>
      </div>
      <div class="comman">
        <div class="row position-interest-detail" *ngIf="generalInfo?.user_intro" id="intro">
          <h3>Introduction</h3>
          <ng-container *ngIf="true; let short_desc">
            <p *ngIf="generalInfo?.user_intro" class="description"
              [class.short-desc]="short_desc && generalInfo?.user_intro?.length > helperService.shortDescLength">
              {{short_desc ? helperService.shortDescription(generalInfo.user_intro) : generalInfo.user_intro }}
            </p>
            <a *ngIf="generalInfo?.user_intro && generalInfo.user_intro?.length > helperService.shortDescLength"
              (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
          </ng-container>
        </div>
        <div class="row position-eductaion-detail position-required-skills-detail" id="education"
          *ngIf="educationList?.length > 0">
          <h3> Education </h3>
          <div class="education-level-m">
            <ng-container *ngFor="let education of educationList; let i = index">
              <div class="editor-container">
                <a *ngIf="education.website" class="name-field" [href]="'//' + education.website"
                  target="_blank">{{education.school_id ? education.school_name : education.user_specified_school_name}}</a>
                <a *ngIf="!education.website"
                  class="name-field">{{education.school_id ? education.school_name : education.user_specified_school_name}}</a>
              </div>
              <div class="detail-info">
                <h4 *ngIf="education.gpa" class="detail-info__right_all">{{education.gpa}} GPA</h4>
                <h4 class="detail-info__left-top">
                  {{education.education_level}}{{education.major_name ? ' - ' + education.major_name : ''}}</h4>
                <small
                  class="detail-info__left-bottom">{{helperService.convertToFormattedString(education.start_date, 'YYYY')}}
                  - {{helperService.convertToFormattedString(education.graduation_date, 'YYYY')}}</small>
              </div>
              <ng-container *ngIf="true; let short_desc">
                <p *ngIf="education.edu_desc" class="description"
                  [class.short-desc]="short_desc && education.edu_desc?.length > helperService.shortDescLength">
                  {{short_desc ? helperService.shortDescription(education.edu_desc) : education.edu_desc}}</p>
                <a *ngIf="education.edu_desc && education.edu_desc?.length > helperService.shortDescLength"
                  (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
              </ng-container>
              <mat-divider *ngIf="(i < educationList?.length - 1)"></mat-divider>
            </ng-container>
          </div>
        </div>
        <div class="row position-eductaion-detail position-required-skills-detail" id="work"
          *ngIf="experienceList?.length > 0">
          <h3>Work Experience</h3>
          <div class="education-level-m work-section" *ngFor=" let experience of experienceList; let i = index;">
            <h6 for="skill_required">{{experience.user_specified_company_name}}</h6>
            <h4 class="detail-info__right_all">{{getYears(experience.end_date,experience.start_date)}}</h4>
            <h4>{{experience.job}}</h4>
            <small>{{helperService.convertToFormattedString(experience.start_date, 'MMM, YYYY')}} -
              {{(experience.end_date ? helperService.convertToFormattedString(experience.end_date, 'MMM, YYYY') : 'Present')}}</small>
            <ng-container *ngIf="true; let short_desc">
              <p *ngIf="experience.job_desc" class="description"
                [class.short-desc]="short_desc && experience.job_desc?.length > helperService.shortDescLength">
                {{short_desc ? helperService.shortDescription(experience.job_desc) : experience.job_desc }}</p>
              <a *ngIf="experience.job_desc && experience.job_desc?.length > helperService.shortDescLength"
                (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
            </ng-container>
            <ng-container *ngIf="experience.skills_trained && experience.skills_trained?.length > 0">
              <h5>Skills Trained <span>{{experience.skills_trained.length}}</span></h5>
              <div class="skills" *ngIf="displayItemsLimit; let limit">
                <ng-container *ngFor="let skill_trained of experience.skills_trained; let i = index;">
                  <simple-tag *ngIf="(i < limit)" type="gray" title="{{skill_trained.skill}}">
                  </simple-tag>
                </ng-container>
                <img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
                  src="assets/icons/ic_see_less.svg" alt="See Less">
                <img *ngIf="limit < experience.skills_trained.length" (click)="limit = limit + displayItemsLimit"
                  src="assets/icons/ic_see_more.svg" alt="See More">

              </div>
            </ng-container>
            <ng-container *ngIf="experience.industries && experience.industries?.length > 0">
              <h5>Company Industries <span>{{experience.industries.length}}</span></h5>
              <div class="skills" *ngIf="displayItemsLimit; let limit">
                <simple-tag *ngFor="let industry of experience.industries" type="gray"
                  title="{{industry.industry_name}}">
                </simple-tag>
                <img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
                  src="assets/icons/ic_see_less.svg" alt="See Less">
                <img *ngIf="limit < experience.industries.length" (click)="limit = limit + displayItemsLimit"
                  src="assets/icons/ic_see_more.svg" alt="See More">
              </div>
            </ng-container>
            <ng-container *ngIf="experience.add_industries && experience.add_industries?.length > 0">
              <h5> Additional Industry Exposure <span>{{experience.add_industries.length}}</span></h5>
              <div class="skills" *ngIf="displayItemsLimit; let limit">
                <ng-container *ngFor="let add_industry of experience.add_industries; let i = index;">
                  <simple-tag *ngIf="(i < limit)" type="gray" title="{{add_industry.industry_name}}">
                  </simple-tag>
                </ng-container>
                <img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
                  src="assets/icons/ic_see_less.svg" alt="See Less">
                <img *ngIf="limit < experience.add_industries?.length" (click)="limit = limit + displayItemsLimit"
                  src="assets/icons/ic_see_more.svg" alt="See More">
              </div>
            </ng-container>
            <mat-divider *ngIf="( i < experienceList.length - 1)"></mat-divider>

          </div>

        </div>
        <div class="row position-eductaion-detail position-required-skills-detail" id="skills"
          *ngIf="userSkillsList?.length > 0">

          <div class="qualification-heading">
              <h3> Skills </h3>
              <img src="assets/icons/ic_question.svg" class="question" (click)="openSkillDescriptionDialog()">

            </div>


          <div class="education-level-m">
              <!-- <div" class="form-field search"
                  [formGroup]="skillsSearchForm">
                  <mat-form-field appearance="standard" class="search">
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput placeholder="Search skills" type="text"
                      [matAutocomplete]="autocompleteSkills" formControlName="skills">
                    <mat-autocomplete #autocompleteSkills="matAutocomplete">
                      <mat-option *ngFor="let autocomplete_skill of autocomplete_skills"
                        [value]="autocomplete_skill.skill"
                        (onSelectionChange)="addSkills(autocomplete_skill)">
                        <span>{{autocomplete_skill.skill}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div> -->
              <form class="form-field search" [formGroup]="skillsSearchForm" autocomplete="off">
                  <mat-form-field appearance="standard" class="search">
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput placeholder="Search skills" type="text" [matAutocomplete]="autocompleteSkills"
                      formControlName="skills" >
                    <mat-autocomplete #autocompleteSkills="matAutocomplete">
                      <mat-option *ngFor="let autocomplete_skill of autocomplete_skills" [value]="autocomplete_skill?.skill" (onSelectionChange)="addSkills(autocomplete_skill)">
                        <span>{{autocomplete_skill.skill}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
                <div *ngIf="temp_skill" class="temp-skill">
                    <simple-tag type="gray" title="{{temp_skill.skill}}" ellipseTag="true"  value="{{temp_skill.skill_level}}" >
                    </simple-tag>
                    <mat-icon (click)="editSkillDone()">cancel</mat-icon>
                  </div>
            <h5>Skills <span>{{ userSkillsList ? userSkillsList.length : '0' }}</span></h5>
            <div class="skills" *ngIf="displayItemsLimit; let limit">
              <ng-container *ngFor="let skill of userSkillsList; let i = index">
                <simple-tag type="gray" *ngIf="( i < limit)" title="{{skill.skill}}" ellipseTag="true"
                  value="{{skill.skill_level}}" [matTooltip]="SkillLevelDescription[skill.skill_level].title + SkillLevelDescription[skill.skill_level].description"
                  [matTooltipShowDelay]=500></simple-tag>
              </ng-container>
              <img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
                src="assets/icons/ic_see_less.svg" alt="See Less">
              <img *ngIf="limit < userSkillsList.length" (click)="limit = limit + displayItemsLimit"
                src="assets/icons/ic_see_more.svg" alt="See More">
            </div>
          </div>
        </div>
        <div class="row position-eductaion-detail position-required-skills-detail" id="interest"
          *ngIf="interestsList?.length > 0">
          <h3> Interests </h3>
          <div class="education-level-m">
            <h5>Interests <span> {{ interestsList ? interestsList.length : '0' }}</span></h5>
            <div class="skills" *ngIf="displayItemsLimit; let limit">
              <ng-container *ngFor="let interest of interestsList; let i = index">
                <simple-tag *ngIf="(i < limit)" type="gray" title="{{interest.interest}}">
                </simple-tag>
              </ng-container>
              <img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit"
                src="assets/icons/ic_see_less.svg" alt="See Less">
              <img *ngIf="limit < interestsList?.length" (click)="limit = limit + displayItemsLimit"
                src="assets/icons/ic_see_more.svg" alt="See More">
            </div>
          </div>
        </div>
        <div class="row position-eductaion-detail position-required-skills-detail" id="publications"
          *ngIf="userPublicationsList && userPublicationsList?.length > 0">
          <h3> Publications </h3>
          <div class="education-level-m">
            <ng-container *ngFor="let publication of userPublicationsList; let i = index;">
              <div class="editor-container">
                <h4 class="name-field">
                  <a *ngIf="publication.href" target="_blank" class="title"
                    href="//{{publication.href}}">{{publication.publication_title}}</a>
                  <ng-container *ngIf="!publication.href">{{publication.publication_title}}</ng-container>
                </h4>
              </div>
              <small *ngIf="publication.date_published">Published on
                {{helperService.convertToFormattedString(publication.date_published, 'll')}}</small>
              <ng-container *ngIf="true; let short_desc">
                <p *ngIf="publication.description" class="description"
                  [class.short-desc]="short_desc && publication.description?.length > helperService.shortDescLength">
                  {{short_desc ? helperService.shortDescription(publication.description) : publication.description}}</p>
                <a *ngIf="publication.description && publication.description?.length > helperService.shortDescLength"
                  (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
              </ng-container>
            </ng-container>
            <mat-divider *ngIf="(i < userPublicationsList?.length - 1)"></mat-divider>
          </div>
        </div>
        <div class="row position-eductaion-detail position-required-skills-detail" id="project"
          *ngIf="userProjectsList && userProjectsList?.length > 0">
          <h3> Projects </h3>
          <div class="education-level-m">
            <ng-container *ngFor="let project of userProjectsList; let i = index;">
              <div class="editor-container">
                <h4 class="name-field">
                  <a *ngIf="project.href" target="_blank" class="title"
                    href="//{{project.href}}">{{project.project_name}}</a>
                  <ng-container *ngIf="!project.href">{{project.project_name}}</ng-container>
                </h4>
              </div>
              <small *ngIf="project.date_finished">
                {{helperService.convertToFormattedString(project.date_finished, 'll')}}</small>
              <ng-container *ngIf="true; let short_desc">
                <p *ngIf="project.description" class="description"
                  [class.short-desc]="short_desc && project.description?.length > helperService.shortDescLength">
                  {{short_desc ? helperService.shortDescription(project.description) : project.description}}</p>
                <a *ngIf="project.description && project.description?.length > helperService.shortDescLength"
                  (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
              </ng-container>
              <mat-divider *ngIf="(i < userProjectsList?.length - 1)"></mat-divider>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
