@import "./../../../styles/variables.scss";
$container-mt-desktop: 70px;
$container-mt-tablet: 50px;
$container-mt-mobile: 35px;

$container-padding-desktop: 0 60px;
$container-padding-tablet: 0 40px;
$container-padding-mobile: 0 25px;
$profile-form-field-mt: 30px;
$profile-form-max-width-desktop: 880px;
$profile-form-padding-desktop: 60px;

:host {
  .cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #318bd6;
    cursor: pointer;
  }
  .title {
    color: rgba(map-get($md-cfaccent, 500), 0.84);
    margin: 0px 0 20px;
    display: block;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
  }
  & mat-dialog-content {
    width: auto;
    max-width: 658px;
    min-width: 280px;
    box-sizing: border-box;
    .skill_level_desc {
      padding: 0;
      .key {
        .simpletag {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: flex-start;
          padding: 5px 0;
          border-radius: 18px;
          width: 15%;
          display: inline-block;
        }
        & li {
          line-height: 26px;
          margin-bottom: 10px;
          b.bold {
            font-weight: 590;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  :host {
    mat-dialog-content {
      .skill_level_desc {
        //  width: auto;
        padding: 0;
        .key {
          .simpletag {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
            padding: 5px 0;
            border-radius: 18px;
            width: 30%;
            display: inline-block;
          }
          & li {
            line-height: 26px;
            margin-bottom: 10px;
            b.bold {
              font-weight: 590;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  :host {
    mat-dialog-content {
      .skill_level_desc {
        //  width: auto;
        padding: 0;
        .key {
          .simpletag {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
            padding: 5px 0;
            border-radius: 18px;
            width: auto;
            display: inline-block;
          }
          & li {
            line-height: 26px;
            margin-bottom: 10px;
            b.bold {
              font-weight: 590;
            }
          }
        }
      }
    }
  }
}
