<div class="container">
  <ng-container *ngIf="!email_sent">
    <div class="form password-reset" [formGroup]="forgotPasswordForm">
      <h2 class="title">Forgot Password Form</h2>
      <div class="row__field new">
        <mat-form-field class="bg-transparent" appearance="fill">
          <mat-label>Email Address *</mat-label>
          <mat-icon matPrefix>mail_outline</mat-icon>
          <input matInput placeholder="Email Address" type="email" formControlName="emailAddress">
          <mat-icon matSuffix *ngIf="forgotPasswordForm.get('emailAddress').valid">done</mat-icon>
          <mat-icon matSuffix class="error-field" *ngIf="!forgotPasswordForm.get('emailAddress').valid && forgotPasswordForm.get('emailAddress').touched">close</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-wrapper">
      <action-button [disabled]="!forgotPasswordForm.valid" class="reset-btn" type="flat" title="Send" color="primary" (click)="sendRequest()"></action-button>
      <action-button class="reset-btn" type="flat" title="Cancel" color="warn" (click)="clickCancel()"></action-button>
    </div>
  </ng-container>
  <ng-container *ngIf="email_sent">
    <h2 class="title">Reset password email sent.</h2>
    <div class="btn-wrapper">
      <action-button class="reset-btn" type="flat" title="Resend" color="primary" (click)="initForgotPasswordForm()"></action-button>
    </div>
  </ng-container>
</div>
