<ng-container *ngIf="isJobLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>
<!-- Search Bar -->
<div class="career-main application-page">
  <div class="comman_search_filter" [formGroup]="applicationForm">
    <div class="filter-data">
      <mat-icon (click)="toggleTabMenuOpen()" class="filter_icon">filter_list</mat-icon>
    </div>
    <div class="application-search-header">
      <mat-form-field appearance="standard" class="search">
        <mat-icon matSuffix (click)="onSearchPosition($event)">search</mat-icon>
        <input matInput placeholder="Search Position" type="text" [matAutocomplete]="autocompleteSearch"
          formControlName="searchPosition" (keyup.enter)="onSearchPosition($event)">
        <mat-autocomplete #autocompleteSearch="matAutocomplete">
          <mat-option *ngFor="let search of autocomplete_searchposition" [value]="search.position">
            <span>{{search.position}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
  <div [formGroup]="applicationForm" class="application-main-container">
    <!-- Position Filter Card -->
    <div class="filter-container container__header tablet" [class.open]="filter_list">
      <ng-container>
        <div class="nav-title">
          <h3 class="section-title">APPLICATION FILTERS</h3>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput placeholder="City" type="text" [matAutocomplete]="autocompleteCity" formControlName="city">
            <mat-autocomplete #autocompleteCity="matAutocomplete">
              <mat-option *ngFor="let city of autocomplete_cities" [value]="(city.city)?.split(',')[0]"
                (onSelectionChange)="onChangeCity(city)">
                <span>{{city.city}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Skills</mat-label>
            <input matInput placeholder="Skills" type="text" [matAutocomplete]="autocompleteSkills"
              formControlName="skill">
            <mat-autocomplete #autocompleteSkills="matAutocomplete">
              <mat-option *ngFor="let autocomplete_skill of autocomplete_skills" [value]="autocomplete_skill.skill"
                (onSelectionChange)="addSkills(autocomplete_skill)">
                <span>{{autocomplete_skill.skill}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="userSkillsList.length > 0" class="skills">
            <simple-tag *ngFor="let skillData of userSkillsList; let i = index" type="gray" removeTag="true"
              title="{{skillData.skill}}" (click)="removeUserSkillsData(i)"></simple-tag>
          </div>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Position Level</mat-label>
            <mat-select class="arrow" formControlName="position">
              <mat-option value=''></mat-option>
              <mat-option *ngFor="let position of positionLevel" value="{{position}}">{{position}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Education Level</mat-label>
            <mat-select class="arrow" formControlName="education">
              <mat-option value=''></mat-option>
              <mat-option *ngFor="let education of educationLevel" value="{{educationLevel.indexOf(education)}}">
                {{education}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Job Type</mat-label>
            <mat-select class="arrow" formControlName="job">
              <mat-option value=''></mat-option>
              <mat-option *ngFor="let jobtype of jobType" value="{{jobtype}}">{{jobtype}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Interest Level</mat-label>
            <mat-select class="arrow" formControlName="interest">
              <mat-option value=''></mat-option>
              <mat-option *ngFor="let level of interest" value="{{level}}">{{level}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Application Status</mat-label>
            <mat-select class="arrow" formControlName="applicationStatus">
              <mat-option value=''></mat-option>
              <mat-option *ngFor="let status of applicationStatus" value="{{status}}">{{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Major </mat-label>
            <input matInput placeholder="Major" type="text" [matAutocomplete]="autocompleteMajor"
              formControlName="major">
            <mat-autocomplete #autocompleteMajor="matAutocomplete">
              <mat-option *ngFor="let major of autocomplete_education_major" [value]="major.major_name"
                (onSelectionChange)="onChangeMajor(major)">
                <span>{{major.major_name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Industry </mat-label>
            <input matInput placeholder="Industry" type="text" [matAutocomplete]="autocompleteIndustry"
              formControlName="industry">
            <mat-autocomplete #autocompleteIndustry="matAutocomplete">
              <mat-option *ngFor="let industry of autocomplete_additional_industries" [value]="industry.industry_name"
                (onSelectionChange)="onChangeIndustry(industry)">
                <span>{{industry.industry_name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>Company </mat-label>
            <input matInput placeholder="Company" type="text" [matAutocomplete]="autocompleteCompany"
              formControlName="company">
            <mat-autocomplete #autocompleteCompany="matAutocomplete">
              <mat-option *ngFor="let company of autocomplete_companies" [value]="company.company_name">
                <span>{{company.company_name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <mat-form-field>
            <mat-label>School</mat-label>
            <input matInput placeholder="School" type="text" [matAutocomplete]="autocompleteSchool"
              formControlName="school">
            <mat-autocomplete #autocompleteSchool="matAutocomplete">
              <mat-option *ngFor="let school of autocomplete_school" [value]="school.school_name"
                (onSelectionChange)="onChangeSchool(school)">
                <span>{{school.school_name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="filter-card">
          <div class="side-filter-btn">
            <action-button type="raised" color="primary" title="Apply Filters" (click)="applyFilter();">
            </action-button>
          </div>
          <div class="clear-filter">
            <action-button class="clear-btn" type="text" title="Clear Filters" (click)="clearFilter()" color="primary">
            </action-button>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Job application Card -->

    <div class="application-list-container">

      <div class="select-style">
        <div class="selectall">

          <round-checkbox id="test" title="Select All" [checked]="selectedAllFlag" (statusChange)="selectAll($event)">
          </round-checkbox>

          <div class="application_modify">
            <mat-label>Modify Status</mat-label>&nbsp;
            <mat-form-field>
              <mat-select>
                <mat-option (click)="withdrawApplications()">Withdraw Application</mat-option>
                <mat-option (click)="acceptOffers()"> Accept Offer</mat-option>
                <mat-option (click)="rejectOffers()"> Reject Offer</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div class="sort-item">
          <mat-label>Sort by</mat-label>&nbsp;
          <mat-form-field>
            <mat-select value="dateposted" formControlName="sortBy" (selectionChange)="getApplicationData()">
              <mat-option *ngFor="let sort of sortBy" [value]="sort.value">{{sort.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div *ngFor="let application of applicationList ">

        <div class="row" [ngClass]="{'selected': application.selected}">
          <round-checkbox id="test" [checked]="application.selected"
            (statusChange)="application.selected = !application.selected;selectedAllFlag=false;"></round-checkbox>
          <h1 [routerLink]="['/applicationInformation']">{{application.position}} </h1>
          <div class="position-right">
            <span class="right-align">
              <action-button *ngIf="application.accepted" class="application-accept-btn" title="Accepted" type="stroked"
                color="primary" disabled>
              </action-button>
              <action-button *ngIf="application.in_review" class="application-in_review" title="In Review"
                type="stroked" color="primary" disabled>
              </action-button>
              <action-button *ngIf="application.interviewing" class="application-interviewing" title="Interviewing"
                type="stroked" color="primary" disabled>
              </action-button>
              <action-button *ngIf="application.offer_sent" class="application-offer_sent" title="Offer Sent"
                type="stroked" color="primary" disabled>
              </action-button>
              <action-button *ngIf="application.rejected" class="application-rejected" title="Rejected" type="stroked"
                color="primary" disabled>
              </action-button>
              <action-button *ngIf="application.wait_listed" class="application-wait_listed" title="Wait Listed"
                type="stroked" color="primary" disabled>
              </action-button>
              <action-button *ngIf="application.saved" class="application-saved" title="Saved" type="stroked"
                color="primary" disabled>
              </action-button>
              <action-button
                *ngIf="!(application.accepted || application.in_review || application.interviewing || application.offer_sent || application.rejected || application.wait_listed || application.saved )"
                class="application-submitted" title="Submitted" type="stroked" color="primary" disabled>
              </action-button>

            </span>
            <span class="dot-icon">
              <button mat-button [matMenuTriggerFor]="menu" disableRipple><img src="assets/icons/ic_more_vertical.svg">
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="../application/{{this.appliedJobsMap[application.position_id]}}">See
                  Application</button>
                <button mat-menu-item (click)="withdrawApplication(application.application_id)">Withdraw
                  Application</button>
                <div *ngIf="application.offer_sent">
                  <button mat-menu-item (click)="acceptOffer(application.application_id)">Accept Offer</button>
                  <button mat-menu-item (click)="rejectOffer(application.application_id)">Reject Offer</button>
                </div>
              </mat-menu>
            </span>
          </div>
          <div>
            <div class="job-top-list">
              <ul>
                <li>
                  <img class="img-style" src="assets/icons/ic_company.svg">
                  <span class="image" routerLink="../company-page/{{application.company_id}}">
                    {{application.company_name}}</span>
                </li>
                <li>
                  <img src="assets/icons/ic_location.svg">
                  <span class="image" *ngIf="application.locations; else noLocation">
                    <span *ngFor="let location of application.locations | slice : 0 : 1;">
                      <span *ngIf="location.city">{{location.city}},&nbsp;</span>
                      <span *ngIf="location.state">{{ location.state }},&nbsp;</span>
                      <span>{{location.country }} <span *ngIf="application.locations?.length > 1"> +
                          {{application.locations?.length-1}} locations </span>
                      </span>
                    </span>
                  </span>
                  <ng-template #noLocation>
                    <span>N/A</span>
                  </ng-template>
                </li>
                <li>
                  <span class="recruiter-text">Recruiter</span>&nbsp;
                  <span class="image">{{application.recruiter_name}}</span>
                </li>
              </ul>
            </div>
            <mat-grid-list [cols]="breakpoint" rowHeight="60px" (window:resize)="onResize($event)" class="card">
              <mat-grid-tile>
                <div class="card-item">
                  <span>Qualification Level</span>
                  <p>{{calculateQualificationLevel(application.fit_score)}}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Salary</span>
                  <p>{{application.pay ? application.pay + ' USD' : 'N/A' }}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Application Submitted</span>
                  <p>{{application.submit_date|  date: 'MMM d, y' }}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Position Level</span>
                  <p>{{application.level ? application.level : 'N/A'}}</p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list [cols]="breakpoint" rowHeight="60px" (window:resize)="onResize($event)"
              class="card second-card">
              <mat-grid-tile>
                <div class="card-item">
                  <span>Application Type</span>
                  <p>{{application.application_type ? application.application_type : 'N/A'}}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Cover Letter Submitted</span>
                  <p *ngIf="!(application.application_cover_letter == 'null'); else noCoverLetter">{{'Yes'}} </p>
                </div>
                <ng-template #noCoverLetter>
                  <p class="noLocation">N/A</p>
                </ng-template>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Application Deadline</span>
                  <p *ngIf="application.application_deadline; else noDate">
                    {{application.application_deadline |  date: 'MMM d, y'}}</p>
                </div>
                <ng-template #noDate>
                  <p class="noLocation">N/A</p>
                </ng-template>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Department</span>
                  <p *ngIf="application.preferred_education_levels ; else noEducationLevel">
                    {{getLowestEducationLevel(application.preferred_education_levels)}}</p>
                  <ng-template #noEducationLevel>
                    <p>
                      N/A
                    </p>
                  </ng-template>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <div class="application-top-choices">
              <div class="application-top-choices-m">
                <div class="application-choice-circle">
                  <simple-tag class="top-choices-tag" ellipseTag="true" value="{{application.interest_level}}"
                    removeActive="true" (levelChanged)="onLevelChanged($event, application.application_id)">
                  </simple-tag>
                </div>
                <mat-icon class="cancel" (click)="onClose(application.application_id,application.interest_level)">cancel
                </mat-icon>
                <div class="top-choice-content">
                  <span>Interest In Position</span>
                  <p>{{interestHeading(application.interest_level)}}</p>
                </div>
              </div>
              <div class="application-top-choices-right">
                <img src="assets/icons/ic_question.svg" (click)="openDialog()">
              </div>
            </div>
            <div class="main-card">

              <ul type="none">
                <div class="show-button more">
                  <action-button routerLink="." type="text" title="{{!application.showMoreFlag ? 'See All' :
                          'See Less'}}" color="primary" (click)="application.showMoreFlag = !application.showMoreFlag"
                    *ngIf="application.minimum_skills?.length > 3 || application.preferred_skills?.length > 3">
                  </action-button>
                </div>
                <li>
                  <h5 for="skill_required">Skills Required<span>{{ application.minimum_skills?.length}}</span>
                  </h5>
                  <div class="skil-height-fix" [ngClass]="{'skill-more-height': application.showMoreFlag}"
                    *ngIf="application.minimum_skills; else noSkills">
                    <div class="skills-preferred-m" *ngFor="let min_skill of application.minimum_skills ">
                      <simple-tag type="gray" title="{{min_skill.skill}}" ellipseTag="true"
                        value="{{min_skill.skill_level}}"
                        [matTooltip]="SkillLevelDescription[min_skill.skill_level].title + SkillLevelDescription[min_skill.skill_level].description"
                        [matTooltipShowDelay]=500 (click)="openSkilladdDialog(min_skill)">
                      </simple-tag>

                    </div>

                  </div>


                </li>
                <li class="skill-chips">
                  <h5 class="skill-label" for="skill_preferred">Skills Preferred
                    <span> {{application.preferred_skills?.length}}</span></h5>
                  <div class="skil-height-fix" [ngClass]="{'skill-more-height': application.showMoreFlag}"
                    *ngIf="application.preferred_skills; else noSkills">
                    <div class="skills-preferred-m skill-prefer" *ngFor="let preskill of application.preferred_skills">
                      <simple-tag type="gray" title="{{preskill.skill}}" ellipseTag="true"
                        value="{{preskill.skill_level}}"
                        [matTooltip]="SkillLevelDescription[preskill.skill_level].title + SkillLevelDescription[preskill.skill_level].description"
                        [matTooltipShowDelay]=500 (click)="openSkilladdDialog(preskill)">
                      </simple-tag>
                    </div>
                  </div>

                </li>
              </ul>
              <ng-template #noSkills>
                <ul>
                  <li>N/A</li>
                </ul>
              </ng-template>
            </div>
          </div>
          <div class="show-button">
            <action-button [routerLink]="['/applicationInformation']" type="text" title="See Application"
              color="primary"></action-button>
            &nbsp;&nbsp;
          </div>
        </div>
      </div>
      <div *ngIf="!applicationList || applicationList?.length == 0">
        <div class="row no-job">
          No search results found.
        </div>
      </div>
      <div class="pagination" *ngIf="applicationList?.length > 0">
        <ul type="none">
          <li class="large_pagination_button" (click)="pageClicked(currentPageNumber-1)">Prev. Page</li>
          <li *ngFor="let pageNo of paginationArr" [ngClass]="{'active': pageNo == currentPageNumber}"
            (click)="pageClicked(pageNo)">{{ pageNo }}
          </li>
          <li class="large_pagination_button" (click)="pageClicked(currentPageNumber+1)">Next Page</li>
        </ul>
      </div>
    </div>



  </div>

</div>
