<ng-container>
  <div class="back-row">
    <button class="back">Back</button>
  </div>
  <div class="company-row">
    <div>
      <img class="company-logo" src="assets/icons/ic_google.svg">
    </div>
    <div>
      <h1> Google Earth & Maps</h1>
      <div class="company-undertitle">
        <small>
          <img src="assets/icons/ic_location.svg">
            Los Angeles, California, USA
        </small>
        <small>
          <img src="assets/icons/ic_mountain.svg">
            Since 2017
        </small>
      </div>
      <div class="icon-title">
        <img src="assets/icons/ic_employees.svg">
        <label>Company Size</label>
        <p>Large (100-200)</p>
      </div>
      <div class="icon-title">
        <img src="assets/icons/ic_website.svg">
        <label>Website</label>
        <a href="https://google.com" target="_blank">www.google.com</a>
      </div>
      <div class="icon-title">
        <img src="assets/icons/ic_checked.svg">
        <label>Validation Status</label>
        <p>Validated</p>
      </div>
      <div class="icon-title">
        <img src="assets/icons/ic_permissions_inactive.svg">
        <label>Permission Level</label>
        <p>N/A</p>
      </div>
    </div>
  </div>

  <!-- <div class="tabs-row">
    <h3 [ngClass]="{'active' : selectedTab === 1}" (click)="selectedTab = 1;"> About </h3>
    <h3 [ngClass]="{'active' : selectedTab === 2}" (click)="selectedTab = 2;"> Positions </h3>
    <h3 [ngClass]="{'active' : selectedTab === 3}" (click)="selectedTab = 3;"> People </h3>
    <h3 [ngClass]="{'active' : selectedTab === 4}" (click)="selectedTab = 4;"> Career Fair </h3>
  </div> -->
</ng-container>