@import './../../../styles/variables.scss';
:host {
  grid-area: hero;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.125);
  .back-row {
    // width: 100%;
    height: 60px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid map-get($md-cfaccent, 50);
  }
  button.back { // TODO: Make more like the designs
    width: 80px;
    height: 30px;
    background-color: rgba(map-get($md-cfaccent, 500), 0.05);
    border-color: rgba(map-get($md-cfaccent, 500), 0.05);
    color: rgba(map-get($md-cfaccent, 500), 0.84);
    padding: 3px 13px;
    margin-right: 5px;
    border-radius: 500px;
    cursor: pointer;
    &:focus {
      outline:0;
    }
  }
  .company-row {
    display: inline-flex;
    padding: 20px 40px;
    border-bottom: 1px solid map-get($md-cfaccent, 50);
    .company-logo {
      width: 125px;
      height: 125px;
      margin-right: 15px;
    }
    .company-undertitle {
      display: inline-flex;
      width: 100%;
    }
  }
  .tabs-row {
    height: 60px;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    h3 {
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      color: map-get($md-cfaccent, 300);
      display: inline;
      &:hover {
        color: map-get($md-cfprimary, 500);
      }
      &.active {
        color: map-get($md-cfprimary, 500);
      }
    }
  }
}

.icon-title {
  display: inline-grid;
  grid-template:
  "image title" 28px
  "image info" 28px
  / 56px auto
  ;
  grid-gap: 0 10px;
  width: 240px;
  img {
    grid-area: image;
    width: 56px;
  }
  label {
    grid-area: title;
    font-size: 14px;
    color: rgba(map-get($md-cfaccent, 500), .44);
    line-height: 28px;
  }
  p {
    grid-area: info;
    margin: 0;
  }
  a {
    grid-area: info;
    text-decoration: none;
    color: #263f5d;
  }
}

h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

h4 {
  margin: 0;
  margin-bottom: 15px;
}

small {
  display: flex;
  align-items: center;
  // min-width: 255px;
  padding-right: 25px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(map-get($md-cfaccent, 500), .84);
  label {
    color: rgba(map-get($md-cfaccent, 500), .34);
    margin-right: 5px;
  }
  img {
    width: 10px;
    margin-right: 5px;
    &.valid {
      width: 15px;
      margin: 0;
    }
  }
}

.user-row {
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  padding: 20px 40px;
  border-bottom: 1px solid map-get($md-cfaccent, 50);
  .user-photo {
    width: 125px;
    height: 125px;
    margin-right: 30px;
  }
  .user-detail {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 30px;
      line-height: 34px;
      font-weight: 600;
    }
    h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 20px;
    }
    .user-info {
      display: inline-flex;
    }
  }
  .user-status {
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .edit-form {
    @include flex(row, center, flex-start);
    .form-field {
      margin: 0 5px 10px 5px;
      display: inline-grid;
      grid-template: 
        "field" auto 
        / 280px;
      border: solid 1px $mat-form-border-color;
      border-radius: 5px;
      padding: 0;
      &.name-field {
        grid-template: 
        "first last" auto 
        / 130px 150px;
      }
      mat-form-field {
        grid-area: field;
        &.first-name {
          grid-area: first;
        }
        &.last-name {
          grid-area: last;
        }
        img {
          width: 30px;
          height: 30px;
        }
        input.hide {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  :host {
    margin-top: 60px;
  }
  .user-row {
    padding: 20px 20px;
    flex-direction: column;
    align-items: center;
    .user-photo {
      width: 110px;
      height: 110px;
      margin-right: 0;
    }
    .user-detail {
      h1, h4 {
        text-align: center;
      }
    }
    .user-status  {
      flex-direction: row;
      & > * {
        margin: 5px;
      }
    }
    .edit-form {
      margin-top: 30px;
      justify-content: space-evenly;
    }
  }
}

@media only screen and (max-width: 480px) {
  .user-row {
    .user-detail {
      .user-info {
        flex-direction: column;
      }
    }
    .user-status  {
      flex-direction: column;
      align-items: center;
      img {
        margin-top: 15px;
      }
    }
    .edit-form {
      .form-field {
        grid-template: 
          "field" auto 
          / 270px;
        &.name-field {
          grid-template: 
          "first last" auto 
          / 125px 145px;
        }
      }
    }
  }
  small {
    padding-right: 0;
  }
}
