@import './../../../styles/variables.scss';
:host {
  position: relative;
  @include flex(row, center, center);
  height: 24px;

  label.icon {
    position: absolute;
    cursor: pointer;
    height: 24px;
    width: 24px;
    left: 0;
    top: 0;
    background-image: url('/assets/icons/ic_checkbox_empty.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  label.title {
    font-size: 14px;
    color: rgba(map-get($md-cfaccent, 500), .44);
    margin-left: 20px;
    @include disable-select();
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  input[type="checkbox"]:checked + label.icon {
    background-image: url('/assets/icons/ic_checkbox_checked.svg');
  }

  input[type="checkbox"]:indeterminate + label.icon {
    background-image: url('/assets/icons/ic_checkbox_indeterminate.svg');
  }

  &.template-section {
    height: auto;
    display: inline-block;
    label.title {
      font-size: 16px;
      color: map-get($md-cfaccent, 500);
    }
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    height: 18px;
    &.template-section {
      height: auto;
    }
    label.icon {
      height: 18px;
      width: 18px;
    }
    label.title {
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
