<ng-container *ngIf="isPeopleLoading">
  <div class="loader">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>

<!-- Search Bar -->
<form class="common_search_filter" [formGroup]="peopleForm" autocomplete="off"> 
  <div class="filter-data">
    <mat-icon (click)="toggleTabMenuOpen()" class="filter_icon">filter_list</mat-icon>
  </div>
  <div class="people-search-header">
    <mat-form-field appearance="standard" class="search">
      <mat-icon matSuffix (click)="onSearchUser($event)">search</mat-icon>
      <input  matInput 
              placeholder="{{searchPlaceholderCopy}}"
              type="text" 
              [matAutocomplete]="autocompleteSearch"
              formControlName="searchPeople" 
              (keyup.enter)="onSearchUser($event)">
      <mat-autocomplete #autocompleteSearch="matAutocomplete">
          <a *ngFor="let people of autocomplete_searchpeoples | slice:0:4" 
             routerLink="/user/{{people.user_id}}/profile" 
             [queryParams]="{showBackButton: 'true'}">
            <mat-option [value]="people.first_name + (people.last_name ? ' ' + people.last_name : '')">
                <img [src]="people.photo ? people.photo : 'assets/icons/no_photo.png'">
                <span>{{people.first_name + (people.last_name ? ' ' + people.last_name : '')}}</span>
            </mat-option>
          </a>
          <mat-option [value]="peopleForm.value.searchPeople" (click)="onSearchUser($event)" *ngIf="peopleForm.value.searchPeople?.length > 0">
              See all results for <b>{{peopleForm.value.searchPeople}}</b>
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>

<!-- Filter Side -->
<form class="filter-container container__header tablet" [formGroup]="peopleForm" *ngIf="showFilterListFlag" [@enterAnimation] autocomplete="off">
  <ng-container>
    <div class="nav-title">
      <h3 class="section-title">User Filters</h3>
    </div>
    <div class="filter-card">
      <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput placeholder="State" type="text" [matAutocomplete]="autocompleteState" formControlName="state">
        <mat-autocomplete #autocompleteState="matAutocomplete">
          <mat-option *ngFor="let state of autocomplete_states" [value]="state.state" (onSelectionChange)="onChangeState(state)">
            <span>{{state.state}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filter-card">
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="City" type="text" [matAutocomplete]="autocompleteCity" formControlName="city">
        <mat-autocomplete #autocompleteCity="matAutocomplete">
          <mat-option *ngFor="let city of autocomplete_cities" [value]="(city.city)?.split(',')[0]" (onSelectionChange)="onChangeCity(city)">
            <span>{{city.city}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filter-card">
      <mat-form-field>
        <mat-label>Skills</mat-label>
        <input matInput placeholder="Skills" type="text" [matAutocomplete]="autocompleteSkills" formControlName="skill">
        <mat-autocomplete #autocompleteSkills="matAutocomplete">
          <mat-option *ngFor="let autocomplete_skill of autocomplete_skills" [value]="autocomplete_skill.skill" (onSelectionChange)="addSkills(autocomplete_skill)">
            <span>{{autocomplete_skill.skill}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="userSkillsList.length > 0" class="skills">
        <simple-tag *ngFor="let skillData of userSkillsList; let i = index" type="gray" removeTag="true" title="{{skillData.skill}}" (click)="removeUserSkillsData(i)"></simple-tag>
      </div>
    </div>
    <div class="filter-card">
      <mat-form-field>
        <mat-label>Education Level</mat-label>
        <mat-select class="arrow" formControlName="education">
          <mat-option value=''></mat-option>
          <mat-option *ngFor="let education of educationLevel" value="{{educationLevel.indexOf(education)}}">{{education}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-card">
      <mat-form-field>
        <mat-label>School</mat-label>
        <input matInput placeholder="School" type="text" [matAutocomplete]="autocompleteSchool" formControlName="school">
        <mat-autocomplete #autocompleteSchool="matAutocomplete">
          <mat-option *ngFor="let school of autocomplete_school" [value]="school.school_name" (onSelectionChange)="onChangeSchool(school)">
            <span>{{school.school_name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filter-card">
      <mat-form-field>
        <mat-label>Majors </mat-label>
        <input matInput placeholder="Major" type="text" [matAutocomplete]="autocompleteMajor" formControlName="major">
        <mat-autocomplete #autocompleteMajor="matAutocomplete">
          <mat-option *ngFor="let major of autocomplete_education_major" [value]="major.major_name" (onSelectionChange)="onChangeMajor(major)">
            <span>{{major.major_name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="filter-card">
      <div class="side-filter-btn">
        <action-button type="raised" color="primary" title="Apply Filters" (click)="applyFilter();">
        </action-button>
      </div>
      <div class="clear-filter">
        <action-button class="clear-btn" type="text" title="Clear Filters" (click)="clearFilter()" color="primary"></action-button>
      </div>
    </div>
  </ng-container>
</form>


<!-- Results Side-->
<div class="people-list-container">
  <ng-container *ngIf="userList && userList.length > 0" >
    <div *ngFor="let user of userList; let i = index;" [@listStaggerAnimation]>
      <div class="row">
        <div class="header-container">
          <div class="user-info">
            <div class="image"><img [src]="user.general_info.photo ? user.general_info.photo : 'assets/icons/no_photo.png'"></div>
            <div class="info">
              <a routerLink="/user/{{ user.general_info.user_id }}/profile" [queryParams]="{showBackButton: 'true'}">
                <h2 class="name">{{user.general_info.first_name}} {{user.general_info.last_name}}</h2>
              </a>

              <h3 *ngIf="user.general_info.title" class="title">{{user.general_info.title}}</h3>
            </div>
          </div>
          <action-button  class="contact-btn" 
                          type="flat" 
                          [title]="contactBtnTitle(user.contact_status)" 
                          color="primary" 
                          (click)="onClickContactBtn(user)"
                          disabled="{{user.contact_status === 'added' || !user.contact_status}}">
          </action-button>
        </div>

        <div *ngIf="user.general_info.city_id || user.general_info.state_id || (user.general_info.education && user.general_info.education.length > 0)" class="sub-container">
          <div *ngIf="user.general_info.city_id || user.general_info.state_id" class="user-info">
            <div class="image secondary"><img src="assets/icons/ic_location_1.svg"></div>
            <div class="info">
              <h5 class="secondary-title">Location</h5>
              <h4 class="secondary-title">{{user.general_info.city}}<br *ngIf="user.general_info.city && user.general_info.state">{{user.general_info.state}}</h4>
            </div>
          </div>
          <div class="user-info" *ngFor="let education of user.general_info.education">
            <div class="image secondary"><img src="assets/icons/ic_university.svg"></div>
            <div class="info">
              <h5 class="secondary-title">{{education.school_id ? education.school : education.user_specified_school_name}}</h5>
              <h4 class="secondary-title">{{education.education_level}}<br *ngIf="education.major_name && education.start_date">{{helperService.convertToFormattedString(education.start_date, 'YYYY')}} - {{education.graduation_date ? helperService.convertToFormattedString(education.graduation_date, 'YYYY') : 'Present'}}</h4>
            </div>
          </div>
        </div>

        <div *ngIf="user.general_info.skills && user.general_info.skills.length > 0" class="skills-container">
          <h5>Skills <span class="count">{{user.general_info.skills.length}}</span></h5>
          <div class="skills" *ngIf="displayItemsLimit; let limit">
            <ng-container *ngFor="let skill of user.general_info.skills; let j = index;">
              <simple-tag *ngIf="j < limit" type="gray" [title]="skill.skill" ellipseTag="true" [value]="skill.skill_level"></simple-tag>
            </ng-container>
            <img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit" src="assets/icons/ic_see_less.svg" alt="See Less">
            <img *ngIf="limit < user.general_info.skills.length" (click)="limit = limit + displayItemsLimit" src="assets/icons/ic_see_more.svg" alt="See More">
          </div>
        </div>

        <div *ngIf="user.general_info.education && user.general_info.education.length > 0" class="skills-container">
          <h5>Majors <span class="count">{{user.general_info.education.length}}</span></h5>
          <div class="skills" *ngIf="displayItemsLimit; let limit">
            <ng-container *ngFor="let education of user.general_info.education; let j = index;">
              <simple-tag *ngIf="j < limit" type="gray" [title]="education.major_name"></simple-tag>
            </ng-container>
            <img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit" src="assets/icons/ic_see_less.svg" alt="See Less">
            <img *ngIf="limit < user.general_info.education.length" (click)="limit = limit + displayItemsLimit" src="assets/icons/ic_see_more.svg" alt="See More">
          </div>
        </div>

      </div>
    </div>
  </ng-container>

  <div *ngIf="!userList || (userList && userList.length === 0)">
    <div class="row no-people">
      {{ emptyResultsCopy }}
    </div>
  </div>

  <div class="pagination" *ngIf="userList && userList.length > 0">
    <ul type="none">
      <li class="large_pagination_button" (click)="pageClicked(currentPageNumber-1)">Prev Page</li>
      <li *ngFor="let pageNo of paginationArr" [ngClass]="{'active': pageNo == currentPageNumber}"
        (click)="pageClicked(pageNo)">{{ pageNo }}
      </li>
      <li class="large_pagination_button" (click)="pageClicked(currentPageNumber+1)">Next Page</li>
    </ul>
  </div>
</div>
