<ng-container *ngIf="isEdit && is_loading">
	<div class="loader">
		<mat-spinner></mat-spinner>
		<h4>Loading...</h4>
	</div>
</ng-container>

<ng-container *ngIf="(isEdit && !is_loading) || !isEdit">
	<div *ngIf="selectedPageIndex < 5" class="profile-completion">
		<div class="container">
			<ng-container *ngFor="let page_title of page_titles; let i = index">
				<action-button *ngIf="page_title" class="link-btn desktop" type="text" title="{{page_title}}" (click)="goToPage(i)" [done]="selectedPageIndex > i" [disabled]="selectedPageIndex < i"></action-button>
			</ng-container>
			<mat-icon (click)="toggleTabMenuOpen()">{{isTabMenuOpen ? 'close' : 'menu'}}</mat-icon>
			<span class="progress-label tablet">{{page_titles[selectedPageIndex]}}</span>
			<span class="progress-label"
				[class.done]="selectedPageIndex===5">{{progressWidth[selectedPageIndex].label}}%</span>
			<div class="progress-bar" [style.width.%]="progressWidth[selectedPageIndex].width"></div>
			<div class="container__header tablet" [class.open]="isTabMenuOpen">
				<ng-container *ngFor="let page_title of page_titles; let i = index">
					<action-button *ngIf="page_title" class="link-btn" type="text" title="{{page_title}}" (click)="goToPage(i)" [done]="selectedPageIndex > i" [disabled]="selectedPageIndex < i">
					</action-button>
				</ng-container>
			</div>
		</div>
	</div>



	<!-- Company Name & Overview start -->
	<div *ngIf="selectedPageIndex===0" class="container profile-basic">
		<div class="container__full">
			<div class="profile-form" [formGroup]="nameOverviewForm">
				<h3 class="profile-form__title">
					Company Name & Overview
				</h3>

				<div class="profile-form__image">
					<input style="display: none" type="file" (change)="onPhotoFileSelected($event)" #fileInput>

									<img alt="Company Logo" src="{{company_logo_url || 'assets/icons/ic_default_company_logo.svg'}}">
									<img class="image-upload" alt="Upload Image" src="assets/icons/ic_image_upload.svg" (click)="fileInput.click()">
				</div>

				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>Company Name *</mat-label>
						<input matInput placeholder="Company Name *" type="text" formControlName="company_name">
					</mat-form-field>
				</div>
				<div class="profile-form__field textarea">
					<mat-form-field>
						<textarea matInput placeholder="Briefly introduce the company *" rows="15" formControlName="company_desc"></textarea>
					</mat-form-field>
				</div>
			</div>
		</div>

		<div class="container__full">
			<action-button class="btn-next" type="flat" title="{{isEdit ? 'Update' : 'Next'}}" color="primary" (click)="goToNextPage()" [disabled]="!(nameOverviewForm.valid && helperService.checkSpacesString(nameOverviewForm.value.company_name) && helperService.checkSpacesString(nameOverviewForm.value.company_desc))">
			</action-button>
		</div>
	</div>
	<!-- Company Name & Overview end -->

	<!-- Company Information start -->
	<div *ngIf="selectedPageIndex===1" class="container profile-basic">
		<div class="container__full">
			<div class="profile-form" [formGroup]="companyBasicInfoForm">
				<h3 class="profile-form__title">
					Company Information
				</h3>
				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>Company Size</mat-label>
						<mat-select formControlName="company_size">
							<mat-option *ngFor="let companySizeType of companySizeTypes" value="{{companySizeType}}">{{companySizeType}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>Founding Year</mat-label>
						<input matInput placeholder="YYYY" type="text" formControlName="founding_year" pattern="\d{4}">
						<input class="hide" [matDatepicker]="companyFounded_date" [max]="maxDate">
						<mat-datepicker-toggle matSuffix [for]="companyFounded_date"></mat-datepicker-toggle>
						<mat-datepicker 
							touchUi 
							#companyFounded_date 
							startView="multi-year"  
							(yearSelected)="onFoundedYearSelect($event, companyFounded_date)"
						>
						</mat-datepicker>
					</mat-form-field>
				</div>
				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>City</mat-label>
						<input matInput placeholder="City" type="text" [matAutocomplete]="autocompleteCity" formControlName="hq_city">
						<mat-icon matSuffix *ngIf="companyBasicInfoForm.get('hq_city').value && helperService.checkSpacesString(companyBasicInfoForm.get('hq_city').value) && companyBasicInfoForm.get('hq_city').valid && onCheckCityValidation()">done</mat-icon>
						<mat-icon matSuffix class="error-field" *ngIf="companyBasicInfoForm.get('hq_city').value && helperService.checkSpacesString(companyBasicInfoForm.get('hq_city').value) && !onCheckCityValidation() && companyBasicInfoForm.get('hq_city').touched">close</mat-icon>
						<mat-autocomplete #autocompleteCity="matAutocomplete" (closed)="onBlurCity()">
							<mat-option *ngFor="let city of autocomplete_cities" [value]="helperService.cityNameFromAutoComplete(city.city)" (onSelectionChange)="onSelectCity(city)">
								<span>{{city.city}}</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>State</mat-label>
						<input matInput placeholder="State" type="text" [matAutocomplete]="autocompleteState" formControlName="hq_state">
						<mat-icon matSuffix *ngIf="companyBasicInfoForm.value.hq_state && helperService.checkSpacesString(companyBasicInfoForm.value.hq_state) && companyBasicInfoForm.get('hq_state').valid && onCheckStateValidation()">done</mat-icon>
						<mat-icon matSuffix class="error-field" *ngIf="companyBasicInfoForm.get('hq_state').value && helperService.checkSpacesString(companyBasicInfoForm.get('hq_state').value) && !onCheckStateValidation() && companyBasicInfoForm.get('hq_state').touched">close</mat-icon>
						<mat-autocomplete #autocompleteState="matAutocomplete" (closed)="onBlurState()">
						<mat-option *ngFor="let state of autocomplete_states" [value]="state.state" (onSelectionChange)="onSelectState(state)">
							<span>{{state.state}}</span>
						</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>Country</mat-label>
						<mat-select formControlName="hq_country">
						<mat-option value="{{null}}">{{null}}</mat-option>
						<mat-option *ngFor="let country of countries_sort" value="{{country}}">{{country}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
					
				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>Website</mat-label>
						<input matInput placeholder="Title" type="text" formControlName="website">
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="container__full">
			<action-button class="btn-next" type="flat" title="{{isEdit ? 'Update' : 'Next'}}" color="primary" [disabled]="!(companyBasicInfoForm.valid && onCheckCityValidation() && onCheckStateValidation())" (click)="goToNextPage()"></action-button>
		</div>
	</div>
	<!-- Company Information end -->

	<!-- Company Industry start -->
	<div *ngIf="selectedPageIndex===2" class="container profile-skills">
		<div class="container__full">
			<div class="profile-form" [formGroup]="companyIndustryForm">
				<h3 class="profile-form__title">
					Industry
				</h3>
				<div class="profile-form__field">
					<mat-form-field class="bg-transparent" appearance="fill">
						<mat-label>Primary Industry</mat-label>
						<input matInput placeholder="Primary Industry" type="text" [matAutocomplete]="autocompleteMainIndustry" formControlName="main_industry">
						<mat-icon matSuffix *ngIf="companyIndustryForm.get('main_industry').value && helperService.checkSpacesString(companyIndustryForm.get('main_industry').value) && companyIndustryForm.get('main_industry').valid && onCheckMainIndustryValidation()">done</mat-icon>
						<mat-icon matSuffix class="error-field" *ngIf="companyIndustryForm.get('main_industry').value && helperService.checkSpacesString(companyIndustryForm.get('main_industry').value) && !onCheckMainIndustryValidation() && companyIndustryForm.get('main_industry').touched">close</mat-icon>
						<mat-autocomplete #autocompleteMainIndustry="matAutocomplete" (closed)="onBlurMainIndustry()">
							<mat-option *ngFor="let industry of autocomplete_main_industries" [value]="industry.industry_name" (onSelectionChange)="onSelectMainIndustry(industry)">
								<span>{{industry.industry_name}}</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>

				<div class="profile-form__field search">
					<h3>Additional Company Industries <span *ngIf="company_industries && company_industries.length > 0" class="count">{{company_industries.length}}</span></h3>
					<mat-form-field appearance="standard" class="search">
						<mat-icon matSuffix>search</mat-icon>
						<input matInput 
							placeholder="Search industry" 
							type="text" 
							[matAutocomplete]="autocompleteCompanyIndustry" 
							formControlName="company_industry">
						<mat-autocomplete #autocompleteCompanyIndustry="matAutocomplete">
							<mat-option *ngFor="let industry of autocomplete_company_industries"
								[value]="industry.industry_name" 
								(onSelectionChange)="addCompanyIndustry(industry)">
								<span>{{industry.industry_name}}</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div class="skills" *ngIf="company_industries && company_industries.length > 0">
						<simple-tag *ngFor="let company_industry of company_industries; let j = index" 
							type="gray"
							title="{{company_industry.industry_name}}" 
							removeTag="true" 
							(click)="onRemoveCompanyIndustry(company_industry, j)">
						</simple-tag>
					</div>
				</div>
			</div>
		</div>
		<div class="container__full">
			<action-button class="btn-next" type="flat" title="{{isEdit ? 'Update' : 'Next'}}" color="primary" [disabled]="!(companyIndustryForm.valid && onCheckMainIndustryValidation())" (click)="goToNextPage()"></action-button>
		</div>
	</div>
	<!-- Company Industry end -->

	<!-- Company Administrators start -->
	<div *ngIf="selectedPageIndex===3" class="container profile-skills">
		<div class="container__full">
			<div class="profile-form" [formGroup]="companyAdministratorsForm">
				<h3 class="profile-form__title">
					Admin List
				</h3>

				<div class="profile-form__field search">
					<h3>Search People</h3>
					<mat-form-field appearance="standard" class="search">
						<mat-icon matSuffix>search</mat-icon>
						<input matInput 
							placeholder="Search people" 
							type="text" 
							[matAutocomplete]="autocompleteCompanyAdministrator" 
							formControlName="company_administrator">
						<mat-autocomplete #autocompleteCompanyAdministrator="matAutocomplete">
							<mat-option *ngFor="let admin of autocomplete_administrators"
								[value]="admin.first_name + (admin.last_name ? ' ' + admin.last_name : '')" 
								(onSelectionChange)="addCompanyAdministrator(admin)">
								<img [src]="admin.photo ? admin.photo : 'assets/icons/no_photo.png'">
								<span>{{admin.first_name + (admin.last_name ? ' ' + admin.last_name : '')}}</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div class="users" *ngIf="company_administrators && company_administrators.length > 0">
						<div *ngFor="let company_administrator of company_administrators; let j = index" class="img-tag">
							<img src="{{ company_administrator.photo ? company_administrator.photo : 'assets/icons/no_photo.png' }}">
							<label>{{company_administrator.first_name + (company_administrator.last_name ? ' ' + company_administrator.last_name : '')}}</label>
							<a>{{(company_administrator.city_id ? company_administrator.city : '') + (company_administrator.city_id && (company_administrator.state_id || company_administrator.country_id) ? ', ' : '') + (company_administrator.state_id ? company_administrator.state : '') + (company_administrator.state_id && company_administrator.country_id ? ', ' : '') + (company_administrator.country_id ? company_administrator.country : '')}}</a>
							<mat-icon class="remove" (click)="onRemoveCompanyAdministrator(company_administrator, j)">highlight_off</mat-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container__full">
			<action-button class="btn-next" type="flat" title="{{isEdit ? 'Update' : 'Next'}}" color="primary" (click)="goToNextPage()"></action-button>
		</div>
	</div>
	<!-- Company Industry end -->

	<!-- Company Recruiters start -->
	<div *ngIf="selectedPageIndex===4" class="container profile-skills">
		<div class="container__full">
			<div class="profile-form" [formGroup]="companyRecruitersForm">
				<h3 class="profile-form__title">
					Recruiter List
				</h3>

				<div class="profile-form__field search">
					<h3>Search People</h3>
					<mat-form-field appearance="standard" class="search">
						<mat-icon matSuffix>search</mat-icon>
						<input matInput 
							placeholder="Search people" 
							type="text" 
							[matAutocomplete]="autocompleteCompanyRecruiter" 
							formControlName="company_recruiter">
						<mat-autocomplete #autocompleteCompanyRecruiter="matAutocomplete">
							<mat-option *ngFor="let recruiter of autocomplete_recruiters"
								[value]="recruiter.first_name + (recruiter.last_name ? ' ' + recruiter.last_name : '')" 
								(onSelectionChange)="addCompanyRecruiter(recruiter)">
								<img [src]="recruiter.photo ? recruiter.photo : 'assets/icons/no_photo.png'">
								<span>{{recruiter.first_name + (recruiter.last_name ? ' ' + recruiter.last_name : '')}}</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div class="users" *ngIf="company_recruiters && company_recruiters.length > 0">
						<div *ngFor="let company_recruiter of company_recruiters; let j = index" class="img-tag">
							<img src="{{ company_recruiter.photo ? company_recruiter.photo : 'assets/icons/no_photo.png' }}">
							<label>{{company_recruiter.first_name + (company_recruiter.last_name ? ' ' + company_recruiter.last_name : '')}}</label>
							<a>{{(company_recruiter.city_id ? company_recruiter.city : '') + (company_recruiter.city_id && (company_recruiter.state_id || company_recruiter.country_id) ? ', ' : '') + (company_recruiter.state_id ? company_recruiter.state : '') + (company_recruiter.state_id && company_recruiter.country_id ? ', ' : '') + (company_recruiter.country_id ? company_recruiter.country : '')}}</a>
							<mat-icon class="remove" (click)="onRemoveCompanyRecruiter(company_recruiter, j)">highlight_off</mat-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container__full">
			<action-button class="btn-next" type="flat" title="{{isEdit ? 'Update' : 'Next'}}" color="primary" (click)="goToNextPage()"></action-button>
		</div>
	</div>
	<!-- Company Recruiters end -->

	<!-- Company Preview start -->
	<div *ngIf="selectedPageIndex===5" class="container company-preview">
		<div class="header-section">
			<div class="company-row">
				<div>
					<img class="company-logo" src="{{company_logo_url || 'assets/icons/ic_default_company_logo.svg'}}" alt="Company logo">
				</div>

				<div class="company-detail">
					<div *ngIf="company_name">
						<h1>{{company_name}}</h1>
					</div>
					<div class="company-info">
						<small *ngIf="hq_country || hq_state || hq_city">
							<img src="assets/icons/ic_location.svg">
							{{(hq_city ? helperService.cityNameFromAutoComplete(hq_city.city) : '') + (hq_city && (hq_state || hq_country) ? ', ' : '') + (hq_state ? hq_state.state : '') + (hq_state && hq_country ? ', ' : '') + (hq_country ? countries[hq_country - 1] : '')}}
						</small>
						<small *ngIf="founding_year">
							<img src="assets/icons/ic_founding.svg">
							{{'Since ' + founding_year}}
						</small>
					</div>
					<div class="company-info">
						<div *ngIf="company_size" class="icon-title">
							<img src="assets/icons/ic_employees.svg">
							<label>Company Size</label>
							<p>{{company_size}}</p>
						</div>
						<div *ngIf="website" class="icon-title">
							<img src="assets/icons/ic_website.svg">
							<label>Website</label>
							<p>{{website}}</p>
						</div>
						<div class="icon-title">
							<img src="assets/icons/ic_permissions.svg">
							<label>Permissions Level</label>
							<p>Admin</p>
						</div>
					</div>
				</div>
				<div class="company-status">
					<action-button type="flat" color="primary" [title]="company ? 'Published' : 'Publish'" (click)="onClickPublish()"></action-button>
				</div>
			</div>
			<div class="tabs-row">
				<h3 [class.active]="current_tab === 'About'" (click)="onSelectTabMenu(0)"> About </h3>
				<h3 [class.active]="current_tab === 'People'" (click)="onSelectTabMenu(1)"> People </h3>
			</div>

		</div>
		<legend id="legend">
			<div class="nav-title" (click)="onClickTogggle()">
				<h3 class="section-title">{{current_tab}}</h3>
				<mat-icon>menu</mat-icon>
					</div>
					<a (click)="backToEdit()">Edit</a> 
		</legend>
		<div class="main-section">
			<div class="edit-title">
			</div>

			<div *ngIf="current_tab === 'About' && company_desc" class="row" id="about-company">
				<h3>About Company</h3>
				<ng-container *ngIf="true; let short_desc">
					<p *ngIf="company_desc" class="description" [class.short-desc]="short_desc && company_desc.length > helperService.shortDescLength">{{short_desc ? helperService.shortDescription(company_desc) : company_desc}}</p>
					<a *ngIf="company_desc && company_desc.length > helperService.shortDescLength" (click)="short_desc = !short_desc">{{short_desc ? 'Read More' : 'Read Less'}}</a>
				</ng-container>
			</div>

			<div *ngIf="current_tab === 'About' && (main_industry || company_industries.length > 0)" class="row" id="company-industry">
				<h3>Company Industry</h3>
				<ng-container *ngIf="main_industry">
					<h5>Primary Industry</h5>
					<div class="skills">
						<simple-tag type="gray" title="{{main_industry.industry_name}}"></simple-tag>
					</div>
				</ng-container>
				<ng-container *ngIf="company_industries.length > 0">
					<h5>Secondary Industries {{company_industries.length}}</h5>
					<div class="skills" *ngIf="displayItemsLimit; let limit">
						<ng-container *ngFor="let industry of company_industries; let i = index">
							<simple-tag *ngIf="i < limit" type="gray" title="{{industry.industry_name}}"></simple-tag>
						</ng-container>
						<img *ngIf="limit > displayItemsLimit" (click)="limit = limit - displayItemsLimit" src="assets/icons/ic_see_less.svg" alt="See Less">
						<img *ngIf="limit < company_industries.length" (click)="limit = limit + displayItemsLimit" src="assets/icons/ic_see_more.svg" alt="See More">
					</div>
				</ng-container>
			</div>

			<div *ngIf="current_tab === 'People'" class="row">
				<ng-container *ngIf="!is_administrators && company_recruiters.length > 0">
					<h3>Recruiters</h3>
					<p>This list of recruiters associated with this company.</p>
					<ng-container *ngIf="displayItemsLimit; let limit">
						<div>
							<ng-container *ngFor="let recruiter of company_recruiters; let i = index;">
								<div *ngIf="i < limit" class="img-tag">
									<img src="{{ recruiter.photo ? recruiter.photo : 'assets/icons/no_photo.png' }}">
									<label>{{ recruiter.first_name + ' ' + recruiter.last_name }}</label>
									<a>{{(recruiter.city_id ? recruiter.city : '') + (recruiter.city_id && (recruiter.state_id || recruiter.country_id) ? ', ' : '') + (recruiter.state_id ? recruiter.state : '') + (recruiter.state_id && recruiter.country_id ? ', ' : '') + (recruiter.country_id ? recruiter.country : '')}}</a>
								</div>
							</ng-container>
						</div>
						<div class="load-more">
							<action-button *ngIf="limit > displayItemsLimit" type="text" title="See Less" color="primary" (click)="limit = limit - displayItemsLimit"></action-button>
							<action-button *ngIf="limit < company_recruiters.length" type="text" title="See More" color="primary" (click)="limit = limit + displayItemsLimit"></action-button>
						</div>
					</ng-container>
				</ng-container>
			
				<ng-container *ngIf="is_administrators && company_administrators.length > 0">
					<h3>Administrators</h3>
					<p>This list of administrators associated with this company.</p>
					<ng-container *ngIf="displayItemsLimit; let limit">
						<div>
							<ng-container *ngFor="let administrator of company_administrators; let i = index;">
								<div *ngIf="i < limit" class="img-tag">
									<img src="{{ administrator.photo ? administrator.photo : 'assets/icons/no_photo.png' }}">
									<label>{{ administrator.first_name + ' ' + administrator.last_name }}</label>
									<a>{{(administrator.city_id ? administrator.city : '') + (administrator.city_id && (administrator.state_id || administrator.country_id) ? ', ' : '') + (administrator.state_id ? administrator.state : '') + (administrator.state_id && administrator.country_id ? ', ' : '') + (administrator.country_id ? administrator.country : '')}}</a>
								</div>
							</ng-container>
						</div>
						<div class="load-more">
							<action-button *ngIf="limit > displayItemsLimit" type="text" title="See Less" color="primary" (click)="limit = limit - displayItemsLimit"></action-button>
							<action-button *ngIf="limit < company_administrators.length" type="text" title="See More" color="primary" (click)="limit = limit + displayItemsLimit"></action-button>
						</div>
					</ng-container>
				</ng-container>

				<ng-container *ngIf="(!is_administrators && company_recruiters.length === 0) || (is_administrators && company_administrators.length === 0)">
					<p>No {{is_administrators ? 'Administrators' : 'Recruiters'}}</p>
				</ng-container>
			</div>
		</div>
		<div class="nav-section" [class.nav-hidden]="!isNavMenuOpened">
				<div class="nav-title">
					<h3 class="section-title">{{current_tab}}</h3>
				</div>
				
				<nav>
					<div *ngIf="current_tab === 'About'" class="navmenu-title active">
						<h3>Table Of Content</h3>
						<ol>
							<li *ngIf="company_desc" (click)="onSelectNavItem('about-company')">About Company</li>
							<li *ngIf="main_industry || company_industries.length > 0" (click)="onSelectNavItem('company-industry')">Company Industry</li>
						</ol>
					</div>
					<ng-container *ngIf="current_tab === 'People'">
						<div class="navmenu-title" [class.active]="!is_administrators">
							<h3 (click)="onSelectNavMenuPeople(false)">Recruiters</h3>
						</div>
						<div class="navmenu-title" [class.active]="is_administrators">
							<h3 (click)="onSelectNavMenuPeople(true)">Administrators</h3>
						</div>
									</ng-container>
									<div class="btn-section">
											<action-button class="nav-btn" type="flat" title="Edit" color="primary" (click)="backToEdit()"></action-button>
									</div>  
				</nav>
		</div>
	</div>
	<!-- Company Preview end-->
</ng-container>
