<mat-icon class="cancel" (click)="onClose()">cancel</mat-icon>
<h3 class="title">SKILLS</h3>
<ng-container>
  <mat-dialog-content>
    <div class="container">
      <div class="container__full">
        <div class="profile-form" [formGroup]="skillsForm">

          <div class="profile-form__field search">
            <h3>Skills <span *ngIf="userSkillsList.length > 0" class="count">{{userSkillsList.length}}</span></h3>
            <mat-form-field appearance="standard" class="search">
              <mat-icon matSuffix>search</mat-icon>
              <input matInput placeholder="Search skills" type="text" [matAutocomplete]="autocompleteSkills"
                formControlName="skills">
              <mat-autocomplete #autocompleteSkills="matAutocomplete">
                <mat-option *ngFor="let autocomplete_skill of autocomplete_skills" [value]="autocomplete_skill.skill"
                  (onSelectionChange)="addSkills(autocomplete_skill)">
                  <span>{{autocomplete_skill.skill}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div *ngIf="skillFlag" class="skills">
              <simple-tag type="gray" title="{{skillData.skill}}" ellipseTag="true" value="{{skillData.skill_level}}"
                isControl="true" (levelChanged)="onJobLevelChanged($event)"
                (removeClick)="removeExistingSkillsData(skillData)">
              </simple-tag>
            </div>
            <div *ngIf="temp_skill" class="skills">
              <simple-tag type="gray" title="{{temp_skill.skillItem.skill}}" ellipseTag="true" isControl="true"
                value="{{temp_skill.skillItem.skill_level}}" (levelChanged)="onLevelChanged($event, temp_skill.index)"
                (removeClick)="removeUserSkillsData(temp_skill.index, temp_skill.skillItem)"></simple-tag>

            </div>

          </div>
        </div>
      </div>
      <div class="nextButton">
        <action-button class="btn-next" type="flat" title="Add" color="primary" (click)="addSkills(skillData)">
        </action-button>
      </div>
    </div>

  </mat-dialog-content>

</ng-container>