<ng-container *ngIf="isJobLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>
<!-- Search Bar -->
<div class="career-main">
  <div class="comman_search_filter">
    <div class="postion-search-detail">
      <div class="filter-data">
        <mat-icon (click)="toggleTabOpen()" class="filter_icon">{{filter_list ? 'clear' : 'menu'}}</mat-icon>
      </div>
    </div>
  </div>
  <div class="position-main-container">
    <!-- Position-left-side -->
    <div class="filter-container container__header tablet">

      <div class="position-company-map">

        <div class="company-map" *ngFor="let info of companyData">

          <mat-card>
            <div class="company-border">
              <img alt="Company Logo" class="userimg" src="{{info?.company_logo ? info?.company_logo : 'assets/icons/ic_company.svg'}}">
            </div>
            <h5>{{info.company_name}}</h5>
            <img src="assets/icons/ic_location.svg">
            <span class="company-address"
              *ngIf="info.hq_city_name && info.hq_state_name && info.hq_country_name; else noLocation">
              {{info.hq_city_name}},
              {{info.hq_state_name}},
              {{info.hq_country_name}} </span>
            <ng-template #noLocation>
              <span class="company-address">N/A</span>
            </ng-template>
            <span>Website</span>
            <small>{{info.website ? info.website : 'N/A'}}</small>
            <div *ngIf="info.showMoreFlag">
              <ul>
                <li>
                  <span>Company Size</span>
                  <small>{{info.company_size ? info.company_size : 'N/A'}}</small>
                </li>
                <li>
                  <span>verification Status</span>
                  <small>{{info.verified}}</small>
                </li>
                <li>
                  <span>Company Industries</span>
                  <small *ngIf="info.company_industries?.length > 0 ; else noIndustry">
                <li *ngFor="let industry of info.company_industries"><simple-tag type="gray" title="{{industry}}">
                </simple-tag> </li></small>
                <ng-template #noIndustry>
                  <li class="company-address">N/A</li>
                </ng-template>
                </li>
                <li>
                  <span>Positions Available</span>
                  <small>N/A</small>
                </li>
                <li>
                  <span>About Company</span>
                  <small>{{info.company_desc ? info.company_desc : 'N/A' }}</small>
                </li>
              </ul>
            </div>
            <div class="show-button2">
              <action-button routerLink="." type="text" title="{{!info.showMoreFlag ? 'Show More' :
              'Show Less'}}" color="primary" (click)="info.showMoreFlag = !info.showMoreFlag"></action-button>
              <action-button class="company-go-detail" type="text" [routerLink]="['/companies/',info.company_id]"
                title="Details Page" color="primary" *ngIf="info.showMoreFlag">
              </action-button>
            </div>
          </mat-card>

        </div>
        <div class="content" [class.open]="filter_list">
          <ng-container>
            <mat-card>
              <h4>Contents</h4>
              <ol *ngFor="let jobData of positionName">
                <li (click)="scrollSmoothTo('information')"> Position Information</li>
                <li (click)="scrollSmoothTo('qualification_level_breakdown')" *ngIf="(jobData.minimum_skills?.length > 0 || jobData.preferred_skills?.length > 0) || (jobData.preferred_experience?.length > 0) || (jobData.preferred_education_levels?.length > 0 ||
                    jobData.preferred_majors?.length > 0 || jobData.preferred_major_categories?.length > 0) || (matchedInterests?.length > 0) || (matchedSkills?.length > 0 || missingSkills?.length > 0)"> Qualification Level Estimate</li>
                <li (click)="scrollSmoothTo('skills')" *ngIf="matchedSkills?.length > 0 || missingSkills?.length > 0"> Missing/Matching Skills</li>
                  <li (click)="scrollSmoothTo('matched_interest')" *ngIf="matchedInterests?.length > 0"> Matched Interest</li>
                <li (click)="scrollSmoothTo('description')"*ngIf="jobData.position_desc" >Job Description</li>
                <li (click)="scrollSmoothTo('qualification')" *ngIf="jobData.preferred_education_levels?.length > 0 ||
                  jobData.preferred_majors?.length > 0 || jobData.preferred_major_categories?.length > 0">Education Level</li>
                <li (click)="scrollSmoothTo('experience')"*ngIf="jobData.preferred_experience?.length > 0" >Preferred Experience</li>
                <li (click)="scrollSmoothTo('preferred_skills')" *ngIf="jobData.minimum_skills?.length > 0 || jobData.preferred_skills?.length > 0">Preferred Skills</li>
                <li (click)="scrollSmoothTo('interest')" *ngIf="jobData.preferred_interests?.length > 0">Preferred Interests</li>
                <li (click)="scrollSmoothTo('school')" *ngIf="restrictedSchools?.length > 0">School Restrictions</li>
              </ol>
            </mat-card>
          </ng-container>
        </div>

      </div>

    </div>
    <div class="position-list-container">

      <div *ngFor="let info of positionName ">

        <section class="row position-detail" id="information">

          <h1>{{info.position}} </h1>
          <div class="position-right">
            <div class="heart-icon">
              <img *ngIf="!appliedJobsMap[info.position_id] && !savedJobsMap[info.position_id]"
                (click)="saveJob([info])" title="Save Job" src="assets/icons/ic_heart.svg" class="before-heart-icon">
              <img *ngIf="!appliedJobsMap[info.position_id] && savedJobsMap[info.position_id]"
                (click)="unSaveJob(info);" title="Saved Job" src="assets/icons/ic_heart_circle.svg"
                class="after-heart-icon">
            </div>
            <span class="right-align">
              <action-button *ngIf="!appliedJobsMap[info.position_id]" title="Apply" class="job-apply-btn"
                color="primary" (click)="applyJob([info])">
              </action-button>
              <action-button *ngIf="appliedJobsMap[info.position_id]" class="job-applied-btn" title="Applied"
                type="stroked" color="primary" disabled>
              </action-button>
            </span>
            <span *ngIf="appliedJobsMap[info.position_id]" class="dot-icon">
              <button mat-button [matMenuTriggerFor]="menu" disableRipple><img src="assets/icons/ic_more_vertical.svg">
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="../application/{{this.appliedJobsMap[info.position_id]}}">See
                  Application</button>
                <button mat-menu-item (click)="withdrawApplication(info.position_id)">Withdraw
                  Application</button>
              </mat-menu>
            </span>
          </div>
          <div>
            <div class="job-top-list">
              <ul>
                <li>
                  <img class="img-style" src="assets/icons/ic_company.svg">
                  <span class="image" routerLink="../company-page/{{info.company_id}}">
                    {{info.company_name}}</span>
                </li>
                <li>
                  <img src="assets/icons/ic_location.svg">
                  <span class="image"
                    *ngIf="info.hq_city_name && info.hq_state_name && info.hq_country_name; else noLocation">
                    {{info.hq_city_name }},
                    {{info.hq_state_name }},
                    {{info.hq_country_name }}</span>
                  <ng-template #noLocation>
                    <span class="noLocation">N/A</span>
                  </ng-template>
                </li>
                <li>
                  <img src="assets/icons/ic_clock.svg">
                  <span class="image"> {{differenceInDays}} days ago</span>
                </li>
                <li>
                  <span class="recruiter-text">Recruiter</span>&nbsp;
                  <span class="image">{{recruiterData['first_name']}} {{recruiterData['last_name']}}</span>
                </li>
              </ul>
            </div>
            <mat-grid-list [cols]="breakpoint" rowHeight="60px" (window:resize)="onResize($event)" class="card">
              <mat-grid-tile>
                <div class="card-item">
                  <span>Qualification Level</span>
                  <p>{{calculatedQualificationLevel}}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Salary</span>
                  <p>{{info.pay ? info.pay + ' USD' : 'N/A' }}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Industry</span>
                  <p>{{info.main_industry_name ? info.main_industry_name : 'N/A'}}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Position Level</span>
                  <p>{{info.level ? info.level : 'N/A'}}</p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list [cols]="breakpoint" rowHeight="60px" (window:resize)="onResize($event)"
              class="card second-card">
              <mat-grid-tile>
                <div class="card-item">
                  <span>Application Type</span>
                  <p>{{info.application_type ? info.application_type : 'N/A'}}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Position Type</span>
                  <p>{{info.type ? info.type : 'N/A' }} </p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item" >
                  <span>Application Deadline</span>
                  <p *ngIf="info.end_date; else noDate">{{info.end_date |  date: 'MMM d, y'}}</p>
                </div>
                <ng-template #noDate>
                  <p class="noLocation">N/A</p>
                </ng-template>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="card-item">
                  <span>Education Level</span>
                  <p>{{jobLowestEducationLevel ? jobLowestEducationLevel : 'N/A'}}</p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </section>

        <div class="row position-qualification-detail" id="qualification_level_breakdown" *ngIf="(info.minimum_skills?.length > 0 || info.preferred_skills?.length > 0) || (info.preferred_experience?.length > 0) || (info.preferred_education_levels?.length > 0 ||
            info.preferred_majors?.length > 0 || info.preferred_major_categories?.length > 0) || (matchedInterests?.length > 0) || (matchedSkills?.length > 0 || missingSkills?.length > 0)">
          <h3>Qualification Level Estimate Breakdown</h3>
          <div class="position-qualification-skills" *ngFor="let score of positionName">
            <simple-tag *ngIf="score.true_fitscore_info?.skills_weight" type="gray" title="Skills Match"
              ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.skills_fitscore)}}">
            </simple-tag>
            <simple-tag *ngIf="score.true_fitscore_info?.experience_weight" type="gray" title="Experience Match"
              ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.experience_fitscore)}}">
            </simple-tag>
            <simple-tag *ngIf="score.true_fitscore_info?.education_weight" type="gray" title="Education Match"
              ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.education_fitscore)}}">
            </simple-tag>
            <simple-tag *ngIf="score.true_fitscore_info?.interests_weight" type="gray" title="Interests Match"
              ellipseTag="true" value="{{mathFloor(6*score.true_fitscore_info?.interests_fitscore)}}">
            </simple-tag>
            <simple-tag *ngIf="score.minimum_skills" type="gray" title="Required Skills Match" ellipseTag="true"
              value="{{mathFloor(6*score.true_fitscore_info?.required_skills_fitscore)}}">
            </simple-tag>
            <p
              *ngIf="!score.true_fitscore_info ||  (score.true_fitscore_info && !score.true_fitscore_info.skills_weight && !score.true_fitscore_info.experience_weight && !score.true_fitscore_info.education_weight && !score.true_fitscore_info.interests_weight && !score.minimum_skills)">
              N/A
            </p>
          </div>
        </div>
        <div id="skills" *ngIf="matchedSkills?.length > 0 || missingSkills?.length > 0">
          <div class="row position-required-skills-detail main-card">
            <div class="show-button">
              <action-button routerLink="." type="text" title="{{!info.showMoreFlag ? 'See All' :
                  'See Less'}}" color="primary" (click)="info.showMoreFlag = !info.showMoreFlag"
                *ngIf="matchedSkills?.length > 2 || missingSkills?.length > 2"></action-button>
            </div>
            <h3>Matched Skills</h3>

            <ul>
              <li>
                <h5 for="skill_required">Matched Skills<span *ngIf="matchedSkills?.length > 0">{{ matchedSkills?.length}}</span>
                </h5>
                <div class="skil-height-fix" [ngClass]="{'skill-more-height': info.showMoreFlag}"
                *ngIf="matchedSkills?.length > 0; else noSkill">
                  <div class="skills-preferred-m green-color-tag" *ngFor="let matchSkill of matchedSkills ">
                    <simple-tag type="green" title="{{matchSkill.skill}}" (click)="openSkilladdDialog(matchSkill)">
                    </simple-tag>
                  </div>
                </div>
              </li>
              <li>
                <h5 for="skill_required">Missing Skills<span *ngIf="missingSkills?.length > 0">{{ missingSkills?.length}}</span>
                </h5>
                <div class="skil-height-fix" [ngClass]="{'skill-more-height': info.showMoreFlag}"
                  *ngIf="missingSkills?.length > 0; else noSkill">
                  <div class="skills-preferred-m red-color-tag" *ngFor="let skill of missingSkills ">
                    <simple-tag type="red" title="{{skill.skill}}" (click)="openSkilladdDialog(skill)">
                    </simple-tag>
                  </div>
                </div>
                <ng-template #noSkill>
                  <ul>
                    <li>N/A</li>
                  </ul>
                </ng-template>
              </li>
            </ul>

          </div>

        </div>

        <div class="row position-interest-detail" id="matched_interest" *ngIf="matchedInterests?.length > 0">
          <h3>Matched Interests</h3>
          <div class="position-matched">
            <h5 for="skill_required">Matched Interests <span *ngIf="matchedInterests?.length > 0">{{ matchedInterests?.length}}</span>
            </h5>
            <div class="skil-height-fix" *ngIf="matchedInterests;">
              <div class="skills-preferred-m" *ngFor="let matched_interest of matchedInterests ">
                <simple-tag type="green" title="{{matched_interest.interest}}">
                </simple-tag>
              </div>
            </div>
          </div>
        </div>
        <div class="comman" *ngFor="let jobData of positionName" id="description">
          <div class="row position-interest-detail"  *ngIf="jobData.position_desc">
            <h3>Job Description</h3>
            <div class="position-matched" [ngClass]="{'skill-more-height': info.readMoreFlag}">
              <p>{{jobData.position_desc}}</p>
            </div>
            <div class="position-job-desc-btn">
              <action-button routerLink="." type="text" title="{{!info.readMoreFlag ? 'Read More' :
                  'Read Less'}}" color="primary" (click)="info.readMoreFlag = !info.readMoreFlag"></action-button>
            </div>
          </div>
          <div class="row position-eductaion-detail position-required-skills-detail" id="qualification"
          *ngIf="jobData.preferred_education_levels?.length > 0 || jobData.preferred_majors?.length > 0 || jobData.preferred_major_categories?.length > 0">
            <h3>Education Level</h3>
            <div class="education-level-m" *ngIf="jobData.preferred_education_levels?.length > 0">
              <h5 for="skill_required">Preferred Education <span>{{ jobData.preferred_education_levels?.length}}</span>
              </h5>
              <div class="skil-height-fix"*ngIf="jobData.preferred_education_levels">
                <div class="skills-preferred-m" *ngFor="let level of jobData.preferred_education_levels ">
                  <simple-tag type="gray" title="{{level.education_level}}">
                  </simple-tag>
                </div>
              </div>
            </div>
            <div class="education-level-m" *ngIf="jobData.preferred_majors?.length > 0">
              <h5 for="skill_required">Preferred Majors <span >{{ jobData.preferred_majors?.length}}</span>
              </h5>
              <div class="skills" *ngIf="displayItemsLimit; let limit">
                <div class="skills-preferred-m" *ngFor="let major of jobData.preferred_majors; let i = index; ">
                  <simple-tag type="gray" *ngIf="i < limit" title="{{major.major_name}}">
                  </simple-tag>
                </div>
                <img *ngIf="limit < jobData.preferred_majors?.length" class="edu_img"  (click)="limit = limit + displayItemsLimit"
                  src="assets/icons/ic_more.svg" alt="See More">
              </div>
            </div>
            <div class="education-level-m"  >
              <div *ngIf="jobData.preferred_major_categories?.length > 0">
              <h5 for="skill_required">Preferred Major Categories
                <span>{{ jobData.preferred_major_categories?.length}}</span>
              </h5>
              <div class="skil-height-fix" *ngIf="jobData.preferred_major_categories">
                <div class="skills-preferred-m" *ngFor="let major_categories of jobData.preferred_major_categories ">
                  <simple-tag type="gray" title="{{major_categories.cat_name}}">
                  </simple-tag>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="row position-experience-detail" id="experience" *ngIf="jobData.preferred_experience?.length > 0" >
            <h3>Preferred Experience</h3>
            <ul >
              <li *ngFor="let experience of jobData.preferred_experience">
              <h6 *ngIf="experience.industry_name">{{experience.industry_name}} ({{experience.preferred_years}} years)</h6>
              <div class="education-level-m">
                <p *ngIf="experience.exp_desc" >{{experience.exp_desc}}</p>
                <h5 for="skill_required" *ngIf="experience.preferred_skills_trained?.length > 0"> Preferred Skills Trained
                  <span>{{ experience.preferred_skills_trained?.length}}</span>
                </h5>
                <div class="skills" *ngIf="displayItemsLimit; let limit">
                  <div class="skills-preferred-m"
                    *ngFor="let skill of experience.preferred_skills_trained; let i = index;">
                    <simple-tag type="gray" *ngIf="i < limit" title="{{skill.skill}}">
                    </simple-tag>
                  </div>
                  <img *ngIf="limit < experience.preferred_skills_trained?.length " (click)="limit = limit + displayItemsLimit"
                    src="assets/icons/ic_more.svg" alt="See More">
                </div>
              </div>
            </li>
          </ul>
          </div>
          <div class="row position-required-skills-detail" id="preferred_skills" *ngIf="jobData.minimum_skills?.length > 0 || jobData.preferred_skills?.length > 0">
            <h3>Preferred & Required Skills</h3><img class="question-icon" src="assets/icons/ic_question.svg"
              (click)="openSkillDescriptionDialog()">
            <div class="education-level-m" >
              <h5 for="skill_required">Skills Required <span *ngIf="jobData.minimum_skills?.length > 0">{{ jobData.minimum_skills?.length}}</span>
              </h5>
              <div *ngIf="jobData.minimum_skills; else noSkill" >
              <div class="skills" *ngIf="displayItemsLimit; let limit">
                <div class="skills-preferred-m" *ngFor="let min_skill of jobData.minimum_skills; let i = index; ">
                  <simple-tag type="gray" *ngIf="i < limit" title="{{min_skill.skill}}" ellipseTag="true"
                    value="{{min_skill.skill_level}}"  (click)="openSkilladdDialog(min_skill)"
                    [matTooltip]="SkillLevelDescription[min_skill.skill_level].title + SkillLevelDescription[min_skill.skill_level].description"
                    [matTooltipShowDelay]=500 >
                  </simple-tag>
                </div>
                <img *ngIf="limit < jobData.minimum_skills?.length" (click)="limit = limit + displayItemsLimit"
                  src="assets/icons/ic_more.svg" alt="See More">
              </div>
              </div>
              <ng-template #noSkill>
                    <span>N/A</span>
                </ng-template>
            </div>
            <div class="education-level-m">
              <h5 for="skill_required">Skills Preferred <span *ngIf="jobData.preferred_skills?.length > 0">{{ jobData.preferred_skills?.length}}</span>
              </h5>
              <div *ngIf="jobData.preferred_skills; else noSkill" >
              <div class="skills" *ngIf="displayItemsLimit; let limit">
                <div class="skills-preferred-m" *ngFor="let preskill of jobData.preferred_skills; let i = index;">
                  <simple-tag *ngIf="i < limit" type="normal" title="{{preskill.skill}}" ellipseTag="true"
                    value="{{preskill.skill_level}}" (click)="openSkilladdDialog(preskill)"
                    [matTooltip]="SkillLevelDescription[preskill.skill_level].title + SkillLevelDescription[preskill.skill_level].description"
                    [matTooltipShowDelay]=500 >
                  </simple-tag>
                </div>

                <img *ngIf="limit < jobData.preferred_skills?.length" (click)="limit = limit + displayItemsLimit"
                  src="assets/icons/ic_more.svg" alt="See More">
              </div>
              </div>
            </div>
          </div>
          <div class="row position-required-skills-detail" id="interest" *ngIf="jobData.preferred_interests?.length > 0">
            <h3>Preferred Interests</h3>
            <div class="position-prefer-interest">
              <h5 for="skill_required">Interest <span>{{ jobData.preferred_interests?.length}}</span>
              </h5>
              <div class="skills" *ngIf="displayItemsLimit; let limit">
                <div class="skills-preferred-m" *ngFor="let preferred of jobData.preferred_interests; let i = index; ">
                  <simple-tag type="gray" *ngIf="i < limit" title="{{preferred.interest}}">
                  </simple-tag>
                </div>
                <img *ngIf="limit < jobData.preferred_interests?.length" (click)="limit = limit + displayItemsLimit"
                  src="assets/icons/ic_more.svg" alt="See More">
              </div>
            </div>
          </div>
        </div>
        <div class="row position-schools-restriction" id="school" *ngIf="restrictedSchools?.length > 0">
          <h3>School Restrictions</h3>
          <div class="position-prefer-interest">
            <p>Applicants should be currently enrolled or alumni of the following schools.</p>
            <div class="skil-height-fix">
              <div class="skills-preferred-m" *ngFor="let res_school of restrictedSchools ">
                <simple-tag type="gray" title="{{res_school.school_name}}">
                </simple-tag>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
