<div class="container">
  <div class="container__left">
    <div class="row__info">
      <h1>Welcome to yourCareerFair</h1>
      <p>
        yourCareerFair offers unparalleled, free, search and screening functionality for both applicants and recruiters. Using standardized user inputs as well as proprietary machine learning and AI algorithms, this platform is capable of comprehensively assessing the estimated compatibility of any user and position pair in real time for users to see. In addition, yourCareerFair leverages this algorithm in its search process, allowing for applicants and recruiters to search for positions and applicants based on, in part, qualification level estimates and other pertinent metrics. For those who prefer a more traditional search, yourCareerFair also allows for searches filtered on other variables such as required skills, education, and title. Our hope is that these utilities are effective at attenuating the pernicious effects of labor market inefficiency and helping all people to find appropriate, interesting, and compatible employment.
      </p>
      <a mat-button disableRipple="true" routerLink="/read-more">Read More</a>
    </div>
    <div class="row__copyright">
      <span>©2019 <a href="#">yourcareerfair.com</a> | Cookies, Privacy and Terms</span>
    </div>
  </div>
  <div class="container__right" [formGroup]="loginForm">
    <div class="row__user_roles">
      <span class="user_role" [class.active]="currentRole === 0" (click)="switchRole(0)">I’M AN APPLICANT<div class="active-border"></div></span>
      <span class="user_role" [class.active]="currentRole === 1" (click)="switchRole(1)">I’M A RECRUITER<div class="active-border"></div></span>
    </div>
    <div class="row__form first">
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <mat-icon matPrefix>mail_outline</mat-icon>
        <input matInput placeholder="Email Address" type="email" [formControl]="loginForm.controls.emailAddress">
        <mat-icon matSuffix *ngIf="loginForm.controls.emailAddress.valid">done</mat-icon>
        <mat-icon matSuffix class="error-field" *ngIf="!loginForm.controls.emailAddress.valid && loginForm.controls.emailAddress.touched">close</mat-icon>
      </mat-form-field>
    </div>
    <div class="row__form last">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input matInput placeholder="Password" type="password" [formControl]="loginForm.controls.password">
        <mat-icon matSuffix class="error-field" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">close</mat-icon>
      </mat-form-field>
    </div>
    <div class="row__checkbox">
      <round-checkbox id="remember-me" title="Remember Me" [checked]="isRememberMe" (statusChange)="toggleRemember($event)"></round-checkbox>
      <a mat-button disableRipple="true" routerLink="/login">Forgot Password?</a>
    </div>
    <div class="row__buttons">
      <action-button type="flat" title="Login Now" color="primary" (click)="login()" [disabled]="!loginForm.valid"></action-button>
      <action-button type="stroked" title="Create New Account" (click)="navigateToSignUp() "></action-button>
    </div>
    <div class="row__buttons">
      <action-button type="text" title="Resend Email" color="primary" (click)="goToEmailSentPage()"></action-button>
    </div>
    <div class="row__copyright">
      <span>©2019 <a href="#">yourcareerfair.com</a> | Cookies, Privacy and Terms</span>
    </div>
  </div>
</div>