<div class="page-container">
    <h1>
        Terms and Conditions
    </h1>

    <h2>
        Your Privacy Rights
    </h2>
    <p>
        This Privacy Notice describes your privacy rights regarding the collection, use, storage, sharing and protection of your personal information by yourCareerfair or its affiliates (“yourCareerfair”). It applies to the collection of your personal information via our career placement websites and services linked to this Notice (the “Site”).
    </p>

    <h2>
        Scope and Consent
    </h2>
    <p>
        By using this Site, you expressly consent to our collection, storage, use, transfer, and disclosure of your personal information, including any sensitive information you elect to submit. By providing personal information via this Site, you expressly consent to the terms of this Privacy Notice.
    </p>

    <p>
        We may amend this Notice at any time by posting a revised version on our Site. The revised version will be effective as of the published effective date. In addition, if the revised version includes a substantial change, we will provide you with 30 days’ prior notice by posting notice of the change on this Site. After this 30-day notice period, you will be considered as having expressly consented to all amendments to this Privacy Notice. If you do not agree to the changes, please contact us to deactivate your account.
    </p>

    <h2>
        Collection of Personal Information
    </h2>
    <p>
        We collect the following types of personal information when you visit or use the Site:
    </p>

    <p>
        Information we collect automatically: When you visit the Site, we (including service providers working on our behalf (“service providers”)) may collect information sent to us by your computer, mobile phone or other access device. The information sent to us includes, but is not limited to, the following: data about the pages you access, your computer IP address, device identifiers, the type of operating system you’re using, your location, mobile network information, standard web log data and other information. Web log data includes the browser type you’re using and traffic to and from our site. When you visit the Site, we also collect information about your activities.
    </p>

    <p>
        Information you provide to us: We (including service providers) may collect and store any information you provide us when you use the Site, including when you submit an application. When you use the Site to submit an application, you will be required to submit personal information, otherwise you may not be able to access certain parts of the Site and we will not be able to process your application. This information includes:
    </p>

    <ul>
        <li>
            Contact information, such as your name, address, phone, email, and other similar information
        </li>
        <li>
            Resume or CV, cover letter, previous work experience, education, and transcripts
        </li>
        <li>
            Desired salary, relevant work experience, type of employment sought, date available, employee referral
        </li>
        <li>
            yourCareerfair account ID
        </li>
    </ul>

    <p>
        Information from Other Sources: We also may obtain information about you from other sources, to the extent permitted by applicable law, such as through your contact with us, including your interactions with members of the yourCareerfair corporate family, or from third parties such as employment research firms, identity verification services, and other websites on the Internet (subject to such third party’s privacy policies).
    </p>

    <p>
        For example, you may choose to provide us with access to certain personal information stored by third parties such as social media sites (e.g., LinkedIn). The information we may receive varies by site and is controlled by that site. By authorizing yourCareerfair to have access to this information, you agree that yourCareerfair may collect, store and use this information in accordance with this Privacy Notice.
    </p>
    <p>
        Using Your Mobile Device: We may offer you the ability to access the Site using a mobile device via a mobile optimized website. The provisions of this Privacy Notice apply to all such mobile access.
    </p>

    <p>
        When you access one of our mobile optimized sites, we (including service providers) may receive information about your location and your mobile device, including a unique identifier for your device. We may use this information to provide you with location-based services and other personalized content. Most mobile devices allow you to control or disable location services in the device’s settings menu. If you have questions about how to disable your device’s location services, we recommend you contact your mobile service carrier or the manufacturer of your particular device.
    </p>

    <h2>
        How We Use the Personal Information We Collect
    </h2>

    <p>
        Our primary purpose in collecting personal information is to provide you with a smooth and efficient experience in applying for a job with our registered companies. Your submitted application and any additional personal information will be used to:
    </p>
    <ul>
        <li>
            assess your skills and interest in career opportunities at and hosted by yourCareerfair
        </li>
        <li>
            verify your identity, including during account creation and password reset processes
        </li>
        <li>
            provide customer service, dispute resolution, and Site troubleshooting
        </li>
        <li>
            customize, measure, and report on our Site and career service operations
        </li>
        <li>
            process your application and send notices to you about our open positions
        </li>
        <li>
            contact you by placing a voice call or through text (SMS) or email messaging
        </li>
        <li>
            compare information for accuracy and verify it with third parties
        </li>
        <li>conduct background checks (as permitted by applicable law), which may include verification of skill proficiency, criminal history, financial
        history and other information that may be necessary for determining your qualifications for an open position at yourCareerfair.</li>
        <li>
            conduct labor economic and policy research using anonymous data collected from your account
        </li>
    </ul>

    <p>
        If you accept employment with a company you apply to through yourCareerfair, the information collected on this Site will become part of your employment record and will be used for employment purposes.
    </p>

    <h2>
        How We Share Personal Information with Other Third Parties
    </h2>
    <p>
        The Company will not sell or rent your personal information to third parties for their marketing purposes without your explicit consent.
    </p>

    <p>
        We may share your personal information with service providers, and they will be obligated to protect your personal information consistently with the terms of this Privacy Notice. We may share your personal information with members of the yourCareerfair corporate family to assess your skills for job openings. Access to your personal information will be limited to those employees or agents of companies you apply to and yourCareerfair agents who have a business need to access such personal information.
    </p>

    <p>
        We may share your personal information with companies that we plan to merge with or are acquired by, or in connection with any other partial or total sale of the Company or its assets. (Should such a combination occur, we will require that the new combined entity follow this Privacy Notice with respect to your personal information. If your personal information could be used contrary to this Privacy Notice, you will receive prior notice.)
    </p>

    <p>
        To the extent permitted by applicable law, we may also disclose your personal information when we believe that the disclosure is necessary to:
    </p>

    <ul>
        <li>
            protect the legal rights, privacy or safety the company or its employees, agents and contractors;
        </li>
         <li>
             to protect the safety and security of visitors to our web sites or other properties;
         </li>
         <li>
             protect against fraud or other illegal activity or for risk management purposes;
         </li>
         <li>
             respond to inquiries or requests from public authorities;
         </li>
         <li>
             enforce our User Agreement;
         </li>
         <li>
             permit us to pursue available remedies or limit the damages that we may sustain;
         </li>
         <li>
             or comply with the law or a legal process.
         </li>
    </ul>

    <h2>
        How We Use Cookies and Similar Technologies
    </h2>
    <p>When you access our Site, we (including companies we work with) may place small data files on your computer or other device. These data files may be traditional cookies, pixel tags, "Flash cookies," or other local storage provided by your browser or associated applications
    (collectively "Cookies"). We use these technologies to: recognize you as an applicant; provide and customize the Site and our services; measure the Site’s effectiveness; help ensure that your account security is not compromised; mitigate risk and prevent fraud; and to promote trust and safety across our sites.</p>

    <p>
        We use both session and persistent Cookies. Session Cookies expire and no longer have any effect when you log out of your account or close your browser. Persistent Cookies remain on your device until you erase them or they expire.
    </p>

    <p>
        You are free to decline our Cookies if your browser or browser add-on permits, but doing so may interfere with your use of our Site. Refer to the help section of your browser, browser extensions, or installed applications for instructions on blocking, deleting, or disabling Cookies.
    </p>

    <p>
        For browser-specific information on how to adjust cookie configurations on the following browsers, please click on the relevant link below:
    </p>

    <p>
        Internet Explorer: <br>
        Internet Explorer 5<br>
        Internet Explorer 6<br>
        Internet Explorer 7<br>
        Internet Explorer 8<br>
        Internet Explorer 9<br>
        Firefox<br>
        Chrome<br>
        Safari: OSX/Mac OS<br>
        Safari: iOS
    </p>

    <p>
        Refer to the help section of your browser, browser extensions, or installed applications for additional instructions on blocking, deleting, or disabling Cookies.
    </p>

    <p>
        For more detailed information on how we (and third parties we work with) may use Cookies to collect data on the Site and across other sites over time, please see our yourCareerfair Applicant Notice on Cookies, Web Beacons, and Similar Technologies.
    </p>

    <p>
        Do Not Track: Do Not Track (DNT) is an optional browser setting that allows you to express your preferences regarding tracking by advertisers and other third-parties. We do not currently respond to DNT signals. We do, however, provide you notice of the tracking by advertisers and other third parties in our Privacy and Cookies policies.
    </p>

    <h2>
        How We Protect and Store Personal Information
    </h2>
    <p>
        Throughout this Notice, we use the term "personal information" to describe information that can be associated with a specific person and can be used to identify that person. We do not consider personal information to include information that has been made anonymous so that it cannot be used, whether in combination with other information or otherwise, to identify a specific user.
    </p>

    <p>
        We store and process your personal information on our computers in North America, Asia, Europe and elsewhere in the world where our facilities are located. We use physical, technical and organizational security controls commensurate with the amount and sensitivity of the personal information to prevent unauthorized processing, including but not limited to, unauthorized access to, acquisition and use of, loss, destruction, or damage to personal information. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls.
    </p>

    <h2>
        Cross Border Transfers of Personal Information
    </h2>
    <p>
        yourCareerfair is committed to adequately protecting your personal information regardless of where the data resides and to providing appropriate protection for your personal information where such data is transferred across borders.
    </p>

    <h2>
        How You Can Access or Change Your Personal Information
    </h2>
    <p>You can review and edit your personal information at any time by logging in to your account and reviewing your account settings and profile. You can access, review, and change most of your personal information by logging into the Site. You must promptly update your personal
    information if it changes or is inaccurate. Upon your request, we will deactivate or remove your personal information from our active databases, although some information may be retained as permitted or required by applicable law.</p>

    <p>
        To the extent permitted by applicable law, we may delete your personal information at any time (including your CV/resume), without any reason. Therefore, please retain your own copy of the personal information provided to us.
    </p>

    <h2>
        Permitted Site Uses
    </h2>
    <p>
        yourCareerFair makes the Site and Site Services available for Users to find one another and enter into service relationships. While we try to ensure that any information we post is both timely and accurate, errors may appear from time to time. We do not make any representations or warranties with respect to any information that is posted on the Site by us or anyone else. In no event should any content be relied on or construed as tax or legal advice or otherwise. You should independently verify the accuracy of any content.
    </p>

    <h2>
        Prohibited Site Uses
    </h2>
    <p>
        You may not use, or encourage, promote, facilitate, instruct or induce others to use, yourCareerFair or Site Services for any activities that violate any law, statute, ordinance or regulation; for any other illegal or fraudulent purpose or any purpose that is harmful to others; or to transmit, store, display, distribute or otherwise make available content that is illegal, fraudulent or harmful to others.
    </p>

    <h2>
        How You Can Contact Us
    </h2>
    <p>
        If you have questions or concerns regarding this document, you should contact us by using our company’s contact information.
    </p>
</div>
