<ng-container *ngIf="!isProfileLoading" class="profile-header">
  <header-section [editMode]="editMode" [generalInfo]="userGeneralInfo" (updatedGeneralInfoData)="onChangedGeneralInfoData($event)" (updatedProfileStatus)="onChangeProfileStatus($event)" id="header-section"></header-section>
</ng-container>

<ng-container *ngIf="!isProfileLoading">
  <legend id="legend">
    <div class="nav-title" (click)="onClickTogggle()">
      <h3 class="section-title">Profile</h3>
      <mat-icon>menu</mat-icon>
    </div>
    <a *ngIf="!editMode" (click)="onClickEdit()">Edit Profile</a>
    <a *ngIf="editMode" [class.disabled]="!headerFormValid" (click)="onClickUpdate()">Update Changes</a>
  </legend>
  <main-section
    [selectedNavMenu]="navMenu[selectedNavMenuIndex].id"
    [userGeneralInfo]="userGeneralInfo"
    [educationList]="educationList"
    [experienceList]="experienceList"
    [userSkillsList]="userSkillsList"
    [userInterestsList]="userInterestsList"
    [userProjectsList]="userProjectsList"
    [userPublicationsList]="userPublicationsList"
    [externalResourcesList]="externalResourcesList"
    [editMode]="editMode"
    [class.edit-mode]="editMode"
    (navMenuVisibilityChanged)="onChangeNavMenuVisibility($event)"
    (userIntroUpdated)="onChangeUserIntro($event)"
    (clickEdit)="onClickEdit()"
  ></main-section>
  <nav-section [navMenu]="navMenu" [editMode]="editMode" [navIndex]="selectedNavMenuIndex" [headerFormValid]="headerFormValid" (clickUpdate)="onClickUpdate()" (selectNavMenu)="onSelectNavMenu($event)" (selectedNavItem)="onSelectNavItem($event)" [isOpened]="isNavMenuOpened" [class.nav-hidden]="!((isHandset$ | async) && isNavMenuOpened)" id="nav-section"></nav-section>
</ng-container>

<ng-container *ngIf="isProfileLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>
