<ng-container *ngIf="!isProfileLoading" class="profile-header">
  <header-section [editMode]="isEditProfile" [generalInfo]="userGeneralInfo"></header-section>
</ng-container>

<ng-container *ngIf="!isProfileLoading">
  <legend>
    <h3 class="section-title">Profile</h3>
    <a (click)="onClickEdit()">Edit Profile</a>
  </legend>
  <div class="edit-button"><a (click)="onClickEdit()">Edit Profile</a></div>
  <nav-section [navMenu]="navMenu"></nav-section>
  <main-section
    [selectedNavMenu]="'profile'"
    [userGeneralInfo]="userGeneralInfo"
    [educationList]="educationList"
    [experienceList]="experienceList"
    [userSkillsList]="userSkillsList"
    [userInterestsList]="userInterestsList"
    [userProjectsList]="userProjectsList"
    [userPublicationsList]="userPublicationsList"
    [externalResourcesList]="externalResourcesList"
  ></main-section> 
</ng-container>

<ng-container *ngIf="isProfileLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>
