<ng-container *ngIf="!isProfileLoading" class="profile-header">
  <header-section [editMode]="isEditProfile" [generalInfo]="userGeneralInfo" (updatedGeneralInfoData)="onChangedGeneralInfoData($event)"></header-section>
</ng-container>

<ng-container *ngIf="!isProfileLoading">
  <legend id="legend">
    <div class="nav-title" (click)="onClickTogggle()">
      <h3 class="section-title">Profile</h3>
      <mat-icon>menu</mat-icon>
    </div>
    <a (click)="onClickEdit()">Edit Profile</a>
  </legend>
  <main-section
    [selectedNavMenu]="'profile'"
    [userGeneralInfo]="userGeneralInfo"
    [educationList]="educationList"
    [experienceList]="experienceList"
    [userSkillsList]="userSkillsList"
    [userInterestsList]="userInterestsList"
    [userProjectsList]="userProjectsList"
    [userPublicationsList]="userPublicationsList"
    [externalResourcesList]="externalResourcesList"
    [editMode]="isEditProfile"
    [class.edit-mode]="isEditProfile"
  ></main-section>
  <nav-section [navMenu]="navMenu" [editMode]="isEditProfile" (clickUpdate)="onClickUpdate()" [isOpened]="isNavMenuOpened" [class.hidden]="!(((isHandset$ | async) && isNavMenuOpened) || !(isHandset$ | async))"></nav-section>
</ng-container>

<ng-container *ngIf="isProfileLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>
