<div class="dialog-box">
  <p> You already appear to have an application with this specified interest level. Would you like to set the interest
    for the other position to 0 and the selected one to {{interestLevelData.level}}.</p>

  <div class="application-btn-center">
    <action-button class="application-no-thanks-btn " type="flat" title="No Thanks" color="warning"
      (click)="onNoClick()">
    </action-button>
    <action-button class=" application-submit-btn" type="flat" title="OK" color="primary"
      (click)="changeInterestLevel()">
    </action-button>
  </div>
</div>
