<div class="dialog-box">
  <p> Do you want to set the interest for the other position to zero while making the selected one {{interestLevelData.level}}.</p>

  <div class="application-btn-center">
    <action-button class="application-no-thanks-btn " type="flat" title="No Thanks" color="warning" (click)="onNoClick()">
    </action-button>
    <action-button class=" application-submit-btn" type="flat" title="Ok" color="primary" (click)="changeInterestLevel()">
    </action-button>
  </div>
</div>

