<ng-container>
  <div class="edit-title">
  </div>

  <div class="row">
    <div>
      <div class="img-tag">
        <img src="assets/icons/ic_people_1.svg">
        <label>Jack Richard</label>
        <a>Los Angeles, California, USA</a>
      </div>
      <div class="img-tag">
        <img src="assets/icons/ic_people_2.svg">
        <label>Ryan Sandoval</label>
        <a>Los Angeles, California, USA</a>
      </div>
      <div class="img-tag">
        <img src="assets/icons/ic_people_3.svg">
        <label>Ryan Sandoval</label>
        <a>Los Angeles, California, USA</a>
      </div>
      <div class="img-tag">
        <img src="assets/icons/ic_people_4.svg">
        <label>Ryan Sandoval</label>
        <a>Los Angeles, California, USA</a>
      </div>
      <div class="img-tag">
        <img src="assets/icons/ic_people_5.svg">
        <label>Ryan Sandoval</label>
        <a>Los Angeles, California, USA</a>
      </div>
      <div class="img-tag">
        <img src="assets/icons/ic_people_6.svg">
        <label>Ryan Sandoval</label>
        <a>Los Angeles, California, USA</a>
      </div>
    </div>
  </div>
</ng-container>