<ng-container>
  <div class="edit-title">
    <a *ngIf="currentPage === 'contacts'" (click)="navigateToIncomingRequests()">Incoming Requests</a>
    <a *ngIf="currentPage === 'incoming-requests'" (click)="navigateToContacts()">Contacts</a>
  </div>

  <div *ngIf="userContactsList && userContactsList.length > 0" class="row">
    <div>
      <div *ngFor="let contact of userContactsList" class="img-tag">
        <img src="{{ contact.photo ? contact.photo : 'assets/icons/no_photo.png' }}">
        <label>{{ contact.first_name + ' ' + contact.last_name }}</label>
        <a>{{(contact.city_id ? contact.city : '') + (contact.city_id && (contact.state_id || contact.country_id) ? ', ' : '') + (contact.state_id ? contact.state : '') + (contact.state_id && contact.country_id ? ', ' : '') + (contact.country_id ? contact.country : '')}}</a>
      </div>
    </div>
    <div *ngIf="loadMore" class="load-more">
      <action-button type="text" title="See More" color="primary" (click)="getContactsList(offset)"></action-button>
    </div>
  </div>
</ng-container>