<ng-container *ngIf="!isProfileLoading" class="profile-header">
  <header-section
    (updatedGeneralInfoData)="onChangedGeneralInfoData($event)"
    id="header-section"></header-section>
</ng-container>

<ng-container *ngIf="!isProfileLoading">
  <legend id="legend">
    <div class="nav-title" (click)="onClickTogggle()">
      <h3 class="section-title">Profile</h3>
      <mat-icon>menu</mat-icon>
    </div>
    <a *ngIf="!editMode && currentPage === 'profile'" (click)="onClickEdit()">Edit Profile</a>
    <a *ngIf="!editMode && currentPage === 'template'" (click)="onClickEdit()">Edit Template</a>
    <a *ngIf="editMode && (currentPage === 'profile' || currentPage === 'template')" [class.disabled]="(currentPage === 'profile' && !headerFormValid)" (click)="onClickUpdate()">Update Changes</a>
    <a *ngIf="!editMode && currentPage === 'contacts'" (click)="navigateToIncomingRequests()">Incoming Requests</a>
    <a *ngIf="!editMode && currentPage === 'incoming-requests'" (click)="navigateToContacts()">Contacts</a>
  </legend>
  <router-outlet></router-outlet>
  <nav-section 
    [headerFormValid]="headerFormValid" (clickUpdate)="onClickUpdate()"
    (selectedNavItem)="onSelectNavItem($event)" [isOpened]="isNavMenuOpened"
    [class.nav-hidden]="!((isHandset$ | async) && isNavMenuOpened)" id="nav-section"></nav-section>
</ng-container>

<ng-container *ngIf="isProfileLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>