<ng-container *ngIf="!isProfileLoading" class="profile-header">
  <header-section
    (updatedGeneralInfoData)="onChangedGeneralInfoData($event)"
    id="header-section"></header-section>
</ng-container>

<ng-container *ngIf="!isProfileLoading">
  <legend id="legend">
    <div class="nav-title" (click)="onClickTogggle()">
      <h3 class="section-title">Profile </h3>
      <mat-icon>menu</mat-icon>
    </div>
    <ng-container *ngIf="currentPage === 'profile'">
      <a *ngIf="!editMode" (click)="onClickEdit()">Edit Profile</a>
      <a *ngIf="editMode" [class.disabled]="!headerFormValid" (click)="onClickUpdate()">Update</a>
    </ng-container>
    <a *ngIf="!editMode && currentPage === 'contacts'" (click)="navigateToIncomingRequests()">Incoming Requests</a>
    <a *ngIf="!editMode && currentPage === 'incoming-requests'" (click)="navigateToContacts()">Contacts</a>
    <ng-container *ngIf="currentPage === 'template'">
      <a *ngIf="!editMode" (click)="onClickEdit()">Edit Template</a>
      <a *ngIf="editMode" [class.disabled]="false" (click)="onClickUpdate()">Update</a>
    </ng-container>
  </legend>
  <router-outlet></router-outlet>
  <nav-section
    [headerFormValid]="headerFormValid" (clickUpdate)="onClickUpdate()"
    (selectedNavItem)="onSelectNavItem($event)" [isOpened]="isNavMenuOpened"
    [class.nav-hidden]="!((isHandset$ | async) && isNavMenuOpened)" id="nav-section"></nav-section>
</ng-container>

<ng-container *ngIf="isProfileLoading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-container>
