<ng-container> 
  <div class="row">
    <h3> About Company </h3>
    <p>Brand Studio is a passionate team of creative thinkers and marketers. We protect and promote Google’s brand and reputation through programs, products and narrative experiences that express Google’s values in action across the world. As part of our team, you’ll define and create the visual and strategic elements that comprise Google’s brand and product identities.</p>
  </div>
  <div class="row">
    <h3> Company Industry </h3>
    <p> Primary Industry 1</p>
    <simple-tag type="gray" title="Information Technology"></simple-tag>
    <p> Primary Industry 3</p>
    <simple-tag type="gray" title="Administration"></simple-tag>
    <simple-tag type="gray" title="Machine Learning"></simple-tag>
    <simple-tag type="gray" title="Human Resources"></simple-tag>
  </div>
  <div class="row">
    <h3> External Resources </h3>
    <action-button type="stroked" title="Linkedin"></action-button>
    <action-button type="stroked" title="Facebook"></action-button>
  </div>
  <div class="row">
    <h3> Terms and Conditions </h3>
    <p>Brand Studio is a passionate team of creative thinkers and marketers. We protect and promote Google’s brand and reputation through programs, products and narrative experiences that express Google’s values in action across the world. As part of our team, you’ll define and create the visual and strategic elements that comprise Google’s brand and product identities.</p>
  </div>
</ng-container>

