
// Custom Theming for Angular Material
@import '~@angular/material/theming';
@import './variables.scss';

@include mat-core(); // Mixin for the base package

$client-primary: mat-palette($md-cfprimary);
$client-accent: mat-palette($md-cfaccent);
$client-warn: mat-palette($mat-red);
// Create the theme object (a scss map containing all of the palettes).
$client-theme: mat-light-theme($client-primary, $client-accent, $client-warn);

@include angular-material-theme($client-theme);
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/*
    Text Styles
*/
h1, h2, h3, h4 {
    font-family: 'Poppins-Bold', sans-serif;
    color: map-get($md-cfaccent, 500);
}
h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: map-get($md-cfaccent, 500);
}
p {
    font-family: 'Roboto', sans-serif;
    color: map-get($md-cfaccent, 400);
}

button {
    border-radius: 500px !important;
    padding: 10px 40px !important;
}

/*
    Material Overwrites
*/
.mat-form-field-appearance-fill .mat-form-field-flex {
    border: 1px solid map-get($md-cfgray, 500);
}
.mat-form-field-prefix {
    margin-right: 10px;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0.01);
}