@import './../../../styles/variables.scss';

:host {
  display: grid;
  grid-template:
  " hero hero " auto 
  " lege edit " 60px
  " left main-nav " 0
  " left main " auto
  / 300px auto
  ;
  grid-column-gap: 40px;
  padding-bottom: 80px;
  background-color: $secondary-bg-color;
  min-height: calc(100vh - 70px - 80px);
}

.hidden {
  display: none !important;
}

.loading {
  position: absolute;
  width: 100%;
  height: calc(100% - 70px);
  @include flex(column, center, center);
}

legend {
  grid-area: lege;
  margin-left: 40px;
  @include flex(row, center, flex-start);
  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
    color: rgba(map-get($md-cfaccent, 500), .24);
  }
  mat-icon {
    color: map-get($md-cfprimary, 500);
    display: none;
  }
}

.edit-button {
  grid-area: edit;
  margin-right: 40px;
  @include flex(row, center, flex-end);
  a {
    font-size: 12px;
    color: map-get($md-cfprimary, 500);
    @include disable-select();
    cursor: pointer;
  }
}

.section-title {
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  :host {
    display: grid;
    grid-template:
    " hero hero " auto 
    " lege edit " 60px
    " left main-nav " auto
    " left main " auto
    / 0 auto
    ;
    grid-column-gap: 0;
  }
  legend {
    grid-area: edit;
    h3 {
      color: map-get($md-cfprimary, 500);
    }
    mat-icon {
      display: block;
    }
  }
}

@media only screen and (max-width: 480px) {
  legend {
    grid-area: edit;
    margin-left: 20px;
  }
  .edit-button {
    margin-right: 20px;
  }
}

//TODO: On mobile view get the search panel to open and close...
